Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 7.0.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml

Clean template: richtext markup and empty classes
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
Due: none

Add block to the styleguide
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Add 'caption' to four-photo collage
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.yaml
Due: lint:format

Homepage redesign
  docs/front-end/grid.md
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/atoms/icons/background-swirls.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_division-signpost.scss
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_home-page-hero.scss
  tbx/static_src/sass/components/_home-page-intro.scss
  tbx/static_src/sass/components/_logo.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_rich-text.scss
  tbx/static_src/sass/components/_swirls.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Hide new icons from screen reader
  tbx/project_styleguide/templates/patterns/atoms/icons/background-swirls.html
Due: none

Fix SVG console error
  tbx/project_styleguide/templates/patterns/atoms/icons/background-swirls.html
Due: none

Update main heading styles
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--event.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--team.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/wagtail/password_required.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

Update fonts docs
  docs/front-end/fonts.md
  docs/infrastructure.md
Due: lint:format

Create a dedicated accessible link text field
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
Due: lint:format

Add featured services block to Division Page
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.yaml
Due: lint:format

Add statistics group block to Division Page
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.yaml
Due: lint:format

Add a label format to NumericStatisticsBlock
  tbx/core/blocks.py
Due: none

Update color themes dark mode
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.html
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/project_styleguide/templates/patterns/styleguide_base.html
  tbx/static_src/sass/base/_base.scss
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_division-signpost.scss
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_form.scss
  tbx/static_src/sass/components/_home-page-intro.scss
  tbx/static_src/sass/components/_instagram-gallery.scss
  tbx/static_src/sass/components/_mailchimp.scss
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/components/_promo.scss
  tbx/static_src/sass/components/_report-in-page-nav.scss
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/components/_skip-link.scss
  tbx/static_src/sass/components/_table.scss
  tbx/static_src/sass/components/_tabs-mobile.scss
  tbx/static_src/sass/components/_tabs.scss
  tbx/static_src/sass/components/_values.scss
  tbx/static_src/sass/components/_work-sections.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Linting
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Clean code
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide_base.html
  tbx/static_src/sass/components/_avatar.scss
Due: lint:css, lint:format

Linting
  docs/infrastructure.md
Due: lint:format

Fix linting issue from previous merge
  docs/infrastructure.md
Due: lint:format

Remove newline at end of file
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Update typography, newsletter link, and logos
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Finetune newsletter link and heading-text typography styles
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Replace deprecated methods
  tbx/blog/tests/test_models.py
  tbx/work/tests/test_models.py
Due: none

Replace deprecated method assertQuerysetEqual
  tbx/blog/tests/test_models.py
  tbx/work/tests/test_models.py
Due: none

Revert "Merge branch 'chore/docker-compose_to_docker_compose' into staging"
  Dockerfile
  docker-compose.yml
  docker/docker-compose-frontend.yml
  fabfile.py
Due: lint:format

Make gunicorn non-optional
  poetry.lock
  pyproject.toml
Due: none

Remove increased underline-offset in newsletter link
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Draft intro with images block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/introduction_with_images_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/introduction_with_images_block.yaml
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_intro-with-images.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add small_caption to FourPhotoCollageBlock
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.yaml
Due: lint:format

Numeric stats group block FE
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_stats-group.scss
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Fix formatting
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.html
Due: none

Division page FE
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/introduction_with_images_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/introduction_with_images_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_intro-with-images.scss
Due: lint:css, lint:format

Fine-tune layout
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Update stats font size and weight
  tbx/static_src/sass/components/_stats.scss
Due: lint:css, lint:format

Create ServiceAreaPage model
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.html
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.yaml
  tbx/services/blocks.py
  tbx/services/models.py
Due: lint:format

Create DivisionMixin
  tbx/core/utils/models.py
  tbx/services/models.py
Due: none

Add page factories for the services module
  tbx/core/tests/test_models.py
  tbx/services/factories.py
Due: none

Create story components for ServiceAreaPage
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.yaml
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.html
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.yaml
Due: lint:format

Make schema migration
  tbx/services/migrations/0024_serviceareapage.py
Due: none
