Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

allow title on blog and work page to take up more room
  tbx/static_src/sass/components/_streamfield-old.scss
Due: lint:css, lint:format

Update styles for historical work page
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
  tbx/static_src/sass/components/_author.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/_work-hero.scss
  tbx/static_src/sass/components/_work-meta.scss
  tbx/static_src/sass/components/_work-page-author.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

squash migrations
  tbx/work/migrations/0018_work_page_changes.py
  tbx/work/migrations/0019_add_logo_to_work_page.py
  tbx/work/migrations/0020_make_work_page_client_field_required.py
Due: none

WIP commit
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.html
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/static_src/sass/components/_work-hero.scss
  tbx/work/migrations/0018_make_work_page_image_compulsory.py
  tbx/work/models.py
Due: lint:css, lint:format

Sort yaml for work pages and tweak listing image
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_work.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_work.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.md
  tbx/static_src/sass/components/_listing-image.scss
  tbx/work/models.py
Due: lint:css, lint:format

Fixes for validator
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/static_src/sass/components/_work-sections.scss
Due: lint:css, lint:format

remove old streamfield file that should not have been committed
  tbx/static_src/sass/components/_streamfield-old.scss
Due: lint:css, lint:format

WIP commit for the work page
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_work-hero.scss
  tbx/static_src/sass/components/_work-sections.scss
  tbx/static_src/sass/main.scss
  tbx/work/migrations/0019_add_logo_to_work_page.py
  tbx/work/migrations/0020_make_work_page_client_field_required.py
  tbx/work/models.py
Due: lint:css, lint:format

wip commit for work page
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/_work-page-author.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

tweak filter for logo
  tbx/static_src/sass/components/_work-hero.scss
Due: lint:css, lint:format

css tweak and run black
  tbx/static_src/sass/components/_avatar.scss
  tbx/work/models.py
Due: lint:css, lint:format

get the first intro block in a cached property rather than looping
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
  tbx/work/models.py
Due: none

Sort out some issues with the yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
Due: lint:format

high contrast mode fix
  tbx/static_src/sass/components/_work-hero.scss
Due: lint:css, lint:format

Position stats in grid
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_numeric.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.html
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Revert c392c06d0c72d2f81c410b75d0eed653f1fd38e4
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
  tbx/work/models.py
Due: none

Regenerate migrations after rebase
  tbx/work/migrations/0019_work_page_changes.py
Due: none

fix work page yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_service.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_work.yaml
Due: lint:format

remove duplicate classname
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
Due: none

Front-end for work page and historical work page (#72)
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_numeric.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_service.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_work.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_work.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.md
  tbx/static_src/sass/components/_author.scss
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing-image.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/_work-hero.scss
  tbx/static_src/sass/components/_work-meta.scss
  tbx/static_src/sass/components/_work-page-author.scss
  tbx/static_src/sass/components/_work-sections.scss
  tbx/static_src/sass/main.scss
  tbx/work/migrations/0019_work_page_changes.py
  tbx/work/models.py
Due: lint:css, lint:format

Updated the listing image block following design changes
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/static_src/sass/components/_listing-image.scss
  tbx/static_src/sass/components/_listing.scss
Due: lint:css, lint:format

remove client
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
Due: none

make sure portrait logos render correctly on featured case study
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Updated the listing image block following design changes (#75)
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/static_src/sass/components/_listing-image.scss
  tbx/static_src/sass/components/_listing.scss
Due: lint:css, lint:format

Rewrite WorkIndexPage to accomodate both WorkPages and HistoricalWorkPages
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_listing.html
  tbx/work/migrations/0017_remove_workindexpage_intro.py
  tbx/work/models.py
Due: lint:format

Add missing tag_link_base arg
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

Fix tag_link_base
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
Due: none

Fix bugs in WorkIndexPage.works
  tbx/work/models.py
Due: none

Recreate migrations after rebasing onto integration branch
  tbx/work/migrations/0018_remove_workindexpage_intro.py
Due: none

Update migrations
  tbx/work/migrations/0020_remove_workindexpage_intro.py
Due: none

allow motif aria-label to be overridden and add to heading twos
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

add letter motifs and move drop cap styles to a class
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.yaml
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

separate svgs and tweak animation
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

update typography to use includes
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
Due: none

update lagoon dark motif
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

remove passing the title through
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
Due: none

add more to the docs re. the aria-label
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.md
Due: lint:format

add a note about the motif background images
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

update classes in docs
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.md
Due: lint:format

only include drop cap styles on first letter for section title
  tbx/static_src/sass/components/_section-title.scss
Due: lint:css, lint:format
