Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

update motif heading class name
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
Due: none

[3100] Showcase block for homepage - FE refinements following internal design feedback and review (#203)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

squash migrations and code review feedback
  tbx/impact_reports/blocks.py
  tbx/impact_reports/migrations/0002_impact_report_amend_fields.py
  tbx/impact_reports/migrations/0002_update_impact_report_fields.py
Due: none

WIP: FE | Impact Report page styles (#197)
  docs/front-end/impact-report.md
  mkdocs.yml
  tbx/impact_reports/blocks.py
  tbx/impact_reports/migrations/0002_update_impact_report_fields.py
  tbx/impact_reports/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_impact_report.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_impact_report.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_instagram-gallery.scss
  tbx/static_src/sass/components/_report-in-page-nav.scss
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/components/_small-image-with-text.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add authors to the impact report, and rename the work-page-authors component now that it is used elsewhere
  tbx/impact_reports/models.py
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/static_src/sass/components/_author.scss
  tbx/static_src/sass/components/_authors-wide.scss
  tbx/static_src/sass/components/_work-page-author.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Update the pattern library
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
Due: lint:format

Catch another ref to work-page-authors
  tbx/static_src/sass/components/_avatar.scss
Due: lint:css, lint:format

Add no_events_message to EventIndexPage
  tbx/events/migrations/0006_eventindexpage_no_events_message.py
  tbx/events/models.py
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
Due: lint:format

Read SEO_NOINDEX var from env and add to context
  tbx/core/context_processors.py
  tbx/settings/base.py
Due: none

Read SEO_NOINDEX var from env and add to context (#207)
  tbx/core/context_processors.py
  tbx/settings/base.py
Due: none

Make sure links are styled in the 'no events' text
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
Due: none

Message to display when there are no events (#208)
  tbx/events/migrations/0006_eventindexpage_no_events_message.py
  tbx/events/models.py
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
Due: lint:format

Make main showcase title optional
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.yaml
Due: lint:format

update closing tag
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
Due: none

djhtml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
Due: none

Update tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
Due: none

Add custom heroku error page
  tbx/project_styleguide/templates/patterns/pages/errors/heroku_error.html
Due: none

indentation fix and ensure logo is visible in high contrast light mode
  tbx/project_styleguide/templates/patterns/pages/errors/heroku_error.html
Due: none

Update to latest versions of packages
  poetry.lock
Due: none

update npm packages
  package-lock.json
Due: lint:format

Update to use math.div
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/config/_functions.scss
Due: lint:css, lint:format

Remove options to turn off desaturation
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/work/migrations/0032_remove_workpage_remove_desaturation_on_header_image.py
  tbx/work/models.py
Due: none

Update docs
  docs/front-end/sustainability.md
Due: lint:format

Remove saturation filter from several templates
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
Due: lint:format

Update the docs with the link to the implementation of the desaturation filter
  docs/front-end/sustainability.md
Due: lint:format

Cleanup pattern library by removing `saturation-0.6`
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Remove ThreeColumnImageGridBlock
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.yaml
Due: lint:format

Use tbx.core.utils.fields.StreamField on ImpactReportPage
  tbx/impact_reports/migrations/0001_initial.py
  tbx/impact_reports/models.py
Due: none

We don't need impact_reports.ImpactReportAuthor because it's covered by torchbox.PageAuthor
  tbx/impact_reports/models.py
Due: none

Add authors to impact report (#206)
  tbx/impact_reports/models.py
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/static_src/sass/components/_author.scss
  tbx/static_src/sass/components/_authors-wide.scss
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_work-page-author.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Copy pattern library config for impact report from current build
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
Due: lint:format

add impact_reports app
  tbx/impact_reports/__init__.py
  tbx/impact_reports/apps.py
  tbx/impact_reports/blocks.py
  tbx/impact_reports/migrations/__init__.py
  tbx/impact_reports/models.py
  tbx/settings/base.py
Due: none

Remove ParagraphWithQuoteBlock
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.yaml
Due: lint:format

Remove TwoColumnTextGridBlock
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.yaml
Due: lint:format

Add template placeholders for impact reports
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
Due: none

Add database migration
  tbx/impact_reports/migrations/0001_initial.py
Due: none

Remove ParagraphWithImageBlock
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.yaml
Due: lint:format
