Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Add figma colours screenshots to docs
  docs/front-end/themes_and_modes.md
  docs/images/colour-definitions.png
  docs/images/colour-grid.png
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update map on team page
  tbx/static_src/images/map.webp
Due: none

Add dark and light mode for team page map
  tbx/static_src/images/map-dark.webp
  tbx/static_src/images/map-light.webp
  tbx/static_src/images/map.webp
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

Fix issue with the results icon getting clipped at the top
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

Fix action on password required form (#269)
  tbx/project_styleguide/templates/patterns/pages/wagtail/password_required.html
Due: none

navigation styles don't change between dark and light mode, so use color--white for text
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

JS implementation of the site switcher
  tbx/core/context_processors.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/settings/base.py
  tbx/static_src/javascript/components/mode-switcher.js
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

tidy js
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

fix to checked attributes and linting
  tbx/core/context_processors.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

fix ternary
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

Navigation colour changes that didn't get brought across from the rebase against the colours branch
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Update map on team page (#272)
  tbx/static_src/images/map.webp
Due: none

Always use a dark icon for the instagram gallery
  tbx/static_src/sass/components/_instagram-gallery.scss
Due: lint:css, lint:format

Use custom focus style on featured case study
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

Show a border round the desktop sub menu in high contrast mode
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

Add light mode colours (#265)
  docs/front-end/themes_and_modes.md
  docs/images/colour-definitions.png
  docs/images/colour-grid.png
  tailwind.config.js
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/styleguide_base.html
  tbx/static_src/images/map-dark.webp
  tbx/static_src/images/map-light.webp
  tbx/static_src/images/map.webp
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_event-block.scss
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_instagram-gallery.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_pullquote.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/components/_skip-link.scss
  tbx/static_src/sass/components/_table.scss
  tbx/static_src/sass/components/_title-filters.scss
  tbx/static_src/sass/components/_work-hero.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Linting
  tbx/project_styleguide/templates/patterns/base.html
Due: none

linting
  tbx/project_styleguide/templates/patterns/base.html
Due: none

Show a border round the desktop sub menu in high contrast mode (#275)
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

Use custom focus style on featured case study (#274)
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

Update the cookie name to be specific to torchbox
  tbx/core/context_processors.py
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

Don't run the mode switcher and set the cookie on page load
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

Fix issue with the results icon getting clipped at the top (#273)
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

JS implementation of mode switcher (#268)
  tbx/core/context_processors.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/settings/base.py
  tbx/static_src/javascript/components/mode-switcher.js
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

fix merge conflict marker
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

Fixes to nav text colours after merge
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Update references to 'mode' cookie to be 'torchbox-mode'
  tbx/core/tests/test_views.py
  tbx/core/views.py
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

Another update to the map on the team page
  tbx/static_src/images/map.webp
Due: none

Update the maps used on the team page
  tbx/static_src/images/map-dark.webp
  tbx/static_src/images/map-light.webp
Due: none

Update the maps used on the team page (#277)
  tbx/static_src/images/map-dark.webp
  tbx/static_src/images/map-light.webp
Due: none

Serverside implementation of mode switcher (#271)
  tbx/core/errors.py
  tbx/core/forms.py
  tbx/core/tests/test_views.py
  tbx/core/views.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/javascript/components/mode-switcher.js
  tbx/urls.py
Due: lint:js, lint:format

Styling of the site switcher buttons
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/site_switcher/site_switcher.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_site-switcher.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

rename site-switcher to mode-switcher
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/project_styleguide/templates/patterns/molecules/site_switcher/site_switcher.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Increase the menu breakpoint to accommodate the site switcher
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_site-switcher.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Further work on site switcher styling - Tweak size of site switcher icons - Re-name a css class - Re-purpose colour--accent-five to be the inverse highlight for the theme
  tbx/project_styleguide/templates/patterns/molecules/site_switcher/site_switcher.html
  tbx/static_src/sass/components/_site-switcher.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Add action to form
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
Due: none

Update icon colours according to the selected radio button
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/static_src/sass/components/_mode-switcher.scss
Due: lint:css, lint:format

Styling when js is disabled
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_mode-switcher.scss
Due: lint:css, lint:format

Mobile tweaks, duplicate ids, pattern library fix, accessibility fix
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.yaml
  tbx/static_src/sass/components/_mode-switcher.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
