Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Fix typos / spellings in README
  README.md
Due: lint:format

Add basic search page / results templates and styling
  tbx/project_styleguide/templates/patterns/molecules/search-result/search-result.html
  tbx/project_styleguide/templates/patterns/molecules/search-result/search-result.yml
  tbx/project_styleguide/templates/patterns/pages/search/search.html
  tbx/project_styleguide/templates/patterns/pages/search/search.yml
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_search-header.scss
  tbx/static_src/sass/components/_search-results.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Always mark search results as noindex
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/pages/search/search.html
Due: none

Use the default per page setting in most paginators
  tbx/blog/models.py
  tbx/events/models.py
  tbx/work/models.py
Due: none

Lint
  tbx/static_src/sass/components/_search-header.scss
Due: lint:css, lint:format

Tidy up code comments
  tbx/events/models.py
  tbx/work/models.py
Due: none

chore: fix formatting
  tbx/events/models.py
  tbx/work/models.py
Due: none

chore: update search pattern library yaml
  tbx/project_styleguide/templates/patterns/molecules/search-result/search-result.yml
  tbx/project_styleguide/templates/patterns/pages/search/search.yml
Due: lint:format

Bump Django to security release 5.2.15
  poetry.lock
Due: none

Bump Wagtail to 7.4
  poetry.lock
  pyproject.toml
Due: none

update packages flagged by trivy
  poetry.lock
  pyproject.toml
Due: none

further update python packages
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lint:format

upgrade node packages
  package-lock.json
  package.json
Due: lint:format

switch from bookworm to trixie
  Dockerfile
Due: none

update faker and gunicorn major versions
  poetry.lock
  pyproject.toml
Due: none

uninstall url-loader
  package-lock.json
  package.json
Due: lint:format

further upgrade node packages
  .eslintrc.js
  package-lock.json
  package.json
  tailwind.config.js
  tbx/static_src/sass/components/_mailchimp.scss
  tbx/static_src/sass/main.scss
  tsconfig.json
  webpack.config.js
Due: lint:js, lint:css, lint:format

fix Tailwind 4 production build OOM by scoping source detection
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

allow lightnighcss install through disabling no-optional flag
  Dockerfile
Due: none

update dockerfile to fix memory issue
  Dockerfile
Due: none

install wagtail-ai
  docs/custom-features/wagtail-ai.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tbx/settings/base.py
Due: lint:format

change cascading load order to fix issues caused by the tailwind 4 upgrade.
  .stylelintrc.js
  tbx/static_src/css/tailwind.css
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/main.scss
  webpack.config.js
Due: lint:js, lint:css, lint:format

apply dockerfile fixes
  Dockerfile
  docker-compose.yml
Due: lint:format

fix tailwind layer detection
  tbx/static_src/css/tailwind.css
Due: lint:css, lint:format

Linting and removing search feature that already exists as a seperate MR
  docs/navigation.md
  tbx/core/tests/test_views.py
  tbx/core/urls.py
  tbx/core/views.py
  tbx/navigation/migrations/0010_migrate_primary_nav_from_child_display_behaviour.py
  tbx/navigation/models.py
  tbx/navigation/templatetags/navigation_tags.py
  tbx/navigation/tests/test_navigation_settings.py
  tbx/navigation/utils.py
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/navigation/components/header-actions.html
  tbx/project_styleguide/templates/patterns/navigation/components/header-actions.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/header-search-overlay.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/pages/search/search.html
  tbx/settings/base.py
  tbx/static_src/javascript/components/header-search.js
  tbx/static_src/javascript/components/header-search.test.js
  tbx/static_src/javascript/components/primary-desktop-sub-menu.js
  tbx/static_src/javascript/components/primary-mobile-menu.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
Due: lint:js, lint:css, lint:format

strip leftover search styles
  tbx/project_styleguide/templates/patterns/navigation/components/header-actions.html
  tbx/static_src/sass/components/_header.scss
Due: lint:css, lint:format

bump wagtail to security version 7.4.2
  poetry.lock
Due: none

New header tweaks
  tbx/navigation/migrations/0010_migrate_primary_nav_from_child_display_behaviour.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
Due: lint:css, lint:format

Codex review
  .github/workflows/test.yml
  tbx/navigation/migrations/0010_migrate_primary_nav_from_child_display_behaviour.py
  tbx/navigation/models.py
  tbx/navigation/templatetags/navigation_tags.py
  tbx/navigation/tests/test_navigation_settings.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/javascript/components/primary-mobile-menu.js
Due: lint:js, lint:format

Accessibility tweaks
  package-lock.json
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/static_src/javascript/components/primary-mobile-menu.js
  tbx/static_src/javascript/components/primary-mobile-sub-menu.js
  tbx/static_src/javascript/components/primary-mobile-sub-menu.test.js
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Documenting nav updates
  docs/navigation.md
  tbx/navigation/models.py
Due: lint:format

Renaming main and supporting and adding auto and manual logic for dropdowns
  docs/navigation.md
  tbx/navigation/blocks.py
  tbx/navigation/tests/test_link_block.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
  tbx/project_styleguide/templates/patterns/navigation/components/dropdown-mixed-list.md
  tbx/project_styleguide/templates/patterns/navigation/components/dropdown-mixed-list.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/dropdown-taxonomy-index.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/dropdown-teaser-grid.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mixed-list.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-taxonomy-index.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-teaser-grid.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
Due: lint:css, lint:format

Fixing page_url.rstrip issue when page is not published
  docs/navigation.md
  tbx/navigation/blocks.py
  tbx/navigation/migrations/0012_alter_navigationsettings_primary_navigation.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
Due: lint:format

Fix CI lint and harden primary nav current-page tests.
  tbx/navigation/migrations/0012_alter_navigationsettings_primary_navigation.py
  tbx/navigation/tests/test_nav_utils.py
Due: none

Fix ruff import order in navigation migration 0012.
  tbx/navigation/migrations/0012_alter_navigationsettings_primary_navigation.py
Due: none

Customing the design of the dropdowns
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-footer.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mixed-list.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-taxonomy-index.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-teaser-grid.html
  tbx/static_src/javascript/components/desktop-close-menus.js
  tbx/static_src/javascript/components/primary-desktop-sub-menu.js
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Fixing hover colours
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
Due: lint:css, lint:format

linting
  tbx/static_src/javascript/components/desktop-close-menus.js
  tbx/static_src/javascript/components/primary-desktop-sub-menu.js
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
Due: lint:js, lint:css, lint:format

further linting
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
