Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 7.0.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml

Add new fields, remove introduction
  tbx/core/models.py
Due: none

Make migrations
  tbx/core/migrations/0038_remove_homepage_introduction_homepage_hero_heading_and_more.py
Due: none

Convert markdown to html
  poetry.lock
  pyproject.toml
  tbx/core/models.py
  tbx/core/utils/formatting.py
Due: none

Update HomePageFactory
  tbx/core/factories.py
  tbx/navigation/tests/test_link_block.py
Due: none

Display the new fields in the homepage
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
Due: lint:format

Replace markdown with 2 fields instead
  poetry.lock
  pyproject.toml
  tbx/core/migrations/0038_remove_homepage_introduction_homepage_hero_heading_and_more.py
  tbx/core/models.py
  tbx/core/utils/formatting.py
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
Due: lint:format

Update homepage factory
  tbx/core/factories.py
Due: none

Fix pattern library YAML file
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
Due: lint:format

Add division signpost block (BE)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/settings/base.py
Due: none

Use firstof instead of a StructValue
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
Due: none

Move Colour Theme help text to the FieldPanel so we can edit it without creating a migration
  tbx/core/utils/models.py
Due: none

Update available theme colours
  tbx/core/utils/models.py
Due: none

Make migrations
  tbx/blog/migrations/0027_update_theme_colour_choices.py
  tbx/core/migrations/0038_update_theme_colour_choices.py
  tbx/events/migrations/0009_update_theme_colour_choices.py
  tbx/impact_reports/migrations/0005_update_theme_colour_choices.py
  tbx/people/migrations/0011_update_theme_colour_choices.py
  tbx/services/migrations/0023_update_theme_colour_choices.py
  tbx/work/migrations/0036_update_theme_colour_choices.py
Due: none

Update documentation
  docs/custom-features/theme.md
  docs/front-end/themes_and_modes.md
Due: lint:format

Update unit tests
  tbx/core/tests/test_colour_theme.py
Due: none

Convert b & i tags into span tags
  tbx/core/models.py
  tbx/core/utils/formatting.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Add comments
  tbx/core/utils/formatting.py
Due: none

Footer restyle
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/navigation/_footerlinks-nav.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update yamls for pattern library
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Fine-tune newsletter link styles in wrapped state
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Bump Python to 3.12
  .github/workflows/flightpath.yml
  .github/workflows/flightpath_status_check.yml
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: lint:format

Gunicorn is not an extra
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

Bump various package versions
  poetry.lock
  pyproject.toml
Due: none

Bump Wagtail to 6.3
  poetry.lock
  pyproject.toml
  tbx/images/migrations/0002_customimage_description.py
Due: none

Bump Django to 5.1.x
  poetry.lock
  pyproject.toml
  tbx/core/tests/test_views.py
  tbx/core/wagtail_hooks.py
  tbx/settings/base.py
Due: none

Run pypgrade with py312-plus
  fabfile.py
  tbx/blog/feeds.py
  tbx/core/blocks.py
  tbx/core/fields.py
  tbx/core/tests/test_views.py
  tbx/core/utils/cache.py
  tbx/people/models.py
Due: none

Bump Python to 3.13
  .github/workflows/flightpath.yml
  .github/workflows/flightpath_status_check.yml
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: lint:format

Use filetype instead of imghdr
  tbx/blog/feeds.py
Due: none

Use psycopg3
  poetry.lock
  pyproject.toml
Due: none

Switch to using 'docker compose'
  fabfile.py
Due: none

Drop version from docker-compose.yml
  docker-compose.yml
  docker/docker-compose-frontend.yml
Due: lint:format

Update Dockerfile after build checks
  Dockerfile
Due: none

Update default button font size
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Update newsletter link styles
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Update carbon impact container width
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

Clean code
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading4_block.html
  tbx/project_styleguide/templates/patterns/pages/errors/404.html
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_form.scss
  tbx/static_src/sass/components/_mailchimp.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Draft division signpost blocks
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
  tbx/static_src/sass/components/_division-signpost.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format
