Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

lazy load partner logos unless we're on the homepage
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
Due: none

lint
  tbx/core/models.py
Due: none

Improve Person page related posts/works output
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
Due: lint:format

Improve work page related works
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/work/models.py
Due: lint:format

Improve the WorkPageBlock queries
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
Due: lint:format

Prefetch renditions on various pages
  tbx/core/blocks.py
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/work/models.py
Due: lint:format

Optimize the blog listing page
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
Due: lint:format

Prefetch renditions for PartnersBlock
  tbx/services/blocks.py
Due: none

Use pageurl in nav templates
  tbx/project_styleguide/templates/patterns/navigation/components/footer-links.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
Due: lint:format

Use wagtailcache for nav caching and add footer links to the mix
  tbx/navigation/models.py
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Optimize the blog post page
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
Due: lint:format

Tidy up post code review
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
Due: none

Switch to using a custom image chooser block that prefetches all renditions
  tbx/core/blocks.py
  tbx/impact_reports/blocks.py
  tbx/navigation/blocks.py
  tbx/services/blocks.py
Due: none

Further pattern library tweaks
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
Due: lint:format

Fix bug with trying to use pageurl on a non-page
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
Due: lint:format

Add guidelines on accessibility testing, and add the fieldspec to the MR template
  .github/pull_request_template.md
  docs/accessibility-testing.md
  mkdocs.yml
Due: lint:format

Copy zerolab's performance improvements branch so we can see the test failures (#250)
  tbx/blog/models.py
  tbx/core/blocks.py
  tbx/impact_reports/blocks.py
  tbx/navigation/blocks.py
  tbx/navigation/models.py
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/footer-links.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/services/blocks.py
  tbx/work/models.py
Due: lint:format

Add a link to the axe extension for firefox.
  docs/accessibility-testing.md
Due: lint:format

Add guidelines on accessibility testing, and add the fieldspec to the MR template (#251)
  .github/pull_request_template.md
  docs/accessibility-testing.md
  mkdocs.yml
Due: lint:format

Ensure the work chooser block preserves selected page order
  tbx/core/blocks.py
  tbx/core/tests/test_blocks.py
Due: none

Add info about the incident form to the docs
  docs/front-end/incident-form.md
  mkdocs.yml
Due: lint:format

Fix work chooser block to filter out unpublished pages
  tbx/core/blocks.py
  tbx/core/tests/test_blocks.py
Due: none

Ensure the work chooser block preserves selected page order (#252)
  tbx/core/blocks.py
  tbx/core/tests/test_blocks.py
Due: none

Add info about the incident form to the docs (#253)
  docs/front-end/incident-form.md
  mkdocs.yml
Due: lint:format

Bump gunicorn to ^22.0.0
  poetry.lock
  pyproject.toml
Due: none

Add a table block and small tweak to report section headings
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/typed_table_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/typed_table_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/settings/base.py
  tbx/static_src/javascript/components/table-hint.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/components/_table.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

linting
  tbx/core/blocks.py
Due: none

high contrast mode fixes
  tbx/static_src/sass/components/_table.scss
Due: lint:css, lint:format

Hide button and hint if js is disabled
  tbx/static_src/sass/components/_table.scss
Due: lint:css, lint:format

Add stats to the impact report page
  tbx/core/blocks.py
  tbx/impact_reports/blocks.py
  tbx/static_src/sass/components/_grid.scss
  tbx/work/blocks.py
Due: lint:css, lint:format

Remove unused import
  tbx/work/blocks.py
Due: none

Add stats blocks to impact report page in pattern library
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.html
Due: none

Add earth theme
  docs/custom-features/theme.md
  docs/front-end/themes_and_modes.md
  tbx/blog/migrations/0026_add_earth_colour_theme.py
  tbx/core/migrations/0034_add_earth_colour_theme.py
  tbx/core/utils/models.py
  tbx/events/migrations/0008_add_earth_colour_theme.py
  tbx/impact_reports/migrations/0004_add_earth_colour_theme.py
  tbx/people/migrations/0009_add_earth_colour_theme.py
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/project_styleguide/templates/patterns/styleguide_base.html
  tbx/services/migrations/0022_add_earth_colour_theme.py
  tbx/static_src/sass/config/_variables.scss
  tbx/work/migrations/0034_add_earth_colour_theme.py
Due: lint:css, lint:format

Update the colour theme tests to make use of the earth theme
  tbx/core/tests/test_colour_theme.py
Due: none

prefers reduced motion changes
  tbx/static_src/javascript/components/table-hint.js
  tbx/static_src/sass/components/_table.scss
Due: lint:js, lint:css, lint:format

high contrast mode fixes for quote icon and featured case study results icon
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.html
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_pullquote.scss
Due: lint:css, lint:format

Add a table block and small tweak to report section headings (#255)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/typed_table_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/typed_table_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/settings/base.py
  tbx/static_src/javascript/components/table-hint.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/components/_table.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format
