Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Prepare Events listing filters
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--event.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--event.yaml
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

Prepare Events listing item component
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.yaml
  tbx/static_src/sass/components/_listing-event.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Create BaseEventBlock
  tbx/core/blocks.py
Due: none

Replace inline field events with streamfield blocks
  tbx/events/models.py
Due: none

Add an imageless variant of the Events listing item component
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event--no-image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event--no-image.yaml
Due: lint:format

Style Events listing page
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
  tbx/static_src/sass/components/_page-listing.scss
Due: lint:css, lint:format

Add empty events listing page variant
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.yaml
Due: lint:format

Make schema migrations
  tbx/events/migrations/0005_eventindexpage_events_delete_event.py
Due: none

Delete unused event-item.html/yaml
  tbx/project_styleguide/templates/patterns/molecules/event-item/event-item.html
  tbx/project_styleguide/templates/patterns/molecules/event-item/event-item.yaml
Due: lint:format

(BE) Featured Case Study block: Add numeric results block
  tbx/core/blocks.py
Due: none

(FE) Featured Case Study block: Display numeric results block if available
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
Due: lint:format

(FE) Featured Case Study block: Style new numeric results
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

(FE) Featured Case Study block: Make full-width on mobile
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

(FE) Featured Case Study block: Image should only stick to the left edge on mobile
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

(FE) Featured Case Study block: Remove results icon on mobile
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

Update copy for no upcoming events
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
Due: none

Use the paginator.get_page(page) method
  tbx/people/models.py
Due: none

Quote block: 24px font size on mobile
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/static_src/sass/base/_typography.scss
Due: lint:css, lint:format

New showcase block
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.md
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format

Add new showcase block to pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

Numeric statistics block: Full-width on small mobile screens
  docs/front-end/breakpoints.md
  tailwind.config.js
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Numeric statistics block: Tighten spacing between components
  tbx/static_src/sass/components/_stats.scss
Due: lint:css, lint:format

Case Study / Work page hero: Align image to left edge on mobile
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_image.scss
Due: lint:css, lint:format

tweaks from accessibility and cross-browser testing
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format

linting
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
Due: none

Case Study / Work page hero: Increase aspect ratio to 16:9
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format

Wide image block: Align image to right edge on mobile
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Photo collage block: Add margin-bottom
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Promo & event blocks: Align block to right edge on mobile
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Use paginator.get_page
  tbx/events/models.py
Due: none

Move event listing item preview to components.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event--no-image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event--no-image.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

(BE) Featured Case Study block: Start block with 0 numeric results
  tbx/core/blocks.py
Due: none

Featured Case Study block: Reduce spacing between block & partners
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Case Study / Work page hero: Decrease breakpoint
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
Due: none

Style 500 error page
  tbx/project_styleguide/templates/patterns/pages/errors/500.html
Due: none

Increase error code opacity for WCAG
  tbx/project_styleguide/templates/patterns/pages/errors/500.html
Due: none

Add 2XL breakpoint in Tailwind to match variables.scss
  tailwind.config.js
Due: lint:js, lint:format

Convenience fab command sh-root, to log in as root
  fabfile.py
Due: none

Add the broken matchstick SVG
  tbx/project_styleguide/templates/patterns/atoms/icons/broken-matchstick-icon.html
  tbx/static_src/sass/components/_icon.scss
Due: lint:css, lint:format

Style 404 error page
  tbx/project_styleguide/templates/patterns/pages/errors/404.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_icon.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
