Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.9.1' # keep in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml

Add primary nav hover styles, fix secondary navigation submenu arrow transition
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

Modify footer cta title and featured services description styles
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/static_src/sass/components/_featured-services.scss
  tbx/static_src/sass/components/_footer-cta.scss
Due: lint:css, lint:format

Hide tags section in blog detail template
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

Add smaller font to compact button link variant, add color theme to text stats, tweak secondary nav styles
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.html
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

Add event listener to close mobile menu on primary mobile menu toggle click
  tbx/static_src/javascript/components/mobile-menu.js
Due: lint:js, lint:format

Linting
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

Fix heading mismatch in footer cta
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
Due: none

TWE-44 | Front end fine-tuning (#372)
  tbx/project_styleguide/templates/patterns/atoms/date_and_reading_time/date_and_reading_time.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/javascript/components/dynamic-hero.js
  tbx/static_src/javascript/components/mobile-menu.js
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_featured-services.scss
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_keypoints.scss
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/components/_title-filters.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/taxonomy/tests/test_models.py
Due: lint:js, lint:css, lint:format

Increase division logo sizes
  tbx/static_src/sass/components/_logo.scss
Due: lint:css, lint:format

Update Torchbox logo SVG
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/static_src/sass/components/_logo.scss
Due: lint:css, lint:format

Update actions/deploy-pages version
  .github/workflows/gh-pages.yml
Due: lint:format

Update homepage emissions
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

Display current division for primary mobile menu toggle
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

TWE-50 Only show division-related content on Work and Blog pages
  tbx/blog/models.py
  tbx/blog/tests/test_models.py
  tbx/work/models.py
  tbx/work/tests/test_models.py
Due: none

Add top-level parent page snippet for primary mobile menu toggle
  tbx/navigation/templatetags/navigation_tags.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Tweak primary mobile menu toggle aria label
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Temporarily rever the update to the mobile menu name until we can fix the template tag
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

appease linter
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Close the button tag correctly
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Add chevron icon to mobile menu toggle button
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Check if the page exists in the context
  tbx/navigation/templatetags/navigation_tags.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Update worker
  cloudflare/workers.js
Due: lint:js, lint:format

Don't skip cache for CSRF token cookie
  cloudflare/workers.js
Due: lint:js, lint:format

Upgrade Wagtail to 6.4.1
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: lint:format

Initial upgrading docs update
  docs/upgrading.md
Due: lint:format

Upgrade development dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lint:format

Tidy up a use_json_field leftover from the Wagtail 6 upgrade
  tbx/impact_reports/models.py
Due: none

Remove django-referrer-policy dependency
  poetry.lock
  pyproject.toml
  tbx/settings/base.py
Due: none

Upgrade production dependencies where possible
  poetry.lock
  pyproject.toml
Due: none

Add DATA_UPLOAD_MAX_NUMBER_FIELDS
  tbx/settings/base.py
Due: none

Prevent the preview panel from smooth scrolling when content is updated
  tbx/project_styleguide/templates/patterns/base.html
Due: none

Delete old modeladmin templates
  tbx/taxonomy/templates/taxonomy/admin/delete.html
  tbx/taxonomy/templates/taxonomy/admin/usage.html
Due: none

Update upgrading docs
  docs/upgrading.md
Due: lint:format

Remove un-needed noqa: S308 comments
  tbx/core/blocks.py
  tbx/core/models.py
Due: none

Remove referrer policy setting
  tbx/settings/base.py
Due: none

Update template path
  docs/upgrading.md
Due: lint:format

Get blog posts from the same parent (assumption: there's only one index per division)
  tbx/blog/models.py
Due: none

Get work pages from the same parent (assumption: there's only one index per division)
  tbx/work/models.py
Due: none

Update unit tests
  tbx/blog/tests/test_models.py
  tbx/work/tests/test_models.py
Due: none

Skip tests for related sectors/services
  tbx/taxonomy/tests/test_models.py
Due: none
