Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

A few more fixes for light mode
  tbx/static_src/sass/components/_skip-link.scss
  tbx/static_src/sass/components/_table.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Undo change to default mode for testing
  tbx/project_styleguide/templates/patterns/base.html
Due: none

Bump urllib3 for security fix
  poetry.lock
Due: none

Update styleguide to switch mode as well as theme
  tbx/project_styleguide/templates/patterns/styleguide_base.html
Due: none

earth theme will no longer have a buff background colour
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update runbook re bucket name
  docs/support-runbook.md
Due: lint:format

Remove note about bucket name changing
  docs/support-runbook.md
Due: lint:format

Update runbook re bucket name (#267)
  docs/support-runbook.md
Due: lint:format

Make the styleguide heading sticky to make it to switch themes when scrolling
  tbx/project_styleguide/templates/patterns/styleguide_base.html
Due: none

A few more high contrast mode tweaks
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_pullquote.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Updates to styleguide theme chooser in light mode
  tailwind.config.js
  tbx/project_styleguide/templates/patterns/styleguide_base.html
Due: lint:js, lint:format

JS implementation of the site switcher
  tbx/core/context_processors.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/settings/base.py
  tbx/static_src/javascript/components/mode-switcher.js
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

fix to checked attributes and linting
  tbx/core/context_processors.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

tidy js
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

fix ternary
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

Fix action on password required form
  tbx/project_styleguide/templates/patterns/pages/wagtail/password_required.html
Due: none

Remove refs to google docs from the repo
  .github/pull_request_template.md
  docs/custom-features/contact.md
  docs/custom-features/theme.md
  docs/data-import.md
  docs/external-docs.md
  docs/general-principles.md
Due: lint:format

Add back-end functionality to update the mode if javascript is disabled
  tbx/core/errors.py
  tbx/core/forms.py
  tbx/core/views.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/urls.py
Due: none

Added mode switching tests
  tbx/core/tests/test_views.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Remove refs to google docs from the repo (#270)
  .github/pull_request_template.md
  docs/custom-features/contact.md
  docs/custom-features/theme.md
  docs/data-import.md
  docs/external-docs.md
  docs/general-principles.md
Due: lint:format

Further addition of light mode colours
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_pullquote.scss
  tbx/static_src/sass/components/_work-hero.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

further fixes and tweaks for light mode
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.html
  tbx/static_src/sass/components/_event-block.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Add light mode colours for defaults and the coral theme
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

navigation styles don't change between dark and light mode, so use color--white for text
  tbx/project_styleguide/templates/patterns/base.html
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Revised light mode colours
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

djlint
  tbx/project_styleguide/templates/patterns/base.html
Due: none

Update nebuline-20 colour
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update coral-10 colour
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update lagoon 10
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update banana 10
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Add 'unripe banana' colour
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update green colour
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

fix to nebuline 20 new colour
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Nav updates for light mode, and fix footer carbon colour
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format
