Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 7.0.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml

Styling tweaks to form switcher
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Make sure the torchbox-mode cookie can be read by subdomains
  tbx/core/context_processors.py
  tbx/core/views.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/settings/base.py
  tbx/settings/local.py.example
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

Update tests to test cross domain cookie
  tbx/core/tests/test_views.py
Due: none

Styling tweaks to form switcher (#292)
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Delete address settings
  tbx/core/migrations/0035_remove_address_settings.py
  tbx/core/models.py
Due: none

Delete unused Tag snippet
  tbx/core/migrations/0036_delete_unused_tag_snippet.py
  tbx/core/models.py
Due: none

Remove unused import
  tbx/core/models.py
Due: none

Leave the tag class in place for historical migrations to work
  tbx/core/migrations/0036_delete_unused_tag_snippet.py
  tbx/core/models.py
Due: none

update nav border and underline colour for light and dark mode
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

a11y menu issue when focus moves away (#284)
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/static_src/javascript/components/desktop-sub-menu.js
  tbx/static_src/javascript/components/mobile-menu.js
Due: lint:js, lint:format

Make sure the torchbox-mode cookie can be read by subdomains (#293)
  tbx/core/context_processors.py
  tbx/core/tests/test_views.py
  tbx/core/views.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/settings/base.py
  tbx/settings/local.py.example
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

Refactor mode switcher to be a toggle, and update colours
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/static_src/javascript/components/mode-switcher.js
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Add settings for the cookie page and the digital emissions page (#287)
  tbx/core/context_processors.py
  tbx/core/migrations/0035_add_important_page_settings.py
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
Due: none

Add merge migration
  tbx/core/migrations/0037_merge_20240725_1000.py
Due: none

Improve aria label on mode toggle
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

Light mode - refactor to toggle (#296)
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/static_src/javascript/components/mode-switcher.js
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Add an email text option to the contact snippet (#285)
  docs/custom-features/contact.md
  tbx/people/migrations/0010_add_email_text_field_to_contact.py
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/static_src/sass/components/_footer-cta.scss
Due: lint:css, lint:format

remove pointy cursor from sun and moon icons
  tbx/static_src/sass/components/_mode-switcher.scss
Due: lint:css, lint:format

remove pointy cursor from sun and moon icons (#297)
  tbx/static_src/sass/components/_mode-switcher.scss
Due: lint:css, lint:format

Add wagtail AB testing package
  poetry.lock
  pyproject.toml
  tbx/project_styleguide/templates/patterns/base.html
  tbx/settings/base.py
  tbx/urls.py
Due: none

Use simpler error pages when HTML isn't needed
  tbx/core/tests/test_views.py
  tbx/core/utils/views.py
  tbx/urls.py
Due: none

Cache 404s for 15 minutes
  tbx/core/utils/views.py
Due: none

Test missing and wildcard Accept headers
  tbx/core/tests/test_views.py
  tbx/core/utils/views.py
Due: none

Flip comment
  tbx/core/utils/views.py
Due: none

Update common caching worker
  cloudflare/workers.js
Due: lint:js, lint:format

Include `torchbox-mode` cookie in cache key
  cloudflare/workers.js
Due: lint:js, lint:format

Lint worker
  cloudflare/workers.js
  docker-compose.yml
Due: lint:js, lint:format

Add blog chooser and work chooser blocks to the standard page (#290)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Tech debt - remove old settings (#294)
  tbx/core/migrations/0035_remove_address_settings.py
  tbx/core/migrations/0036_delete_unused_tag_snippet.py
  tbx/core/migrations/0037_merge_20240725_1000.py
  tbx/core/models.py
Due: none

Add light mode colours (#265)
  docs/front-end/themes_and_modes.md
  docs/images/colour-definitions.png
  docs/images/colour-grid.png
  tailwind.config.js
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/styleguide_base.html
  tbx/static_src/images/map-dark.webp
  tbx/static_src/images/map-light.webp
  tbx/static_src/images/map.webp
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_event-block.scss
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_instagram-gallery.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_pullquote.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/components/_skip-link.scss
  tbx/static_src/sass/components/_table.scss
  tbx/static_src/sass/components/_title-filters.scss
  tbx/static_src/sass/components/_work-hero.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

JS implementation of mode switcher (#268)
  tbx/core/context_processors.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/settings/base.py
  tbx/static_src/javascript/components/mode-switcher.js
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

add the new underline colour to the showcase title
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format

make the showcase title underline the same as the heading colour on interaction
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format
