Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Add stats to the impact report page (#256)
  tbx/core/blocks.py
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.html
  tbx/static_src/sass/components/_grid.scss
  tbx/work/blocks.py
Due: lint:css, lint:format

Add earth theme
  docs/custom-features/theme.md
  docs/front-end/themes_and_modes.md
  tbx/blog/migrations/0026_add_earth_colour_theme.py
  tbx/core/migrations/0034_add_earth_colour_theme.py
  tbx/core/utils/models.py
  tbx/events/migrations/0008_add_earth_colour_theme.py
  tbx/impact_reports/migrations/0004_add_earth_colour_theme.py
  tbx/people/migrations/0009_add_earth_colour_theme.py
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/project_styleguide/templates/patterns/styleguide_base.html
  tbx/services/migrations/0022_add_earth_colour_theme.py
  tbx/static_src/sass/config/_variables.scss
  tbx/work/migrations/0034_add_earth_colour_theme.py
Due: lint:css, lint:format

high contrast mode fixes for quote icon and featured case study results icon
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.html
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_pullquote.scss
Due: lint:css, lint:format

Update the colour theme tests to make use of the earth theme
  tbx/core/tests/test_colour_theme.py
Due: none

Add earth theme (#257)
  docs/custom-features/theme.md
  docs/front-end/themes_and_modes.md
  tbx/blog/migrations/0026_add_earth_colour_theme.py
  tbx/core/migrations/0034_add_earth_colour_theme.py
  tbx/core/tests/test_colour_theme.py
  tbx/core/utils/models.py
  tbx/events/migrations/0008_add_earth_colour_theme.py
  tbx/impact_reports/migrations/0004_add_earth_colour_theme.py
  tbx/people/migrations/0009_add_earth_colour_theme.py
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.html
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/project_styleguide/templates/patterns/styleguide_base.html
  tbx/services/migrations/0022_add_earth_colour_theme.py
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_pullquote.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/work/migrations/0034_add_earth_colour_theme.py
Due: lint:css, lint:format

Tidy up js as per feedback for the same code on kit
  tbx/static_src/javascript/components/table-hint.js
Due: lint:js, lint:format

Attempt to resolve a google issue where the first letter is omitted from motif headings in search results
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

black
  tbx/core/templatetags/util_tags.py
Due: none

remove change to explicitly test passing heading_level=1 which was only for testing
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
Due: none

Update docs
  docs/front-end/motif-headings.md
Due: lint:format

Add an option for a document download to CTAs and Contact CTAs
  tbx/core/blocks.py
Due: none

Show file size for document links
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
Due: none

Remove custom filter and test heading_level more simply
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
Due: none

Remove loading of tags that are no longer used in motif heading template
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
Due: none

Remove aria-label on aria-hidden element, and revert to previous issue with checking heading_level due to type issues in the pattern library
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
Due: none

Make cta and contact cta button styling more consistent
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

Bump Poetry to 1.8.3
  .github/workflows/test.yml
  Dockerfile
Due: lint:format

Bump wagtail and packages
  poetry.lock
  pyproject.toml
Due: none

Update PASSWORD_REQUIRED_TEMPLATE setting
  tbx/settings/base.py
Due: none

Update upgrading docs
  docs/upgrading.md
Due: lint:format

Add html5lib to the project dependencies
  poetry.lock
  pyproject.toml
Due: none

Attempt to resolve a google issue where the first letter is omitted from motif headings in search results (#259)
  docs/front-end/motif-headings.md
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

Bump all dev dependencies
  .pre-commit-config.yaml
  .secrets.baseline
  poetry.lock
  pyproject.toml
Due: lint:format

Run black, flake8 and isort
  tbx/core/templatetags/util_tags.py
  tbx/core/utils/scripts/run_flightpath.py
  tbx/core/utils/scripts/run_flightpath_status_check.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Add pragma: allowlist secret markers
  .github/workflows/test.yml
  docker-compose.yml
  tbx/settings/base.py
  tbx/settings/dev.py
  tbx/settings/local.py.example
Due: lint:format

Add an option for a document download to CTAs and Contact CTAs (#260)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
Due: none

Make cta and contact cta button styling more consistent (#261)
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

Fix motif heading colour
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

Fix motif heading colour (#263)
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

ensure links are visible in small image plus text block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.html
Due: none

ensure links are visible in small image plus text block (#264)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.html
Due: none

Add light mode colours for defaults and the coral theme
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Further addition of light mode colours
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_pullquote.scss
  tbx/static_src/sass/components/_work-hero.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Various spacing tweaks and a rich-text fix
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/intro_block.html
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

add linting exception
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

further fixes and tweaks for light mode
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.html
  tbx/static_src/sass/components/_event-block.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Various spacing tweaks and a rich-text fix (#266)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/intro_block.html
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Use wagtailmedia latest release
  poetry.lock
  pyproject.toml
Due: none

Remove wagtailmedia from the upgrade notes
  docs/upgrading.md
Due: lint:format

navigation styles don't change between dark and light mode, so use color--white for text
  tbx/project_styleguide/templates/patterns/base.html
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
