Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update yaml to remove saturation-0.6
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
Due: lint:format

Make main showcase title optional (#209)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.yaml
Due: lint:format

FE fixes for impact report
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/static_src/sass/components/_authors-wide.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Add custom heroku error page (#210)
  tbx/project_styleguide/templates/patterns/pages/errors/heroku_error.html
Due: none

Make impact report heading block image optional, and adjust anchor position if it is ommitted
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
  tbx/static_src/sass/components/_report-section.scss
Due: lint:css, lint:format

Fix the avatar image so it never resizes
  tbx/static_src/sass/components/_avatar.scss
Due: lint:css, lint:format

css fix for logo
  tbx/project_styleguide/templates/patterns/pages/errors/heroku_error.html
Due: none

add cloudflare version
  tbx/project_styleguide/templates/patterns/pages/errors/cloudflare_error.html
Due: none

Remove cloudflare text for heroku error page
  tbx/project_styleguide/templates/patterns/pages/errors/heroku_error.html
Due: none

rename cloudflare error template
  tbx/project_styleguide/templates/patterns/pages/errors/cloudflare_500.html
Due: none

css fix for logo on the heroku error page, add the cloudflare error page (#215)
  tbx/project_styleguide/templates/patterns/pages/errors/cloudflare_500.html
Due: none

Fix the avatar image so it never resizes (#214)
  tbx/static_src/sass/components/_avatar.scss
Due: lint:css, lint:format

FE fixes for impact report (#212)
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/static_src/sass/components/_authors-wide.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Make impact report heading block image optional, and adjust anchor position if it is ommitted (#213)
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
  tbx/static_src/sass/components/_report-section.scss
Due: lint:css, lint:format

Add the help text to the correct field in the impact report heading block
  tbx/impact_reports/blocks.py
Due: none

Add the help text to the correct field in the impact report heading block (#216)
  tbx/impact_reports/blocks.py
Due: none

Use motif headings for h2s on the service page, and indent the paragraphs
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_motif_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_motif_block.yaml
  tbx/services/blocks.py
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

run black
  tbx/services/blocks.py
Due: none

Tweak paragraph position after feedback from ben
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Make heading and intro optional for tabbed paragraph blocks
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/static_src/sass/components/_tabbed-paragraph.scss
Due: lint:css, lint:format

Updates to photo collage and tabbed paragraph block to make fields optional
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
  tbx/static_src/sass/components/_photo-collage.scss
Due: lint:css, lint:format

ignore formatting changes to scss files in git history
  .git-blame-ignore-revs
Due: none

Fix issues with live previews when creating a PersonPage
  tbx/people/models.py
Due: none

Remove commit that doesn't exist in .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

update format of a couple more scss files
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/components/_small-image-with-text.scss
Due: lint:css, lint:format

ignore formatting commit in git blame
  .git-blame-ignore-revs
Due: none

A couple of extra scss files needed reformatting after the package update pr was merged (#220)
  .git-blame-ignore-revs
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/components/_small-image-with-text.scss
Due: lint:css, lint:format

validation improvements
  tbx/core/blocks.py
Due: none

run black
  tbx/core/blocks.py
Due: none

consolidate content across mobile/desktop, remove page load js and update styles to use existing css variables
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
  tbx/static_src/javascript/components/carbon-impact.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

update link to carbon emissions measurement
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

Update the carbon emissions text
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

linting
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

adds page carbon/load speed impact component to the footer (with hardcoded text for now)
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/javascript/components/carbon-impact.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Update footer text layout
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

add placeholder link for carbon emissions page (with additional link styling)
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
  tbx/static_src/javascript/components/carbon-impact.js
  tbx/static_src/sass/components/_footer.scss
Due: lint:js, lint:css, lint:format

Use motif headings for h2s on the service page, and indent the paragraph blocks (#217)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_motif_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_motif_block.yaml
  tbx/services/blocks.py
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

[5988] Carbon aware badge (#201)
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
