Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

make screen reader read the dots better
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
Due: none

FE for historical work page
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_detail.yaml
  tbx/static_src/sass/components/_author.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/_work-meta.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

fix styleguide yaml for pullquote
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

remove commented out code
  tbx/project_styleguide/templates/patterns/pages/work/work_detail.html
Due: none

FE for historical work page (#49)
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_detail.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_author.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/_work-meta.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Streamline the FieldPanels with title
  tbx/core/models.py
Due: none

Include migration for altered StandardPage
  tbx/core/migrations/0015_standardpage_featured_blog_heading_and_more.py
Due: none

Refactor old WorkPage & associated models in readiness for new Work Page
  tbx/work/migrations/0011_rename_workpage_historicalworkpage_and_more.py
  tbx/work/models.py
Due: none

Update references to WorkPage based on 6add115
  tbx/core/models.py
  tbx/core/templatetags/torchbox_tags.py
  tbx/people/models.py
Due: none

Avoid duplicate versions of models for each page type
  tbx/core/utils/models.py
  tbx/work/migrations/0011_rename_workpage_historicalworkpage_and_more.py
  tbx/work/models.py
Due: none

Refactor BlogPageAuthor in light of c81f9e6
  tbx/blog/models.py
Due: none

Migration for new torchbox.PageAuthor
  tbx/core/migrations/0014_data_migration_pageauthor.py
Due: none

Migration for the change to BlogPageAuthor made in cfad4a0
  tbx/blog/migrations/0012_alter_blogpageauthor_page.py
Due: none

Data migrations to ensure we don't lose author infor for blog / work pages
  tbx/blog/migrations/0013_data_migration_page_authors.py
  tbx/work/migrations/0012_data_migration_page_author.py
Due: none

Remove BlogPageAuthor and WorkPageAuthor
  tbx/blog/migrations/0014_delete_blogpageauthor.py
  tbx/blog/models.py
  tbx/work/migrations/0013_delete_workpageauthor.py
  tbx/work/models.py
Due: none

small tweak for screen readers
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
Due: none

Introduce new WorkPage model & WorkStoryBlock
  tbx/work/blocks.py
  tbx/work/migrations/0012_add_new_work_page_model.py
  tbx/work/models.py
Due: none

Update templates
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format

Pagination adjustments (#53)
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_pagination.scss
Due: lint:css, lint:format

Update after removal of WorkPageAuthor
  tbx/work/migrations/0014_add_new_workpage_model.py
  tbx/work/models.py
Due: none

Rename template for consistency with model name
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/work/models.py
Due: lint:format

lint indent
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
Due: none

pass focus colour from tag and add shadow
  tbx/static_src/sass/components/_tag.scss
Due: lint:css, lint:format

fix double focus selector and make shadow optional
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

styles for showcase paragraph
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.yaml
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

don't transition links for reduced motion preference
  tbx/static_src/sass/components/_link.scss
Due: lint:css, lint:format

add docs for showcase block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.md
Due: lint:format

add to components page and tidy up
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

typo
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.md
Due: lint:format

make sure avatars don't get squashed in author component
  tbx/static_src/sass/components/_avatar.scss
Due: lint:css, lint:format

fix avatars in the pattern lib
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

fix rogue apostrophe
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
Due: lint:format

Fix to the yaml name for the company logo in the pullquote
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Update the example streamfield content
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
Due: lint:format

Fix to the yaml name for the company logo in the pullquote (#61)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

stats blocks
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_numeric.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_numeric.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.yaml
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Update styleguide
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

stats blocks FE (#57)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_numeric.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_numeric.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Remove the example streamfield templates
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_service.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_service.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-blog.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-work.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.yaml
Due: lint:format

Define stats blocks - numeric & textual
  tbx/work/blocks.py
Due: none

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
