Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Add new lighter colors
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_division-signpost.scss
  tbx/static_src/sass/components/_featured-services.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

TWE-13 - BE - Key points with icons (Service area page) (#336)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/services/blocks.py
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_keypoints.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add comments we only expect 1 button
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
Due: none

Use |first instead of a for loop
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
Due: none

TWE-16 - BE - Optional intro & button fields for blog/work chooser blocks (#339)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
Due: lint:format

TWE-14 - BE - Contact CTA block description field (#338)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Update upload-pages-artifact
  .github/workflows/gh-pages.yml
Due: lint:format

Chore: Update upload-pages-artifact to v3
  .github/workflows/gh-pages.yml
Due: lint:format

Add a subheading field to the featured services block
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.yaml
Due: lint:format

Correct font colors in light mode
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

Update map images
  tbx/static_src/images/map-dark.webp
  tbx/static_src/images/map-light.webp
Due: none

Secondary nav structure draft
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.md
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.html
Due: lint:format

Add revisions to NavigationSet
  tbx/navigation/models.py
Due: none

Update schema migration
  tbx/navigation/migrations/0007_divisionmixin_and_navigationsetmixin.py
Due: none

Update division mixin tests to check division page's self is returned
  tbx/core/tests/test_division_mixin.py
Due: none

Tweak navigation set to actually get from the ancestor, or an ancestor with a division with a navigation set
  tbx/core/utils/models.py
Due: none

Add unit tests
  tbx/core/tests/test_navigation_mixin.py
  tbx/navigation/factories.py
Due: none

Add secondary nav to header
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_logo.scss
Due: lint:css, lint:format

Add secondary mobile nav and menu toggle to header
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add generic relation for Revision
  tbx/navigation/models.py
Due: none

Remove unused submenu
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.yaml
Due: lint:format

Reuse old primary nav styles
  tbx/static_src/sass/components/_swirls.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

Update dark background colors to a solid color
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Secondary mobile nav structure draft
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.html
  tbx/static_src/javascript/components/desktop-close-menus.js
Due: lint:js, lint:format

TWE-21 - BE - Secondary Navigation (#357)
  tbx/blog/migrations/0028_divisionmixin_and_navigationsetmixin.py
  tbx/blog/models.py
  tbx/core/migrations/0040_divisionmixin_and_navigationsetmixin.py
  tbx/core/models.py
  tbx/core/tests/test_division_mixin.py
  tbx/core/tests/test_navigation_mixin.py
  tbx/core/utils/models.py
  tbx/divisions/migrations/0002_divisionmixin_and_navigationsetmixin.py
  tbx/divisions/models.py
  tbx/events/migrations/0010_divisionmixin_and_navigationsetmixin.py
  tbx/events/models.py
  tbx/impact_reports/migrations/0006_divisionmixin_and_navigationsetmixin.py
  tbx/impact_reports/models.py
  tbx/navigation/blocks.py
  tbx/navigation/factories.py
  tbx/navigation/migrations/0007_divisionmixin_and_navigationsetmixin.py
  tbx/navigation/models.py
  tbx/people/migrations/0012_divisionmixin_and_navigationsetmixin.py
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.yaml
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/services/migrations/0025_divisionmixin_and_navigationsetmixin.py
  tbx/services/models.py
  tbx/work/migrations/0037_divisionmixin_and_navigationsetmixin.py
  tbx/work/models.py
Due: lint:format

Style desktop and mobile secondary nav
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_logo.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Fix typo in PR template
  .github/pull_request_template.md
Due: lint:format

TWE-24 Add CTA fields (text+link) to footer
  tbx/navigation/migrations/0008_navigationsettings_footer_newsletter_cta.py
  tbx/navigation/models.py
  tbx/navigation/tests/test_navigation_settings.py
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
Due: lint:format

Fine tune styling
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/navigation/_secondary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update secondary nav docs and yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.md
Due: lint:format

TWE-38 tweak help text for HomePage.introduction
  tbx/core/models.py
Due: none

TWE-24 Add CTA fields (text+link) to footer (#362)
  tbx/navigation/migrations/0008_navigationsettings_footer_newsletter_cta.py
  tbx/navigation/models.py
  tbx/navigation/tests/test_navigation_settings.py
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
Due: lint:format

TWE-38 tweak help text for HomePage.introduction (#363)
  tbx/core/models.py
Due: none

TWE-39 Add a new block for textual statistic groups
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/textual_stats_group_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/textual_stats_group_block.yml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

Replace old motif heading template with new class
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.html
Due: none

Add missing tag in work chooser block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
Due: none

Add optional heading condition
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.html
Due: none

Fixing template errors (#365)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
Due: none

Clean up secondary nav, update chevron icon styling
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/navigation/_secondary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
