Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Put footer links in 404.yaml file
  tbx/project_styleguide/templates/patterns/pages/errors/404.yaml
Due: lint:format

Update docs
  docs/front-end/breakpoints.md
Due: lint:format

Rename body_class to html_class
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/pages/errors/404.html
  tbx/project_styleguide/templates/patterns/pages/wagtail/password_required.html
Due: none

FE | 404 & 500 error pages (#182)
  docs/front-end/breakpoints.md
  fabfile.py
  tailwind.config.js
  tbx/project_styleguide/templates/patterns/atoms/icons/broken-matchstick-icon.html
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/pages/errors/404.html
  tbx/project_styleguide/templates/patterns/pages/errors/404.yaml
  tbx/project_styleguide/templates/patterns/pages/errors/500.html
  tbx/project_styleguide/templates/patterns/pages/wagtail/password_required.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_icon.scss
Due: lint:js, lint:css, lint:format

Remove duplicate code from merging a rebased item
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Copy pattern library config for impact report from current build
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
Due: lint:format

add impact_reports app
  tbx/impact_reports/__init__.py
  tbx/impact_reports/apps.py
  tbx/impact_reports/blocks.py
  tbx/impact_reports/migrations/__init__.py
  tbx/impact_reports/models.py
  tbx/settings/base.py
Due: none

Add width and height for picture tags (#174)
  docs/front-end/responsive-images.md
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
Due: lint:format

Add template placeholders for impact reports
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
Due: none

We don't need impact_reports.ImpactReportAuthor because it's covered by torchbox.PageAuthor
  tbx/impact_reports/models.py
Due: none

Add database migration
  tbx/impact_reports/migrations/0001_initial.py
Due: none

add docstrings and distinguising labels for showcaseblock and homepageshowcaseblock
  tbx/core/blocks.py
Due: none

resolve error from merging
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
Due: none

Rename instagram gallery block for consistency
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.yaml
Due: lint:format

Tidy up unused templates and add very basic styling for the password required page (#188)
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/hero/hero.html
  tbx/project_styleguide/templates/patterns/molecules/hero/hero.yaml
  tbx/project_styleguide/templates/patterns/molecules/in-page-nav/in-page-nav.html
  tbx/project_styleguide/templates/patterns/molecules/in-page-nav/in-page-nav.yaml
  tbx/project_styleguide/templates/patterns/organisms/latest-posts/latest-posts.html
  tbx/project_styleguide/templates/patterns/organisms/latest-posts/latest-posts.yaml
  tbx/project_styleguide/templates/patterns/organisms/work-listing/work-listing.html
  tbx/project_styleguide/templates/patterns/organisms/work-listing/work-listing.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/wagtail/password_required.html
  tbx/static_src/sass/components/_form.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

updated styling for mailchimp form
  tbx/static_src/images/checkmark.svg
  tbx/static_src/sass/components/_mailchimp.scss
Due: lint:css, lint:format

Update form input colour on password form
  tbx/static_src/sass/components/_form.scss
Due: lint:css, lint:format

Don't focus on video unless you've just given consent, sort focus state, fix cookie in safari
  tbx/static_src/javascript/components/youtube-embed.js
  tbx/static_src/sass/components/_youtube-embed.scss
Due: lint:js, lint:css, lint:format

Youtube consent front-end
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.yaml
  tbx/static_src/javascript/components/youtube-embed.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_promo.scss
  tbx/static_src/sass/components/_youtube-embed.scss
  tbx/static_src/sass/components/_youtube_embed.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

update docs
  docs/front-end/lite-youtube.md
  docs/front-end/sustainability.md
  mkdocs.yml
Due: lint:format

Focus into video after accepting tcs and cs so screenreaders can play the video
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.html
  tbx/static_src/javascript/components/youtube-embed.js
Due: lint:js, lint:format

Youtube consent - front-end (#183)
  docs/front-end/lite-youtube.md
  docs/front-end/sustainability.md
  mkdocs.yml
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.yaml
  tbx/static_src/javascript/components/youtube-embed.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_promo.scss
  tbx/static_src/sass/components/_youtube-embed.scss
  tbx/static_src/sass/components/_youtube_embed.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

New showcase block
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.md
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format

tweaks from accessibility and cross-browser testing
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format

Add new showcase block to pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

linting
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
Due: none

Homepage showcase block (#192)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format

Set up impact report page with dummy blocks
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_impact_report.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_impact_report.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
Due: lint:format

Add template class to homepage
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
Due: lint:format

Style impact report heading block
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Wide image block: Align image to right edge on mobile
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Quote block: 24px font size on mobile
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/static_src/sass/base/_typography.scss
Due: lint:css, lint:format

Case Study / Work page hero: Increase aspect ratio to 16:9
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format

Update desktop retina size for work page image
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
Due: none

Case Study / Work page hero: Align image to left edge on mobile
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_image.scss
Due: lint:css, lint:format

Ensure text doesn't bleed to the right at mobile in the photo collage
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
  tbx/static_src/sass/components/_photo-collage.scss
Due: lint:css, lint:format

Numeric statistics block: Tighten spacing between components
  tbx/static_src/sass/components/_stats.scss
Due: lint:css, lint:format

Photo collage block: Add margin-bottom
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Update the yaml for the desktop image retina on the work page
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format
