Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Temporarily disable social images
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

TWE-6 - BE - Update theme colours (#315)
  docs/custom-features/theme.md
  docs/front-end/themes_and_modes.md
  tbx/blog/migrations/0027_update_theme_colour_choices.py
  tbx/core/migrations/0038_update_theme_colour_choices.py
  tbx/core/tests/test_colour_theme.py
  tbx/core/utils/models.py
  tbx/events/migrations/0009_update_theme_colour_choices.py
  tbx/impact_reports/migrations/0005_update_theme_colour_choices.py
  tbx/people/migrations/0011_update_theme_colour_choices.py
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/services/migrations/0023_update_theme_colour_choices.py
  tbx/work/migrations/0036_update_theme_colour_choices.py
Due: lint:format

Filter listings by whether the page is public
  tbx/blog/feeds.py
  tbx/blog/models.py
  tbx/core/templatetags/torchbox_tags.py
  tbx/work/models.py
Due: none

Surface only public and published blog posts on the blog
  tbx/blog/models.py
  tbx/blog/tests/test_models.py
Due: none

Surface only public and published blog posts in the blog feed
  tbx/blog/feeds.py
Due: none

Surface only public and published pages via sibling tags
  tbx/core/templatetags/torchbox_tags.py
Due: none

Lint
  tbx/blog/models.py
  tbx/blog/tests/test_models.py
  tbx/core/templatetags/torchbox_tags.py
Due: none

Add .venv to prettierignore
  .prettierignore
Due: none

Switch to ruff
  .flake8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  ruff.toml
  setup.cfg
Due: lint:format

Division signposts FE
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_division-signpost.scss
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_icon.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

linting
  tbx/blog/models.py
  tbx/work/models.py
Due: none

High-contrast accessibility fixes
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_division-signpost.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Linting
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Add tests
  tbx/blog/tests/test_models.py
  tbx/work/tests/test_models.py
Due: none

Make migrations
  tbx/core/migrations/0038_remove_homepage_introduction_homepage_hero_heading_and_more.py
Due: none

Convert markdown to html
  poetry.lock
  pyproject.toml
  tbx/core/models.py
  tbx/core/utils/formatting.py
Due: none

Add new fields, remove introduction
  tbx/core/models.py
Due: none

Display the new fields in the homepage
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
Due: lint:format

Update HomePageFactory
  tbx/core/factories.py
  tbx/navigation/tests/test_link_block.py
Due: none

Replace markdown with 2 fields instead
  poetry.lock
  pyproject.toml
  tbx/core/migrations/0038_remove_homepage_introduction_homepage_hero_heading_and_more.py
  tbx/core/models.py
  tbx/core/utils/formatting.py
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
Due: lint:format

Update homepage factory
  tbx/core/factories.py
Due: none

Add comments
  tbx/core/utils/formatting.py
Due: none

Fix pattern library YAML file
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
Due: lint:format

Add unit tests for the link converter
  tbx/core/tests/test_formatting.py
Due: none

Convert b & i tags into span tags
  tbx/core/models.py
  tbx/core/utils/formatting.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Update migrations
  tbx/core/migrations/0039_remove_homepage_introduction_homepage_hero_heading_and_more.py
Due: none

TWE-1 - BE - New homepage hero fields (#313)
  tbx/core/factories.py
  tbx/core/migrations/0039_remove_homepage_introduction_homepage_hero_heading_and_more.py
  tbx/core/models.py
  tbx/core/tests/test_formatting.py
  tbx/core/utils/formatting.py
  tbx/navigation/tests/test_link_block.py
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
Due: lint:format

Help text for link text
  tbx/core/blocks.py
Due: none

Set the minimum as 3
  tbx/core/blocks.py
Due: none

TWE-2 - BE - Add division signpost block (#314)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/settings/base.py
Due: none

Move PartersBlock to core.blocks
  tbx/core/blocks.py
  tbx/services/blocks.py
Due: none

Add divisions app
  tbx/divisions/__init__.py
  tbx/divisions/migrations/__init__.py
  tbx/settings/base.py
Due: none

Prepare division page blocks
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/introduction_with_images_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/introduction_with_images_block.yaml
  tbx/settings/base.py
Due: lint:format

Add DivisionPage
  tbx/divisions/blocks.py
  tbx/divisions/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_division.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_division.yaml
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.yaml
Due: lint:format

Create DivisionPage factory
  tbx/core/factories.py
  tbx/core/tests/test_models.py
  tbx/divisions/factories.py
Due: none

Make schema migration
  tbx/divisions/migrations/0001_initial.py
Due: none

Add faker & factory-boy as explicit dependencies since we use them
  poetry.lock
  pyproject.toml
Due: none

Do something different if there's only 1 dynamic text
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.html
Due: none

Update typescale for a11y and clean code
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
