Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

update poetry packages
  .pre-commit-config.yaml
  docs/upgrading.md
  poetry.lock
  pyproject.toml
Due: lint:format

update github actions
  .github/workflows/gh-pages.yml
Due: lint:format

Fix contrast issues in the featured services block, which uses the compact variant of the buton-link style
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

Fix contrast issues with the values block strapline by increasing the font size
  tbx/static_src/sass/components/_values.scss
Due: lint:css, lint:format

Use the correct colours for decorative caps to ensure contrast (now matches comments above)
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Reduce spacing between secondary nav columns at smaller font sizes to prevent issues with longer words being obscured when font size is increased
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

Improve layout for listing images by switching to flex-direction:row at a higher breakpoint. Avoids overlapping text with large font sizes and scans better for long titles.
  tbx/static_src/sass/components/_listing-image.scss
Due: lint:css, lint:format

Tweak grid layout at tablet-ish size for key points, to prevent issues with ovelapping content when text size is large
  tbx/static_src/sass/components/_keypoints.scss
Due: lint:css, lint:format

More reliable way to tweak the layout of the listing image and text if space is tight - avoids the text getting really cramped and overflowing the edge
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/static_src/sass/components/_listing-image.scss
Due: lint:css, lint:format

Remove redundant code
  tbx/static_src/sass/components/_keypoints.scss
Due: lint:css, lint:format

Update comment
  tbx/static_src/sass/components/_values.scss
Due: lint:css, lint:format

Make the featured services heading required
  tbx/core/blocks.py
Due: none

Improve the blog feed
  tbx/blog/feeds.py
  tbx/blog/models.py
Due: none

Tidy ups based on code review
  tbx/blog/feeds.py
Due: none

Move GTM id from env to wagtail settings, and add experimental secondary GTM id
  tbx/core/context_processors.py
  tbx/core/migrations/0041_add_tracking_settings.py
  tbx/core/utils/models.py
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/settings/base.py
Due: none

POC for torchbox chat, copied from the Lease implementation
  docker-compose.yml
  poetry.lock
  pyproject.toml
  tbx/chat/__init__.py
  tbx/chat/admin.py
  tbx/chat/apps.py
  tbx/chat/indexes.py
  tbx/chat/migrations/0001_initial.py
  tbx/chat/migrations/__init__.py
  tbx/chat/models.py
  tbx/chat/tests.py
  tbx/chat/urls.py
  tbx/chat/views.py
  tbx/project_styleguide/templates/patterns/pages/chat/chat_page.html
  tbx/settings/base.py
  tbx/static_src/sass/components/_form.scss
  tbx/urls.py
Due: lint:css, lint:format

Sitemap feature implementation
  .gitignore
  tbx/project_styleguide/templates/patterns/navigation/components/footer-links.html
  tbx/project_styleguide/templates/patterns/pages/sitemap/sitemap_page.html
  tbx/project_styleguide/templates/patterns/pages/sitemap/sitemap_tree.html
  tbx/settings/base.py
  tbx/settings/test.py
  tbx/sitemap/__init__.py
  tbx/sitemap/apps.py
  tbx/sitemap/factories.py
  tbx/sitemap/migrations/0001_initial.py
  tbx/sitemap/migrations/__init__.py
  tbx/sitemap/models.py
  tbx/sitemap/tests/__init__.py
  tbx/sitemap/tests/test_footer_link.py
  tbx/sitemap/tests/test_models.py
  tbx/static_src/sass/components/_sitemap.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Re-lint
  .stylelintrc.js
  docs/infrastructure.md
  tbx/sitemap/migrations/0001_initial.py
  tbx/sitemap/models.py
  tbx/sitemap/tests/test_models.py
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_link.scss
  tbx/static_src/sass/components/_pagination.scss
  tbx/static_src/sass/components/_sitemap.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

another re-lint
  docs/infrastructure.md
  tbx/static_src/sass/components/_link.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Hopefully final re-lint
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Another attempt to fix stylelint vs prettier conflict
  .stylelintrc.js
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Prettier fix
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Tweak to test logic
  tbx/sitemap/tests/test_models.py
Due: none

Add pattern library yaml
  tbx/project_styleguide/templates/patterns/pages/sitemap/sitemap_page.yaml
Due: lint:format

Correct page/molecule structure
  tbx/project_styleguide/templates/patterns/molecules/sitemap/sitemap_tree.html
  tbx/project_styleguide/templates/patterns/molecules/sitemap/sitemap_tree.yaml
  tbx/project_styleguide/templates/patterns/pages/sitemap/sitemap_page.html
Due: lint:format

Changes from Frontend Review, feedback
  tbx/project_styleguide/templates/patterns/pages/sitemap/sitemap_page.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Cleverer link insertion
  tbx/navigation/templatetags/navigation_tags.py
  tbx/project_styleguide/templates/patterns/navigation/components/footer-links.html
  tbx/sitemap/tests/test_footer_link.py
Due: none

Update carbon impact CO2 emission value to 0.04g
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

Clean up queryset and add comment
  tbx/project_styleguide/templates/patterns/navigation/components/footer-links.html
  tbx/sitemap/models.py
Due: none

Slightly cleaner .live() versus a .filter()
  tbx/navigation/templatetags/navigation_tags.py
Due: none

Rewrite the bucketing to use Treebeard path slicing O(1) vs O(n x m)
  tbx/sitemap/models.py
  tbx/sitemap/tests/test_models.py
Due: none

Fix ValueError when chooser blocks reference deleted pages
  tbx/core/blocks.py
  tbx/core/tests/test_blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
Due: none

Guard against deleted pages in card-based block templates
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
Due: none

Fix blog_chooser_block pattern library YAML
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
Due: lint:format

Add CHANGELOG entry for deleted page fix
  CHANGELOG.md
Due: lint:format

Update changelog for release
  CHANGELOG.md
Due: lint:format

Fix deleted page value errors (#430)
  CHANGELOG.md
  tbx/core/blocks.py
  tbx/core/tests/test_blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
Due: lint:format

Fix RelatedBlogPage DoesNotExist error in reference index task
  tbx/blog/models.py
Due: none

Release prep
  CHANGELOG.md
Due: lint:format

Add search app
  tbx/search/__init__.py
  tbx/search/forms.py
  tbx/search/tests.py
  tbx/search/views.py
  tbx/settings/base.py
  tbx/urls.py
Due: none

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
