Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

black
  tbx/core/blocks.py
Due: none

Update pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/markdown_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Some custom js for the admin area to ensure only the code block is shown as an option in the markdown block
  tbx/core/wagtail_hooks.py
  tbx/static_src/javascript/admin.js
  webpack.config.js
Due: lint:js, lint:format

Rename image field to prefetch on common field name
  tbx/work/factories.py
  tbx/work/migrations/0029_rename_feed_image_historicalworkpage_header_image.py
  tbx/work/models.py
Due: none

Add prefetch of blog page authors
  tbx/blog/models.py
Due: none

Update HistoricWorkPage header_image label
  tbx/work/migrations/0029_rename_feed_image_historicalworkpage_header_image.py
  tbx/work/migrations/0030_rename_feed_image_historicalworkpage_header_image.py
  tbx/work/models.py
Due: none

Update references to HistoricalWorkPage feed_image
  tbx/core/blocks.py
Due: none

Regenerate migration to avoid merge conflict
  tbx/work/migrations/0031_rename_feed_image_historicalworkpage_header_image.py
Due: none

Enusre the first heading block in rich text doesn't get a top margin
  tbx/static_src/sass/components/_rich-text.scss
Due: lint:css, lint:format

Reduce spacing below intro
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Add spacing above work listing header
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
Due: none

Light and dark versions of the markdown block
  tbx/static_src/sass/components/_markdown-block.scss
  tbx/static_src/sass/vendor/_codehilite.scss
Due: lint:css, lint:format

Markdown block and grouping of streamfield blocks (#172)
  tbx/core/blocks.py
  tbx/core/wagtail_hooks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/markdown_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/markdown_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/services/blocks.py
  tbx/static_src/javascript/admin.js
  tbx/static_src/sass/components/_markdown-block.scss
  tbx/static_src/sass/main.scss
  tbx/static_src/sass/vendor/_codehilite.scss
  webpack.config.js
Due: lint:js, lint:css, lint:format

add width and height for picture tags
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
Due: none

Update docs
  docs/front-end/responsive-images.md
Due: lint:format

add back spacing below intro on service pages, and tweaks to featured case study
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Ensure focus styles don't add shadow when link styles don't
  tbx/static_src/sass/components/_tabs.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Small tweak to MR template (#170)
  .github/pull_request_template.md
Due: lint:format

Use links for the cookie banner opt out as requested by analytics team (#171)
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
Due: none

Fix to reduce duplicate queries on Work and Blog page load (#165)
  tbx/blog/models.py
  tbx/core/blocks.py
  tbx/work/factories.py
  tbx/work/migrations/0031_rename_feed_image_historicalworkpage_header_image.py
  tbx/work/models.py
Due: none

Fix default site name
  tbx/core/migrations/0032_alter_socialmediasettings_site_name.py
  tbx/core/utils/models.py
Due: none

More spacing issues service page and tabbed paragraph focus update (#175)
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_tabs.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Update birdbath configuration to match kit
  docs/anonymised-data.md
  tbx/settings/base.py
Due: lint:format

Design tweaks
  tbx/static_src/sass/components/_work-page-author.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Modify EmbedBlock so the thumbnail_url is available in template context
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.html
Due: none

Add @RealOrangeOne's wagtail-lite-youtube-embed
  poetry.lock
  pyproject.toml
  tbx/settings/base.py
Due: none

Add the lite-youtube-embed npm package
  package-lock.json
  package.json
Due: lint:format

Add a placeholder thumbnail fallback
  tbx/static_src/images/thumbnail-placeholder.svg
Due: none

Add stylesheet for YouTube embeds
  tbx/static_src/sass/components/_youtube_embed.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add JS for the YouTube consent logic
  tbx/static_src/javascript/components/youtube-embed.js
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

Port existing YouTube embeds to use lite-youtube-embed
  tbx/core/management/commands/update_youtube_embeds.py
Due: none

Fix an issue with Google Chrome
  tbx/settings/base.py
Due: none

Update docs
  docs/front-end/markdown-codehilite.md
  docs/front-end/utility-classes.md
  docs/hotjar-tracking.md
  mkdocs.yml
Due: lint:format

Convenience fab command sh-root, to log in as root
  fabfile.py
Due: none

Quick fix to intro paragraphs
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

Design tweaks (#178)
  tbx/static_src/sass/components/_work-page-author.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Quick fix to intro paragraphs (#180)
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
