Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

High contrast mode tweaks
  tbx/static_src/sass/components/_mode-switcher.scss
Due: lint:css, lint:format

Update styleguide
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

Linting
  tbx/static_src/sass/components/_mode-switcher.scss
Due: lint:css, lint:format

Another update to the map on the team page (#276)
  tbx/static_src/images/map.webp
Due: none

Update django (4.2.13 -> 4.2.14)
  poetry.lock
Due: none

Update wagtail (6.1.2 -> 6.1.3)
  poetry.lock
Due: none

don't cache the mode switcher
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Light mode - style form (#280)
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add promo block to the standard page block options
  tbx/core/blocks.py
  tbx/core/models.py
Due: none

linting
  tbx/core/models.py
Due: none

Tabbed paragraph changes
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.yaml
Due: lint:format

Linting
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
Due: none

Close desktop submenu when focus moves away
  tbx/static_src/javascript/components/desktop-sub-menu.js
Due: lint:js, lint:format

Further menu accessibility improvements
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/static_src/javascript/components/desktop-sub-menu.js
  tbx/static_src/javascript/components/mobile-menu.js
Due: lint:js, lint:format

Update the mobile version of the button
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
Due: none

fix mobile menu test
  tbx/static_src/javascript/components/mobile-menu.js
Due: lint:js, lint:format

Add an email text option to the contact snippet
  docs/custom-features/contact.md
  tbx/people/migrations/0010_add_email_text_field_to_contact.py
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/static_src/sass/components/_footer-cta.scss
Due: lint:css, lint:format

Move open and close functionality to their own functions
  tbx/static_src/javascript/components/desktop-sub-menu.js
Due: lint:js, lint:format

Add promo block to the standard page block options (#282)
  tbx/core/blocks.py
  tbx/core/models.py
Due: none

Ensure links are correctly underlined in tabbed paragraph block text
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
Due: none

add custom focus ring to footer logo links
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

add arrow-focus-style mixin and apply to arrows across the site - remove unused listing-avatar__arrow class
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--simple.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_event-block.scss
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

add a slight right padding so the arrow doesn't overlap the outline with one line titles
  tbx/static_src/sass/components/_listing.scss
Due: lint:css, lint:format

refactor arrow classes for valid BEM syntax
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--simple.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_icon.scss
Due: lint:css, lint:format

Remove commented code and wrap cta email link in a conditional
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/static_src/sass/components/_footer-cta.scss
Due: lint:css, lint:format

Add settings for the cookie page and the digital emissions page
  tbx/core/context_processors.py
  tbx/core/migrations/0035_add_important_page_settings.py
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
Due: none

black
  tbx/core/context_processors.py
Due: none

make the contact cta use a h2 instead of a p tag
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
Due: none

add comment and update utility classes doc
  docs/front-end/utility-classes.md
  tbx/static_src/sass/components/_icon.scss
Due: lint:css, lint:format

put the comment in the right place
  tbx/static_src/sass/components/_icon.scss
  tbx/static_src/sass/components/_listing.scss
Due: lint:css, lint:format

keep the underline the same as the text on menus so it passes colour contrast
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

add the new underline colour to the showcase title
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format

make the showcase title underline the same as the heading colour on interaction
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format

keep mobile link underline the same colour as the text
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

set a new link underline css property and use it on all links
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

set colour of underlines in light mode
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Add blog chooser and work chooser blocks to the standard page
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

black
  tbx/core/blocks.py
Due: none

Tabbed paragraph changes (#283)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.yaml
Due: lint:format

rename partner title class and reduce space underneath it
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/static_src/sass/components/_partners.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
