Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update breakpoints with comment re usage
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Case Study / Work page hero: Decrease breakpoint
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
Due: none

Promo & event blocks: Align block to right edge on mobile
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Featured Case Study block: Reduce spacing between block & partners
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Numeric statistics block: Full-width on small mobile screens
  docs/front-end/breakpoints.md
  tailwind.config.js
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

FE | Tweaks to mobile styling (#193)
  docs/front-end/breakpoints.md
  tailwind.config.js
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_image.scss
  tbx/static_src/sass/components/_photo-collage.scss
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Add some extra space below rich text list items
  tbx/static_src/sass/components/_rich-text.scss
Due: lint:css, lint:format

Wrap text in lists so that it doesn't sit below the bullet or number
  tbx/static_src/sass/components/_rich-text.scss
Due: lint:css, lint:format

Delete unused event-item.html/yaml
  tbx/project_styleguide/templates/patterns/molecules/event-item/event-item.html
  tbx/project_styleguide/templates/patterns/molecules/event-item/event-item.yaml
Due: lint:format

Prepare Events listing item component
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.yaml
  tbx/static_src/sass/components/_listing-event.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Prepare Events listing filters
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--event.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--event.yaml
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

Make schema migrations
  tbx/events/migrations/0005_eventindexpage_events_delete_event.py
Due: none

Add an imageless variant of the Events listing item component
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event--no-image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event--no-image.yaml
Due: lint:format

Create BaseEventBlock
  tbx/core/blocks.py
Due: none

Create events-specific EventItemBlock
  tbx/events/blocks.py
Due: none

Update copy for no upcoming events
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
Due: none

Move event listing item preview to components.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event--no-image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event--no-image.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Style Events listing page
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
  tbx/static_src/sass/components/_page-listing.scss
Due: lint:css, lint:format

Add empty events listing page variant
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.yaml
Due: lint:format

Replace inline field events with streamfield blocks
  tbx/events/models.py
Due: none

Use paginator.get_page
  tbx/events/models.py
Due: none

BE & FE | Events Listing Page (#190)
  tbx/core/blocks.py
  tbx/events/blocks.py
  tbx/events/migrations/0005_eventindexpage_events_delete_event.py
  tbx/events/models.py
  tbx/project_styleguide/templates/patterns/molecules/event-item/event-item.html
  tbx/project_styleguide/templates/patterns/molecules/event-item/event-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.yaml
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--event.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--event.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_listing-event.scss
  tbx/static_src/sass/components/_page-listing.scss
  tbx/static_src/sass/components/_title-filters.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

This template was deleted in a previous merge but got recreated by a subsequent one somehow
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.yaml
Due: lint:format

Update label for featured case study textual results
  tbx/core/blocks.py
Due: none

BE & FE | Featured Case Study Block: Numeric stats (#191)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Tweak to form field styling (#196)
  tbx/static_src/images/checkmark.svg
  tbx/static_src/sass/components/_form.scss
  tbx/static_src/sass/components/_mailchimp.scss
Due: lint:css, lint:format

Tweaks to bullet spacing (#198)
  tbx/static_src/sass/components/_rich-text.scss
Due: lint:css, lint:format

This template was deleted in a previous merge but got recreated by a subsequent one somehow (#199)
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.yaml
Due: lint:format

Fix the link for events in the listing, and sort markup
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
Due: none

Update pattern library yaml for events listing
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
Due: lint:format

update case study image and content width
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

update case study image and content width (#202)
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

Bump wagtailmedia to latest version
  poetry.lock
  pyproject.toml
Due: none

Bump wagtail to v6 and wagtail-purge to v0.4.0
  poetry.lock
  pyproject.toml
Due: none

SlugInput widget is now the default for SlugField fields
  tbx/taxonomy/models.py
Due: none

Bump Django to 4.2.11, which is the latest security release
  poetry.lock
Due: none

StreamField no longer requires use_json_field=True
  tbx/blog/models.py
  tbx/core/models.py
  tbx/navigation/models.py
  tbx/people/models.py
  tbx/services/models.py
  tbx/work/models.py
Due: none

Remove `use_json_field=True` in events StreamField
  tbx/events/models.py
Due: none

bump wagtail from 6.0.1 to 6.0.2
  poetry.lock
Due: none

Fix the link for events in the listing, and sort markup (#200)
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
Due: lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
