Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Add some mixins for common styles in the nav
  tbx/static_src/sass/components/navigation/_primary-nav.scss
  tbx/static_src/sass/components/navigation/_sub-nav.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Close the mobile menu if we focus outside it
  tbx/static_src/javascript/components/mobile-menu.js
Due: lint:js, lint:format

Move the skip link inside the header, and add some js to improve accessibility when tabbing
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/javascript/components/mobile-menu.js
  tbx/static_src/javascript/components/mobile-sub-menu.js
  tbx/static_src/sass/components/navigation/_sub-nav.scss
Due: lint:js, lint:css, lint:format

Updated js tests - removed desktop test as too fiddly to update
  tbx/static_src/javascript/components/desktop-sub-menu.test.js
  tbx/static_src/javascript/components/mobile-menu.test.js
  tbx/static_src/javascript/components/mobile-sub-menu.js
Due: lint:js, lint:format

removed superfluous navigation role
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

add some docs on the navigaiton
  docs/navigation.md
  mkdocs.yml
Due: lint:format

reduced motion and high contrast mode
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_logo.scss
  tbx/static_src/sass/components/navigation/_primary-nav.scss
  tbx/static_src/sass/components/navigation/_secondary-nav.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Fix footer_logos StreamField, remove max_num limit
  tbx/navigation/migrations/0003_alter_navigationsettings_footer_logos.py
  tbx/navigation/models.py
Due: none

Refactor the Contact model & define a ContactMixin
  tbx/people/blocks.py
  tbx/people/forms.py
  tbx/people/models.py
Due: none

Fix circular imports
  tbx/people/models.py
Due: none

Use ContactMixin on all Page models
  docs/page-models.md
  tbx/blog/migrations/0018_add_contact_mixin_to_all_page_models.py
  tbx/blog/models.py
  tbx/core/migrations/0018_add_contact_mixin_to_all_page_models.py
  tbx/core/models.py
  tbx/events/models.py
  tbx/people/migrations/0005_add_contact_mixin_to_all_page_models.py
  tbx/services/migrations/0008_add_contact_mixin_to_all_page_models.py
  tbx/services/models.py
  tbx/work/migrations/0022_add_contact_mixin_to_all_page_models.py
  tbx/work/models.py
Due: lint:format

Update the ContactFactory and associated tests
  tbx/people/factories.py
  tbx/people/tests/test_factories.py
Due: none

Test the Contact feature
  tbx/people/tests/test_contact.py
Due: none

Update footer templates and pattern library
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
Due: lint:format

Fix typo in docs
  docs/navigation.md
Due: lint:format

Fix typo in comment
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.md
Due: lint:format

Fix typo in comment
  tbx/static_src/sass/components/navigation/_primary-nav.scss
Due: lint:css, lint:format

Fix typo in comment
  tbx/static_src/sass/components/navigation/_sub-nav.scss
Due: lint:css, lint:format

Convert empty links to buttons
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/static_src/sass/components/navigation/_sub-nav.scss
Due: lint:css, lint:format

Fix typo in pattern library docs
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.md
Due: lint:format

Close desktop menu with the escape key
  tbx/static_src/javascript/components/desktop-close-menus.js
Due: lint:js, lint:format

Remove menu button animation for prefers reduced motion
  tbx/static_src/sass/components/_button.scss
Due: lint:css, lint:format

use dynamic viewport height
  tbx/static_src/sass/components/navigation/_sub-nav.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Update stylelint config to allow dvh units
  .stylelintrc.js
Due: lint:js, lint:format

FE - navigation (#103)
  .stylelintrc.js
  docs/navigation.md
  mkdocs.yml
  tbx/project_styleguide/templates/patterns/atoms/logo/logo.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-item.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-item.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.md
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.yaml
  tbx/static_src/javascript/components/desktop-close-menus.js
  tbx/static_src/javascript/components/desktop-sub-menu.js
  tbx/static_src/javascript/components/desktop-sub-menu.test.js
  tbx/static_src/javascript/components/mobile-menu.js
  tbx/static_src/javascript/components/mobile-menu.test.js
  tbx/static_src/javascript/components/mobile-sub-menu.js
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_logo.scss
  tbx/static_src/sass/components/navigation/_primary-nav.scss
  tbx/static_src/sass/components/navigation/_secondary-nav.scss
  tbx/static_src/sass/components/navigation/_sub-nav.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

Initialise Sector taxonomy filters on WorkPage and WorkIndexPage
  tbx/taxonomy/migrations/0002_sector_team_remove_service_contact_reasons_and_more.py
  tbx/work/migrations/0022_historicalworkpage_related_sectors_and_more.py
Due: none

Initialise Sector taxonomy filters on WorkPage and WorkIndexPage
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/taxonomy/admin.py
  tbx/taxonomy/models.py
  tbx/work/models.py
Due: none

Fix related_taxonomies field property on WorkIndexPage
  tbx/work/models.py
Due: none

Initialise Sector taxonomy filters on BlogPage and BlogIndexPage
  tbx/blog/migrations/0018_blogpage_related_sectors.py
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
Due: none

Initialise Sector taxonomy filters on Event and EventIndexPage
  tbx/events/models.py
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
Due: none

Remove rendundant fields from Factories
  tbx/taxonomy/factories.py
  tbx/taxonomy/tests/test_factories.py
Due: none

Delete Contact and ContactReasons Models
  tbx/people/factories.py
  tbx/people/migrations/0005_delete_contactreason_delete_contactreasonslist.py
  tbx/people/models.py
  tbx/people/tests/test_factories.py
  tbx/taxonomy/factories.py
  tbx/taxonomy/tests/test_factories.py
Due: none

Reinstate Contact and ContactReasons models but not fields
  tbx/people/factories.py
  tbx/people/migrations/0005_delete_contactreason_delete_contactreasonslist.py
  tbx/people/models.py
  tbx/people/tests/test_factories.py
Due: none

Improve WorkPage and WorkIndexPage with chain method
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/work/models.py
Due: none

Improve BlogPage & BlogIndexPage with chain method
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
Due: none

Enforce TitleFieldPanel heading
  tbx/taxonomy/models.py
Due: none

Include taxonomy test of blog_post.tags
  tbx/blog/tests/test_models.py
  tbx/taxonomy/tests/test_models.py
Due: none

Alter the test_related_blog_posts tests
  tbx/taxonomy/tests/test_models.py
Due: none

Configure Event models and associated tags
  tbx/events/models.py
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/settings/base.py
Due: none
