Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Update docstring
  tbx/work/models.py
Due: none

Add some improvements to the WorkPage model
  tbx/work/migrations/0014_add_new_workpage_model.py
  tbx/work/models.py
Due: none

Keep things simple and maintain consistency
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.html
Due: none

Use relative URL and make use of page.first_author property
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
Due: none

Merge migrations
  tbx/blog/migrations/0015_merge_20240126_0816.py
  tbx/core/migrations/0015_merge_20240126_0816.py
  tbx/work/migrations/0015_merge_20240126_0816.py
Due: none

Add missing migration
  tbx/work/migrations/0016_alter_historicalworkpage_body_alter_workpage_body.py
Due: none

update comment
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
Due: none

first pass at styles for featured case study block
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

move icon to the top of the imports to be able to override it
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

update logo var name
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
Due: none

add logo and gradient and black var
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

move results SVG so it's part of the text
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

move arrow link icon styles to a mixin
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

tidy up mobile spacing
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

make vars more specific and add to components page
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

make sure images are full width on mobile
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

swap mobile retina image renditions
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
Due: none

update link to use title
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
Due: lint:format

update yaml for mobile retina image
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

add alt text to image
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
Due: none

update listing yaml dates
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
Due: lint:format

change category to date
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
Due: lint:format

Remove the example streamfield templates (#62)
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_service.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_service.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-blog.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-work.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.yaml
Due: lint:format

use css custom properties for results ring
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
Due: none

remove blend modes from quote icon so the colours are accessible
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.html
Due: none

Move ShowcaseBlock to services app
  tbx/blog/migrations/0013_alter_blogpage_body.py
  tbx/core/blocks.py
  tbx/core/migrations/0015_alter_standardpage_body.py
  tbx/services/blocks.py
  tbx/services/migrations/0002_alter_servicepage_body.py
  tbx/work/migrations/0012_alter_workpage_body.py
Due: none

Initialise ServicePage
  tbx/core/blocks.py
  tbx/core/migrations/0015_servicepage.py
  tbx/core/models.py
Due: none

Remove former ServicePage from core app
  tbx/core/blocks.py
  tbx/core/migrations/0015_servicepage.py
  tbx/core/models.py
Due: none

Remove streamfield-example-service.html (PR #62)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-service.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.yaml
Due: lint:format

Render introduction conditionally in browser
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
Due: none

Initialise services app
  tbx/services/__init__.py
  tbx/services/apps.py
  tbx/services/blocks.py
  tbx/services/migrations/0001_initial.py
  tbx/services/migrations/__init__.py
  tbx/services/models.py
  tbx/settings/base.py
Due: none

Set up frontend templates
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-service.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.yaml
Due: lint:format

Reinstate migrations after rebase with integration/sprint-2
  tbx/blog/migrations/0013_alter_blogpage_body.py
  tbx/blog/migrations/0016_alter_blogpage_body.py
  tbx/core/migrations/0016_alter_standardpage_body.py
  tbx/work/migrations/0017_alter_historicalworkpage_body_alter_workpage_body.py
Due: none

Begin FE - set up template, yaml and scss
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/client_logo_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/client_logo_block.yaml
  tbx/static_src/sass/components/_client-logo.scss
Due: lint:css, lint:format

Initialise ClientLogoBlock with migrations
  tbx/core/blocks.py
Due: none

Alter image format to webp
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/client_logo_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/client_logo_block.yaml
  tbx/static_src/sass/components/_client-logo.scss
Due: lint:css, lint:format

Rename ClientLogoBlock and associated instances
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/static_src/sass/components/_partners.scss
Due: lint:css, lint:format

Move PartnersBlock to service app
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/services/blocks.py
  tbx/services/migrations/0003_alter_servicepage_body.py
Due: lint:format

Initialise Work and BlogListing Orderables on ServicePage
  tbx/services/migrations/0004_servicepage_featured_blog_heading_and_more.py
  tbx/services/models.py
Due: none

wip commit for work page
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/_work-page-author.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format
