Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

more linting
  tbx/core/tests/test_generic_page_functionality.py
Due: none

Override page titles in the navigation (#226)
  docs/navigation.md
  docs/page-models.md
  tbx/blog/migrations/0025_add_navigation_title_override.py
  tbx/blog/models.py
  tbx/core/migrations/0033_add_navigation_title_override.py
  tbx/core/models.py
  tbx/core/tests/test_generic_page_functionality.py
  tbx/core/utils/models.py
  tbx/events/migrations/0007_add_navigation_title_override.py
  tbx/events/models.py
  tbx/impact_reports/migrations/0003_add_navigation_title_override.py
  tbx/impact_reports/models.py
  tbx/navigation/blocks.py
  tbx/people/migrations/0008_add_navigation_title_override.py
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/services/migrations/0021_add_navigation_title_override.py
  tbx/services/models.py
  tbx/work/migrations/0033_add_navigation_title_override.py
  tbx/work/models.py
Due: lint:format

package updates
  poetry.lock
Due: none

Fixing dependency issue
  poetry.lock
Due: none

Further package updates (#234)
  poetry.lock
Due: none

Tighten up spacing after narrower letters
  docs/front-end/motif-headings.md
  mkdocs.yml
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

Add support runbook
  docs/support-runbook.md
  mkdocs.yml
Due: lint:format

Add an example of the dropcat--i class
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
Due: none

spelling fix
  docs/support-runbook.md
Due: lint:format

Update the critical paths doc
  docs/upgrading.md
Due: lint:format

Add a scenario
  docs/support-runbook.md
Due: lint:format

formatting fix
  docs/upgrading.md
Due: lint:format

Another variation of the memory error scenario
  docs/support-runbook.md
Due: lint:format

Give W it's own separate class
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

Tighten up spacing after narrower letters (#235)
  docs/front-end/motif-headings.md
  mkdocs.yml
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

add canonical links for listing pages
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
Due: none

Use the fullpageurl tag which is cached
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
Due: none

Add contact snippets to critical paths in the Upgrading doc
  docs/upgrading.md
Due: lint:format

Add support runbook (#236)
  docs/support-runbook.md
  mkdocs.yml
Due: lint:format

Update the critical paths doc (#237)
  docs/upgrading.md
Due: lint:format

Add canonical links for listing pages (#238)
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
Due: none

Ensure the header image is correctly used for social sharing on the work page
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Ensure the header image is correctly used for social sharing on the work page (#240)
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Ensure 'text' returns an empty string if neither page nor title exists
  tbx/navigation/blocks.py
Due: none

Fix link title in footer logos links
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
Due: none

Update pattern library footer component
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
Due: lint:format

Add default social sharing images
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/images/social/og-theme-banana.png
  tbx/static_src/images/social/og-theme-coral.png
  tbx/static_src/images/social/og-theme-earth.png
  tbx/static_src/images/social/og-theme-lagoon.png
  tbx/static_src/images/social/twitter-theme-banana.png
  tbx/static_src/images/social/twitter-theme-coral.png
  tbx/static_src/images/social/twitter-theme-earth.png
  tbx/static_src/images/social/twitter-theme-lagoon.png
Due: none

Remove title tag on footer logos to avoid duplication in screen reader
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
Due: none

use webp for all social images
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/images/social/og-theme-banana.png
  tbx/static_src/images/social/og-theme-banana.webp
  tbx/static_src/images/social/og-theme-coral.png
  tbx/static_src/images/social/og-theme-coral.webp
  tbx/static_src/images/social/og-theme-earth.png
  tbx/static_src/images/social/og-theme-earth.webp
  tbx/static_src/images/social/og-theme-lagoon.png
  tbx/static_src/images/social/og-theme-lagoon.webp
  tbx/static_src/images/social/twitter-theme-banana.png
  tbx/static_src/images/social/twitter-theme-banana.webp
  tbx/static_src/images/social/twitter-theme-coral.png
  tbx/static_src/images/social/twitter-theme-coral.webp
  tbx/static_src/images/social/twitter-theme-earth.png
  tbx/static_src/images/social/twitter-theme-earth.webp
  tbx/static_src/images/social/twitter-theme-lagoon.png
  tbx/static_src/images/social/twitter-theme-lagoon.webp
Due: none

Remove title tag on footer logos to avoid duplication in screen reader (#243)
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
Due: none

Add default social sharing images and use webp format for all social images (#242)
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/images/social/og-theme-banana.webp
  tbx/static_src/images/social/og-theme-coral.webp
  tbx/static_src/images/social/og-theme-earth.webp
  tbx/static_src/images/social/og-theme-lagoon.webp
  tbx/static_src/images/social/twitter-theme-banana.webp
  tbx/static_src/images/social/twitter-theme-coral.webp
  tbx/static_src/images/social/twitter-theme-earth.webp
  tbx/static_src/images/social/twitter-theme-lagoon.webp
Due: none

Update links to prodcution site in the docs
  docs/deployment.md
  docs/support-runbook.md
Due: lint:format

Update links to prodcution site in the docs (#244)
  docs/deployment.md
  docs/support-runbook.md
Due: lint:format

Switch all pattern library images to use picsum
  docs/front-end/placeholder-images.md
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.md
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.md
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Switch all pattern library images to use picsum (#245)
  docs/front-end/placeholder-images.md
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.md
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.md
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Prevent page scroll when mobile menu is open
  tbx/static_src/javascript/components/desktop-close-menus.js
Due: lint:js, lint:format

Optimize the favicon
  tbx/static_src/images/favicon.png
Due: none

add a retina version of partner logos
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_partners.scss
Due: lint:css, lint:format

prevent scrolling when the mobile menu is open
  tbx/static_src/javascript/components/desktop-close-menus.js
Due: lint:js, lint:format

simplify the logic
  tbx/static_src/javascript/components/desktop-close-menus.js
Due: lint:js, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
