Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

update docs
  docs/front-end/themes_and_modes.md
  mkdocs.yml
Due: lint:format

Update theme selector in styleguide
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

Heading size fixes
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/intro_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_pagination.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/components/_work-sections.scss
Due: lint:css, lint:format

Re-instate fix for cropped logos
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Use coloured drop-caps with no animation on heading 2s
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

get font-size and line-height at desktop directly to avoid overriding unused styles
  tbx/static_src/sass/components/_pagination.scss
Due: lint:css, lint:format

Heading size fixes, logo fixes and other design feedback (#91)
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/intro_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/components/_pagination.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/components/_work-sections.scss
Due: lint:css, lint:format

Styling and markup for footer
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/in-page-nav/in-page-nav.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/footer-links.html
  tbx/project_styleguide/templates/patterns/navigation/components/footer-links.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing-avatar.scss
  tbx/static_src/sass/components/navigation/_footercolumn-nav.scss
  tbx/static_src/sass/components/navigation/_footerlinks-nav.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Remove cite attributes
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
Due: none

more pattern library updates
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/pages/service/service_page.yaml
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

social icon hover and high contrast mode
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Feature/themes fe 2 (#93)
  docs/front-end/themes_and_modes.md
  mkdocs.yml
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

historical work page adjust margin (#95)
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Move ColourThemeMixin panels to promote tab
  tbx/blog/models.py
  tbx/core/models.py
  tbx/core/utils/models.py
  tbx/events/models.py
  tbx/people/models.py
  tbx/services/models.py
  tbx/work/models.py
Due: none

make contact_link a variable
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
Due: none

Ensure social links use our custom focus style
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Add some space between name and role
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
Due: none

Footer - front-end (#92)
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/in-page-nav/in-page-nav.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/project_styleguide/templates/patterns/navigation/components/footer-links.html
  tbx/project_styleguide/templates/patterns/navigation/components/footer-links.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/pages/service/service_page.yaml
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing-avatar.scss
  tbx/static_src/sass/components/navigation/_footercolumn-nav.scss
  tbx/static_src/sass/components/navigation/_footerlinks-nav.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Update h2 styles and add non-animated version to the styleguide
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

Update template following changes in 05655a1
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
Due: none

Additional test for PrimaryNavLinkBlock
  tbx/navigation/tests/test_link_block.py
Due: none

Invalidate cache whenever changes are made to the NavigationSettings
  tbx/navigation/models.py
Due: none

Update primary nav template to include children & grandchildren
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-item.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-item.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
Due: none

Cleanup primarynav inclusion tag
  tbx/navigation/templatetags/navigation_tags.py
Due: none

Allow for hiding of children on a primary navigation item
  tbx/navigation/blocks.py
  tbx/navigation/migrations/0002_alter_navigationsettings_primary_navigation.py
  tbx/navigation/models.py
Due: none

Cache the primary nav template fragment
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

even up spacing between headings and paragraphs
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

make comment clearer
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Even up spacing between headings and paragraphs (#101)
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Fix cache invalidation
  tbx/navigation/models.py
Due: none

Footer logos should not have links
  tbx/navigation/migrations/0003_alter_navigationsettings_footer_logos.py
  tbx/navigation/models.py
Due: none

Remove unnecessary class
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

Update h2 styles for showcase and partners, and add non-animated version to the styleguide (#98)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

Rename sub menu templates
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
Due: lint:format

add header yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templates/patterns/organisms/header/header.yaml
Due: lint:format

Styling and functionality for the navigation
  tbx/project_styleguide/templates/patterns/atoms/logo/logo.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-item.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-item.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-item.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-item.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-item.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-item.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.md
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/javascript/components/desktop-sub-menu.js
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_logo.scss
  tbx/static_src/sass/components/navigation/_primary-nav.scss
  tbx/static_src/sass/components/navigation/_sub-nav.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

Fix indenting issue
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
Due: none

Yaml for navigation
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-item.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-item.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
Due: lint:format

Fix tabbing issue, and fix focus styles. Ensure whole focus box shows while still allowing scrolling
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/navigation/_primary-nav.scss
  tbx/static_src/sass/components/navigation/_sub-nav.scss
Due: lint:css, lint:format

Add some further comments to the sub-navigation
  tbx/static_src/sass/components/navigation/_sub-nav.scss
Due: lint:css, lint:format
