Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Draft swiper component
  package-lock.json
  package.json
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.html
  tbx/static_src/javascript/components/dynamic-hero.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_dynamic-hero.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

Draft contact CTA redesign
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

Add 'featured-services' class to featured services block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
Due: none

TWE-7 - BE - Division page (#324)
  poetry.lock
  pyproject.toml
  tbx/core/blocks.py
  tbx/core/factories.py
  tbx/core/models.py
  tbx/core/tests/test_models.py
  tbx/divisions/__init__.py
  tbx/divisions/blocks.py
  tbx/divisions/factories.py
  tbx/divisions/migrations/0001_initial.py
  tbx/divisions/migrations/__init__.py
  tbx/divisions/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/introduction_with_images_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/introduction_with_images_block.yaml
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/services/blocks.py
  tbx/settings/base.py
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_intro-with-images.scss
  tbx/static_src/sass/components/_photo-collage.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Update division story container to match block YAMLs
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.yaml
Due: lint:format

Mention in docs: only 1 division allowed
  docs/custom-features/divisions.md
Due: lint:format

TWE-11 - BE - Service area page (#335)
  docs/custom-features/divisions.md
  mkdocs.yml
  tbx/core/blocks.py
  tbx/core/tests/test_division_mixin.py
  tbx/core/tests/test_models.py
  tbx/core/utils/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_division.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_division.yaml
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.html
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.yaml
  tbx/services/blocks.py
  tbx/services/factories.py
  tbx/services/migrations/0024_serviceareapage.py
  tbx/services/models.py
Due: lint:format

Add featured services block to Division Page
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.yaml
Due: lint:format

Create a dedicated accessible link text field
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
Due: lint:format

TWE-9 | FE | Featured services (#340)
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_featured-services.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

TWE-10 | FE | New statistics group block (#334)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_stats-group.scss
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add a label format to NumericStatisticsBlock
  tbx/core/blocks.py
Due: none

Add statistics group block to Division Page
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.yaml
Due: lint:format

Add IconKeyPointsBlock
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.yaml
  tbx/services/blocks.py
Due: lint:format

Add a note about potentially using icon.html instead
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
Due: none

Add IconKeyPointsBlock to service area page in pattern library
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.html
Due: none

Add LinkColumnsBlock
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.yaml
  tbx/services/blocks.py
Due: lint:format

Add LinkColumnsBlock to service area page in pattern library
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.html
Due: none

Carousel controls and height calculation
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.html
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/static_src/javascript/components/dynamic-hero.js
  tbx/static_src/sass/components/_dynamic-hero.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:js, lint:css, lint:format

Add .venv to prettierignore
  .prettierignore
Due: none

Switch to ruff
  .flake8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  ruff.toml
  setup.cfg
Due: lint:format

Update .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Fine-tune the carousel, a11y considerations
  docs/front-end/breakpoints.md
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.html
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/static_src/javascript/components/dynamic-hero.js
  tbx/static_src/sass/components/_dynamic-hero.scss
  tbx/static_src/sass/components/_image.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Turn on autoplay on all screens
  tbx/static_src/javascript/components/dynamic-hero.js
Due: lint:js, lint:format

Update pattern library and styleguide
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

Fix Firefox font size issue
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.html
Due: none

Update faker to match latest from main
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
Due: none

fixup! Merge branch 'chore/switch-to-ruff' into staging
  docker-compose.yml
  docker/docker-compose-frontend.yml
  tbx/blog/migrations/0027_update_theme_colour_choices.py
  tbx/core/migrations/0038_update_theme_colour_choices.py
  tbx/core/migrations/0039_remove_homepage_introduction_homepage_hero_heading_and_more.py
  tbx/core/tests/test_division_mixin.py
  tbx/divisions/factories.py
  tbx/divisions/migrations/0001_initial.py
  tbx/divisions/models.py
  tbx/events/migrations/0009_update_theme_colour_choices.py
  tbx/impact_reports/migrations/0005_update_theme_colour_choices.py
  tbx/people/migrations/0011_update_theme_colour_choices.py
  tbx/services/factories.py
  tbx/services/migrations/0023_update_theme_colour_choices.py
  tbx/services/migrations/0024_serviceareapage.py
  tbx/work/migrations/0036_update_theme_colour_choices.py
Due: lint:format

Add primary & secondary buttons also, commented out from the YAML file
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
Due: lint:format

Add intro and buttons to the chooser blocks
  tailwind.config.js
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_section-title.scss
Due: lint:js, lint:css, lint:format

Fine-tune spacing
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
Due: none

Fix default_storage subclass check in `before_serve_document`
  tbx/core/wagtail_hooks.py
Due: none

Bump Django to 5.1.5
  poetry.lock
  pyproject.toml
Due: none

Fine tune styling
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Alternate between play and pause buttons
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/dynamic_hero_block.html
  tbx/static_src/javascript/components/dynamic-hero.js
  tbx/static_src/sass/components/_dynamic-hero.scss
Due: lint:js, lint:css, lint:format

Linting
  tbx/static_src/javascript/components/dynamic-hero.js
Due: lint:js, lint:format

More linting
  tbx/static_src/javascript/components/dynamic-hero.js
Due: lint:js, lint:format

Fix styling to match mobile design
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
