Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Initialise HomePage and its templates
  tbx/core/migrations/0019_remove_homepageheroimage_image_and_more.py
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
Due: lint:format

Refactor blocks
  tbx/core/blocks.py
  tbx/core/migrations/0020_add_photocollageblock_to_homepage_body.py
  tbx/services/migrations/0009_add_photocollageblock_to_servicepage_body.py
Due: none

Add template for PhotoCollageBlock
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
Due: none

Update template to conditionally render the CTA
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
Due: none

Change PartnerBlock inlinepanel label
  tbx/core/models.py
Due: none

Define a PhotoCollageBlock and add it to the HomePageStoryBlock
  tbx/core/blocks.py
Due: none

Harmonize `wagtail.blocks` usage
  tbx/core/blocks.py
Due: none

Migrations for addition of the photo collage block
  tbx/core/migrations/0020_add_photocollageblock_to_homepage_body.py
  tbx/services/migrations/0009_add_photocollageblock_to_servicepage_body.py
Due: none

Add PhotoCollageBlock to the ServiceStoryBlock
  tbx/services/blocks.py
Due: none

Remake migrations
  tbx/core/migrations/0019_homepagepartnerlogo_remove_homepageheroimage_image_and_more.py
  tbx/core/migrations/0020_add_photocollageblock_to_homepage_body.py
Due: none

Rebase with updated integration branch
  tbx/core/migrations/0020_homepagepartnerlogo_remove_homepageheroimage_image_and_more.py
  tbx/services/migrations/0010_alter_servicepage_body.py
Due: none

hotfix to prevent errors in the pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
Due: none

hotfix to prevent errors in the pattern library (#125)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
Due: none

Desaturated featured case study, image block and listing images
  tbx/core/wagtail_hooks.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Desaturate avatars
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

desaturate team listing and team page images
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
Due: lint:format

desaturate work page image
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format

desaturate team page image
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
Due: none

convert avatar to srcset_image
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

fix repeated yaml key
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format

isort
  tbx/core/wagtail_hooks.py
Due: none

Update docs
  docs/front-end/sustainability.md
Due: lint:format

Make the labels for the photo collage slightly clearer
  tbx/core/blocks.py
  tbx/core/migrations/0021_update_label_names.py
  tbx/services/migrations/0011_update_label_names.py
Due: none

Image desaturation (#128)
  docs/front-end/sustainability.md
  tbx/core/wagtail_hooks.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

styling and layout for the photo collage block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage.yaml
  tbx/static_src/sass/components/_photo-collage.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Update yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.yaml
Due: lint:format

Accessibility and cross-browser fixes
  tbx/static_src/sass/components/_photo-collage.scss
Due: lint:css, lint:format

re-name block to be more consistent with other block names and add to service page in the pattern library and sort the grid layout
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.yaml
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Add desaturation, update yaml and add to the components block
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Styling and layout for the photo collage block (#118)
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_photo-collage.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Make the labels for the photo collage slightly clearer (#129)
  tbx/core/blocks.py
  tbx/core/migrations/0021_update_label_names.py
  tbx/services/migrations/0011_update_label_names.py
Due: none

feat(promo_block): Add promo block to home page and service page story blocks
  tbx/core/blocks.py
  tbx/core/migrations/0022_add_promo_block_to_homepage_body.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.yaml
  tbx/services/blocks.py
  tbx/services/migrations/0012_add_promo_block_to_servicepage_body.py
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

feat(promo_block): Add styles to promo block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_promo.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Include pixel_limit to warn editors when they upload large images
  tbx/settings/base.py
Due: none

feat(promo_block): Change to using picture element instead of background images
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_promo.scss
Due: lint:css, lint:format

Remove cropping on the image block and update its display. Add a new wide image block.
  tbx/blog/migrations/0022_add_wide_image_block.py
  tbx/core/blocks.py
  tbx/core/migrations/0023_add_wide_image_block.py
  tbx/core/templatetags/reading_time_tags.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/services/migrations/0013_add_wide_image_block.py
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_image.scss
  tbx/work/migrations/0026_add_wide_image_block.py
Due: lint:css, lint:format

linting
  tbx/core/templatetags/reading_time_tags.py
Due: none

Update the aspect ratio for the work page image
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format

docs update
  docs/data-import.md
Due: lint:format

Re-use the imageblock class for the wide image block and group them together in the admin
  tbx/blog/migrations/0023_add_wide_image_block.py
  tbx/core/blocks.py
  tbx/core/migrations/0024_add_wide_image_block.py
  tbx/core/templatetags/reading_time_tags.py
  tbx/services/migrations/0014_add_wide_image_block.py
  tbx/work/migrations/0027_add_wide_image_block.py
Due: none

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
