Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Update link
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

Update link (#221)
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

regenerate favicons in the root of the site
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/images/icons/android-chrome-192x192.png
  tbx/static_src/images/icons/android-chrome-256x256.png
  tbx/static_src/images/icons/apple-touch-icon.png
  tbx/static_src/images/icons/favicon-16x16.png
  tbx/static_src/images/icons/favicon-32x32.png
  tbx/static_src/images/icons/favicon.ico
  tbx/static_src/images/icons/mstile-150x150.png
  tbx/static_src/images/icons/safari-pinned-tab.svg
Due: none

Fixed nesting error in carbon statement
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

Updates to photo collage and tabbed paragraph blocks to make title and intro fields optional (#218)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/static_src/sass/components/_photo-collage.scss
  tbx/static_src/sass/components/_tabbed-paragraph.scss
Due: lint:css, lint:format

Fix issues with live previews when creating a PersonPage (#219)
  tbx/people/models.py
Due: none

regenerate favicons in the root of the site (#222)
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/images/icons/android-chrome-192x192.png
  tbx/static_src/images/icons/android-chrome-256x256.png
  tbx/static_src/images/icons/apple-touch-icon.png
  tbx/static_src/images/icons/favicon-16x16.png
  tbx/static_src/images/icons/favicon-32x32.png
  tbx/static_src/images/icons/favicon.ico
  tbx/static_src/images/icons/mstile-150x150.png
  tbx/static_src/images/icons/safari-pinned-tab.svg
Due: none

Fixed nesting error in carbon statement (#223)
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
Due: none

social sharing updates
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/settings/production.py
Due: none

remove FB_APP_ID from base.py
  tbx/settings/base.py
Due: none

Remove FB_APP_ID from context processors
  tbx/core/context_processors.py
  tbx/settings/base.py
Due: none

Update mkdocs and expand nav by default, to make the nested docs more obvious
  docs/index.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: lint:format

Social sharing updates (#224)
  tbx/core/context_processors.py
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/settings/base.py
  tbx/settings/production.py
Due: none

Various updates to the docs
  docs/anonymised-data.md
  docs/front-end/breakpoints.md
  docs/front-end/facebook-app-id.md
  docs/front-end/placeholder-images.md
  docs/front-end/sustainability.md
  docs/front-end/themes_and_modes.md
  docs/infrastructure.md
  mkdocs.yml
Due: lint:format

update heading sizes for showcase block - limit larger heading size to homepage version only
  tbx/static_src/sass/components/_showcase.scss
Due: lint:css, lint:format

update wide image caption and attribution margin for larger screens
  tbx/static_src/sass/components/_image.scss
Due: lint:css, lint:format

documentation tweak
  docs/front-end/themes_and_modes.md
Due: lint:format

Update mkdocs and expand nav by default, to make the nested docs more… (#225)
  docs/anonymised-data.md
  docs/front-end/breakpoints.md
  docs/front-end/facebook-app-id.md
  docs/front-end/placeholder-images.md
  docs/front-end/sustainability.md
  docs/front-end/themes_and_modes.md
  docs/index.md
  docs/infrastructure.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: lint:format

update mobile sizing of photo collage, increase bottom margin on large screens and increase cta width
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_photo-collage.scss
Due: lint:css, lint:format

remove top margin from cta button
  tbx/static_src/sass/components/_call-to-action.scss
Due: lint:css, lint:format

add margin for mobile only
  tbx/static_src/sass/components/_call-to-action.scss
Due: lint:css, lint:format

linting
  tbx/static_src/sass/components/_call-to-action.scss
Due: lint:css, lint:format

bring fab run_test task in line with kit
  fabfile.py
Due: none

Further tweaks to the service page alignment
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Tweaks to the contact cta layout
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Update robots.txt to be in line with kit
  tbx/core/views.py
Due: none

bring fab run_test task in line with kit (#231)
  fabfile.py
Due: none

Update robots.txt to be in line with kit (#232)
  tbx/core/views.py
Due: none

Service page alignment and contact CTA tweaks (#233)
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Try adding a test
  tbx/core/tests/test_navigation_field.py
Due: none

Mention navigation caching in the docs
  docs/navigation.md
Due: lint:format

more linting
  tbx/services/models.py
Due: none

linting
  tbx/blog/models.py
  tbx/core/models.py
  tbx/events/models.py
  tbx/impact_reports/models.py
  tbx/people/models.py
  tbx/services/models.py
  tbx/work/models.py
Due: none

run black
  tbx/blog/models.py
  tbx/core/models.py
  tbx/core/utils/models.py
  tbx/events/models.py
  tbx/impact_reports/models.py
  tbx/navigation/blocks.py
  tbx/people/models.py
  tbx/work/models.py
Due: none

linting
  tbx/core/tests/test_navigation_field.py
Due: none

Code review feedback on tests
  tbx/core/tests/test_generic_page_functionality.py
  tbx/core/tests/test_navigation_field.py
Due: none

Updates to navigation behaviour and settings
  tbx/blog/migrations/0025_add_navigation_title_override.py
  tbx/blog/models.py
  tbx/core/migrations/0033_add_navigation_title_override.py
  tbx/core/models.py
  tbx/core/utils/models.py
  tbx/events/migrations/0007_add_navigation_title_override.py
  tbx/events/models.py
  tbx/impact_reports/migrations/0003_add_navigation_title_override.py
  tbx/impact_reports/models.py
  tbx/navigation/blocks.py
  tbx/people/migrations/0008_add_navigation_title_override.py
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
  tbx/services/migrations/0021_add_navigation_title_override.py
  tbx/services/models.py
  tbx/work/migrations/0033_add_navigation_title_override.py
  tbx/work/models.py
Due: lint:format

flake8
  tbx/core/tests/test_navigation_field.py
Due: none

Update docs and field name in the navigation settings
  docs/navigation.md
  docs/page-models.md
  tbx/navigation/blocks.py
Due: lint:format

black
  tbx/core/tests/test_generic_page_functionality.py
Due: none
