Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

feat(footer): Make changes to footer after design review
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/navigation/_footerlinks-nav.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

fix(tabbed_paragraph_block): Fix links on buttons
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Event block (#133)
  tbx/core/blocks.py
  tbx/core/migrations/0026_add_event_block_to_homepage_body.py
  tbx/core/models.py
  tbx/core/templatetags/util_tags.py
  tbx/core/tests/test_util_tags.py
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/services/blocks.py
  tbx/services/migrations/0016_add_event_block_to_servicepage_body.py
  tbx/static_src/sass/components/_event.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

use a simple link for the tabbed paragraph block yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Fix links on buttons of tabbed paragraph block (#139)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Limit memory usage when loading files from S3
  tbx/settings/base.py
Due: none

Remove wagtail-webstories and associated migrations
  poetry.lock
  pyproject.toml
  tbx/blog/migrations/0001_initial.py
  tbx/core/blocks.py
  tbx/core/migrations/0001_initial.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/external_story_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/external_story_block.yaml
  tbx/settings/base.py
  tbx/work/migrations/0001_initial.py
Due: lint:format

Remove superfluous ExternalStoryBlock
  tbx/core/blocks.py
Due: none

remove new variable
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Footer design review - recreated (#142)
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/navigation/_footerlinks-nav.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

remove unneeded fields on historical work page
  tbx/work/migrations/0028_remove_homepage_image_and_screenshot_fields.py
  tbx/work/models.py
Due: none

Remove unused import
  tbx/work/models.py
Due: none

Limit memory usage when loading files from S3 (#140)
  tbx/settings/base.py
Due: none

Fix Sentry error on Production - Image Size (#131)
  tbx/settings/base.py
Due: none

use eval() not int() to interpret the max upload size
  tbx/settings/base.py
Due: none

We don't need both a statement and title on the home page
  tbx/core/migrations/0025_remove_unneeded_homepage_field.py
Due: none

Update component library
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

address code review feedback
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
  tbx/static_src/sass/components/_employee-owned-icon.scss
Due: lint:css, lint:format

don't repeat keys in the yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
Due: lint:format

ensure home page streamfield does not inherit story block blocks
  tbx/core/blocks.py
  tbx/core/migrations/0028_remove_unwanted_blocks_on_homepage.py
Due: none

homepage wip - style heading
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/static_src/sass/components/_home-page-hero.scss
Due: lint:css, lint:format

Layout for home page plus yaml updates for avatars
  tbx/core/migrations/0026_remove_unneeded_homepage_field.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_home.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_home.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_home-page-hero.scss
  tbx/static_src/sass/components/_partners.scss
Due: lint:css, lint:format

We don't need both a statement and title on the home page
  tbx/core/migrations/0025_remove_unneeded_homepage_field.py
  tbx/core/models.py
Due: none

tweak partner logo styles
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/static_src/sass/components/_partners.scss
Due: lint:css, lint:format

Add more spacing around blog chooser and work chooser
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
Due: none

homepage wip - style heading
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_home-page-hero.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Layout for home page plus yaml updates for avatars
  tbx/core/migrations/0025_remove_unneeded_homepage_field.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Accessibility fixes
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/static_src/sass/components/_employee-owned-icon.scss
Due: lint:css, lint:format

recreate migration
  tbx/core/migrations/0027_remove_unneeded_homepage_field.py
Due: none

Layout for home page plus yaml updates for avatars
  tbx/core/migrations/0025_remove_unneeded_homepage_field.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/static_src/sass/components/_home-page-hero.scss
Due: lint:css, lint:format

homepage wip - style heading
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

add event block to homepage in pattern library
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
Due: lint:format

Home page FE and update to fields / blocks available (#145)
  tbx/core/blocks.py
  tbx/core/migrations/0027_remove_unneeded_homepage_field.py
  tbx/core/migrations/0028_remove_unwanted_blocks_on_homepage.py
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_home.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_home.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_home-page-hero.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Recreate the home page fe PR due to idiocy (#148)
  tbx/core/blocks.py
  tbx/core/migrations/0027_remove_unneeded_homepage_field.py
  tbx/core/migrations/0028_remove_unwanted_blocks_on_homepage.py
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.yaml
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_home.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_home.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_home-page-hero.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

black
  tbx/services/blocks.py
Due: none

Values block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/values_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/values_block.yaml
  tbx/services/blocks.py
  tbx/services/migrations/0017_add_values_block.py
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_values.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
