Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Style 500 error page
  tbx/project_styleguide/templates/patterns/pages/errors/500.html
Due: none

Add 2XL breakpoint in Tailwind to match variables.scss
  tailwind.config.js
Due: lint:js, lint:format

Add the broken matchstick SVG
  tbx/project_styleguide/templates/patterns/atoms/icons/broken-matchstick-icon.html
  tbx/static_src/sass/components/_icon.scss
Due: lint:css, lint:format

Increase error code opacity for WCAG
  tbx/project_styleguide/templates/patterns/pages/errors/500.html
Due: none

Remove unused 404.yaml file
  tbx/project_styleguide/templates/patterns/pages/errors/404.yaml
Due: lint:format

Update docs
  docs/front-end/breakpoints.md
Due: lint:format

Style 404 error page
  tbx/project_styleguide/templates/patterns/pages/errors/404.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_icon.scss
Due: lint:css, lint:format

Remove thumbnail placeholder
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.html
  tbx/static_src/images/thumbnail-placeholder.svg
Due: none

define icon on block Meta
  tbx/core/blocks.py
Due: none

Order related blog posts and work pages by date
  tbx/blog/models.py
  tbx/work/models.py
Due: none

Remove unused template inclusion tags
  tbx/core/templatetags/torchbox_tags.py
Due: none

Ensure that blank dates are pushed to the end of the QuerySet
  tbx/work/models.py
Due: none

Update docs (#179)
  docs/front-end/markdown-codehilite.md
  docs/front-end/utility-classes.md
  docs/hotjar-tracking.md
  mkdocs.yml
Due: lint:format

Update birdbath configuration to match kit (#177)
  docs/anonymised-data.md
  tbx/settings/base.py
Due: lint:format

Focus into video after accepting tcs and cs so screenreaders can play the video
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.html
  tbx/static_src/javascript/components/youtube-embed.js
Due: lint:js, lint:format

Don't focus on video unless you've just given consent, sort focus state, fix cookie in safari
  tbx/static_src/javascript/components/youtube-embed.js
  tbx/static_src/sass/components/_youtube-embed.scss
Due: lint:js, lint:css, lint:format

Youtube consent front-end
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.yaml
  tbx/static_src/javascript/components/youtube-embed.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_promo.scss
  tbx/static_src/sass/components/_youtube-embed.scss
  tbx/static_src/sass/components/_youtube_embed.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

update docs
  docs/front-end/lite-youtube.md
  docs/front-end/sustainability.md
  mkdocs.yml
Due: lint:format

Add pagination to people listing
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
Due: none

Revert "Add pagination to people listing"
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
Due: none

Paginate team listing
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
Due: none

Bump actions/checkout to v4
  .github/workflows/test.yml
Due: lint:format

Bump actions/setup-python to v5
  .github/workflows/test.yml
Due: lint:format

Bump actions/setup-node to v4
  .github/workflows/test.yml
Due: lint:format

Bump actions/cache to v4, which updated Node 20
  .github/workflows/test.yml
Due: lint:format

Bump pre-commit/action to v3.0.1
  .github/workflows/test.yml
Due: lint:format

Bump wagtail to v6 and wagtail-purge to v0.4.0
  poetry.lock
  pyproject.toml
Due: none

Bump Django to 4.2.11, which is the latest security release
  poetry.lock
Due: none

StreamField no longer requires use_json_field=True
  tbx/blog/models.py
  tbx/core/models.py
  tbx/navigation/models.py
  tbx/people/models.py
  tbx/services/models.py
  tbx/work/models.py
Due: none

SlugInput widget is now the default for SlugField fields
  tbx/taxonomy/models.py
Due: none

Bump wagtailmedia to latest version
  poetry.lock
  pyproject.toml
Due: none

add spacing below team listing
  tbx/static_src/sass/components/_team-listing.scss
Due: lint:css, lint:format

Rename body_class to html_class
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/pages/errors/404.html
  tbx/project_styleguide/templates/patterns/pages/wagtail/password_required.html
Due: none

Add 404.yaml file with footer links
  tbx/project_styleguide/templates/patterns/pages/errors/404.yaml
Due: lint:format

Remove general .grid__button class
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Fix related work page tags
  tbx/work/models.py
Due: none

Tidy up unused templates and add very basic styling for the password required page
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/hero/hero.html
  tbx/project_styleguide/templates/patterns/molecules/hero/hero.yaml
  tbx/project_styleguide/templates/patterns/molecules/in-page-nav/in-page-nav.html
  tbx/project_styleguide/templates/patterns/molecules/in-page-nav/in-page-nav.yaml
  tbx/project_styleguide/templates/patterns/organisms/latest-posts/latest-posts.html
  tbx/project_styleguide/templates/patterns/organisms/latest-posts/latest-posts.yaml
  tbx/project_styleguide/templates/patterns/organisms/work-listing/work-listing.html
  tbx/project_styleguide/templates/patterns/organisms/work-listing/work-listing.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/wagtail/password_required.html
  tbx/static_src/sass/components/_form.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

border on input for high contrast mode, fix validation error
  tbx/project_styleguide/templates/patterns/pages/wagtail/password_required.html
  tbx/static_src/sass/components/_form.scss
Due: lint:css, lint:format

remove commented code
  tbx/static_src/sass/components/_form.scss
Due: lint:css, lint:format

Create events-specific EventItemBlock
  tbx/events/blocks.py
Due: none

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
