Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

make heading level optional
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
Due: none

add doc
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.md
Due: lint:format

add motif letter to components
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

update headings on service and work page
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
Due: none

tweak transition timing
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

tweak the animation easing
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

update heading ones
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
Due: none

correct bem on styleguide heading
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

add motif heading template
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.yaml
Due: lint:format

reset italic tags used within heading tags
  tbx/static_src/sass/base/_typography.scss
Due: lint:css, lint:format

reset bold tags used in heading tags
  tbx/static_src/sass/base/_typography.scss
Due: lint:css, lint:format

use var for colour and add a note about background colour
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

screen reader tweak
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
Due: none

front-end for work listing
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/static_src/sass/components/_page-listing.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

pattern library updates
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
Due: lint:format

Define Featured Case Study Block for Service Pages
  tbx/services/blocks.py
  tbx/services/migrations/0005_add_featured_case_study_block.py
Due: none

Work listing fe (#76)
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/static_src/sass/components/_page-listing.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Update templates & pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
Due: lint:format

align the feature case study to the grid
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Ensure that pattern library is not broken
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Add docstring to featured_case_study_logo & featured_case_study_image
  tbx/services/blocks.py
Due: none

add space underneath featured case study
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

make motif heading light and make opacity consistent between themes
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

align streamfields on the service page
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_image.scss
Due: lint:css, lint:format

align raw html and markdown
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

fix tag url on the blog chooser block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
Due: none

Convert the featured blogs and work pages to be streamfield blocks, and fe styling
  tbx/project_styleguide/templates/patterns/atoms/date_and_reading_time/date_and_reading_time.html
  tbx/project_styleguide/templates/patterns/atoms/date_and_reading_time/date_and_reading_time.yaml
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/services/blocks.py
  tbx/services/migrations/0005_move_blog_and_work_chooser_to_streamfields.py
  tbx/services/models.py
  tbx/static_src/sass/components/_blog-meta.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_section-title.scss
  tbx/static_src/sass/components/_work-hero.scss
  tbx/work/models.py
Due: lint:css, lint:format

Linting
  tbx/services/blocks.py
  tbx/services/models.py
Due: none

Remove a debug line from template
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
Due: none

cache the index page query and fix a few tag links
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/work/models.py
Due: none

run black
  tbx/services/blocks.py
Due: none

regenerate migrtations and update the way the template is set for the featured case study to be consistent
  tbx/services/blocks.py
  tbx/services/migrations/0006_move_blog_and_work_chooser_to_streamfields.py
  tbx/services/migrations/0007_alter_servicepage_body.py
Due: none

Refactor big margin above related heading so it is optional, and don't use motif heading for related posts
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/static_src/sass/components/_section-title.scss
Due: lint:css, lint:format

Enforce date formatting using locales
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/settings/base.py
Due: none

Include meta_block date formatting
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

Initialise locales folder
  tbx/locales/README.md
  tbx/locales/__init__.py
  tbx/locales/formats.py
Due: lint:format

Update filters so they are the same for all logos, and ensure for light high contrast mode they are not filtered
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_pullquote.scss
Due: lint:css, lint:format

Update the markdown docs re logos in the pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.md
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.md
  tbx/project_styleguide/templates/patterns/pages/work/work_page.md
Due: lint:format

some updates to the docs
  docs/data-import.md
  docs/front-end/fonts.md
  docs/front-end/sustainability.md
Due: lint:format

squash migations
  tbx/services/migrations/0006_move_blog_and_work_chooser_to_streamfields.py
  tbx/services/migrations/0007_alter_servicepage_body.py
Due: none
