Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Add migration for removal of related_links
  tbx/blog/migrations/0009_delete_blogpagerelatedlink.py
Due: none

Fix alt text display in image block template
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
Due: none

Adjust help text
  tbx/blog/migrations/0009_add_help_text_to_alt_text_field_in_image_block.py
  tbx/core/blocks.py
  tbx/core/migrations/0013_add_help_text_to_alt_text_field_in_image_block.py
  tbx/work/migrations/0010_add_help_text_to_alt_text_field_in_image_block.py
Due: none

Add migrations
  tbx/blog/migrations/0009_add_help_text_to_alt_text_field_in_image_block.py
  tbx/core/migrations/0013_add_help_text_to_alt_text_field_in_image_block.py
  tbx/work/migrations/0010_add_help_text_to_alt_text_field_in_image_block.py
Due: none

Recreate migrations after rebasing onto integration branch
  tbx/blog/migrations/0010_add_help_text_to_alt_text_field_in_image_block.py
  tbx/core/migrations/0013_add_help_text_to_alt_text_field_in_image_block.py
  tbx/work/migrations/0010_add_help_text_to_alt_text_field_in_image_block.py
Due: none

move read time text into listing component as the variable only outputs a number
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
Due: lint:format

don't use bem syntax for body template class
  tbx/project_styleguide/templates/patterns/base.html
Due: none

move blog meta so author can appear above it on mobile
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/static_src/sass/components/_blog-meta.scss
Due: lint:css, lint:format

updates after rebase
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

add screen reader text for tags
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

add xlg breakpoint and our spacing classes to tailwind
  tailwind.config.js
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

style author snippet and add more spacing vars
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/static_src/sass/components/_author.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

align section title and uncomment related posts
  tbx/project_styleguide/templates/patterns/atoms/section-title/section-title.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/static_src/sass/components/_section-title.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

add tag styles
  tbx/static_src/sass/components/_tag.scss
Due: lint:css, lint:format

style related posts
  tbx/project_styleguide/templates/patterns/atoms/see-more/see-more.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

remove tags from author and update pattern library
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
Due: lint:format

populate blog page yaml and remove unused streamfields from the PL
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-blog.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
Due: lint:format

make author name white when there's no link
  tbx/static_src/sass/components/_author.scss
Due: lint:css, lint:format

remove double class from tag
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
Due: none

allow for multiple authors in the side column
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/static_src/sass/components/_author.scss
Due: lint:css, lint:format

grid modifiers need to have auto on margin to center align
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

remove call to action
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

flesh out blog page with blog meta
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/static_src/sass/components/_blog-meta.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

move cta and quote over by 1 col on the blog page
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

check other variables to populate tag slug and name
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
Due: none

move content over by 1 col on the blog page
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

remove related works and tidy up template
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

make related posts an unordered list
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

typo
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

add small and medium avatar vars and rename desktop
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_listing-avatar.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

add related blog posts in the pattern lib
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
Due: lint:format

revert read time changes to listing avatar and image as these will change in another branch
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
Due: none

remove fetch data logic from see more component
  tbx/project_styleguide/templates/patterns/atoms/see-more/see-more.html
Due: none

pass through tag slug and name to tag component
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

remove references to insight
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

Pagination logic
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.yaml
Due: lint:format

Update BlogIndexPage
  tbx/blog/migrations/0011_remove_blogpagetagselect_page_and_more.py
  tbx/blog/models.py
Due: none

Update avatar format
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

wip commit
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
Due: none

blog listing - wip to show model and template updates
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/organisms/blog-listing/blog-listing.html
  tbx/project_styleguide/templates/patterns/organisms/blog-listing/blog-listing.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
Due: lint:format
