Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Define custom StreamField class
  tbx/core/utils/fields.py
Due: none

Patch the Django migration machinery
  tbx/core/management/commands/__init__.py
  tbx/core/management/commands/makemigrations.py
  tbx/core/management/commands/migrate.py
Due: none

Replace wagtail.fields.StreamField with tbx.core.utils.fields.StreamField
  tbx/blog/models.py
  tbx/core/models.py
  tbx/navigation/models.py
  tbx/people/models.py
  tbx/services/models.py
  tbx/work/models.py
Due: none

Create migrations following changes in 8b4381b, eb6e525 & 54072ee
  tbx/blog/migrations/0024_use_custom_streamfield.py
  tbx/core/migrations/0030_use_custom_streamfield.py
  tbx/navigation/migrations/0006_use_custom_streamfield.py
  tbx/people/migrations/0007_use_custom_streamfield.py
  tbx/services/migrations/0019_use_custom_streamfield.py
  tbx/work/migrations/0029_use_custom_streamfield.py
Due: none

Update the docs with info on the custom StreamField implementation
  docs/custom-features/migration-friendly-streamfields.md
  docs/upgrading.md
  mkdocs.yml
Due: lint:format

Update heading width on a few blocks as discussed with ben
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

Increase spacing between heading 1 and breadcrumb
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
Due: none

Styling tweak for h2s and h3s on work pages when they are added in rich text instead of in a separate block
  tbx/static_src/sass/components/_rich-text.scss
  tbx/static_src/sass/components/_work-sections.scss
Due: lint:css, lint:format

Move link in featured case study to the title
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

Updates to styling and fields on the featured case study
  tbx/core/blocks.py
  tbx/core/migrations/0030_remove_featured_case_study_tagline.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/services/migrations/0019_remove_featured_case_study_tagline.py
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

New svg for the results ring in featured case study - it now uses the light mode colours
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Move photo collage over on desktop
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

make h4s semibold
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading4_block.html
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_rich-text.scss
Due: lint:css, lint:format

sort avatar sizing on work page
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_author.scss
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Alignment of authors on work pages
  tbx/static_src/sass/components/_work-page-author.scss
Due: lint:css, lint:format

don't indent image caption and attribution at desktop
  tbx/static_src/sass/components/_image.scss
Due: lint:css, lint:format

Fix width of listing images on retina screens
  tbx/static_src/sass/components/_listing-image.scss
Due: lint:css, lint:format

Ensure videos are styled as expected
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/video_block.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

Better align the video block on blog pages
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Add prefetch of blog page authors
  tbx/blog/models.py
Due: none

Rename image field to prefetch on common field name
  tbx/work/factories.py
  tbx/work/migrations/0029_rename_feed_image_historicalworkpage_header_image.py
  tbx/work/models.py
Due: none

Revert "Add prefetch of blog page authors"
  tbx/blog/models.py
Due: none

Revert "Rename image field to prefetch on common field name"
  tbx/work/factories.py
  tbx/work/migrations/0029_rename_feed_image_historicalworkpage_header_image.py
  tbx/work/models.py
Due: none

Add option to desaturate image in ImageBlock & FeaturedCaseStudyBlock
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.html
Due: none

Add option to desaturate header image on WorkPage
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/work/migrations/0030_workpage_desaturate_header_image.py
  tbx/work/models.py
Due: none

Fix breadcrumbs in pattern library
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs.yaml
Due: lint:format

Add libmagickwand-dev
  Dockerfile
Due: none

Treat GIF images differently when creating renditions
  tbx/images/models.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
Due: none

Modify breadcrumb by hardcoding homepage title and not displaying current page
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs.html
Due: none

Revert "Add libmagickwand-dev"
  Dockerfile
Due: none

alignment, title size and spacing on home page
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

don't go full width with images at mobile
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Featured case stuyd tweaks - hide results icon at mobile - adjust layout and font-sizes at different breakpoints to better fit content
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Reduce height of the promo block
  tbx/static_src/sass/components/_promo.scss
Due: lint:css, lint:format

reduce button sizes
  tbx/static_src/sass/components/_button.scss
Due: lint:css, lint:format

Enusre the promo block doesn't get too tall, and tweak mobile design
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_promo.scss
Due: lint:css, lint:format

tweak the meta info for the featured case study
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

tweak viewbox of results ring to get it in a better position
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
Due: none

Updates to the event block styles and rename the file
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/static_src/sass/components/_event-block.scss
  tbx/static_src/sass/components/_promo.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format
