Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Primary nav: keep label-only entries that carry a dropdown
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
Due: none

Primary nav: fix empty auto-source dropdown shells and title validation
  tbx/navigation/blocks.py
  tbx/navigation/tests/test_nav_blocks.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
Due: none

Primary nav: improve error when item has no link and no dropdown
  tbx/navigation/blocks.py
Due: none

Sector/Service taxonomy: move FK to top of editor and add help text
  tbx/divisions/models.py
  tbx/services/models.py
Due: none

Primary nav: remove auto-generate from division pages content source
  tbx/navigation/blocks.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
Due: none

Tests: use LocMem cache so suite doesn't pollute dev's Redis
  tbx/settings/test.py
Due: none

Rename division page assets to sector pages
  docs/superpowers/plans/2026-06-30-sectors-ia.md
  docs/superpowers/specs/2026-06-30-sectors-ia-design.md
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/project_styleguide/templates/patterns/pages/sectors/sectors_index_page.html
  tbx/static_src/javascript/sector-pages.js
  tbx/static_src/sass/sector-pages.scss
  webpack.config.js
Due: lint:js, lint:css, lint:format

Remove superpowers docs
  docs/superpowers/plans/2026-06-30-sectors-ia.md
  docs/superpowers/specs/2026-06-30-sectors-ia-design.md
Due: lint:format

Sectors IA: SectorsIndexPage, taxonomy tags, label-only nav items (#442)
  tbx/core/tests/test_division_mixin.py
  tbx/divisions/migrations/0005_divisionpage_sector.py
  tbx/divisions/models.py
  tbx/divisions/tests/__init__.py
  tbx/divisions/tests/test_models.py
  tbx/navigation/blocks.py
  tbx/navigation/tests/test_nav_blocks.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/pages/sectors/sectors_index_page.html
  tbx/project_styleguide/templates/patterns/pages/sectors/sectors_index_page.yaml
  tbx/sectors/__init__.py
  tbx/sectors/apps.py
  tbx/sectors/blocks.py
  tbx/sectors/factories.py
  tbx/sectors/migrations/0001_initial.py
  tbx/sectors/migrations/__init__.py
  tbx/sectors/models.py
  tbx/sectors/tests/__init__.py
  tbx/sectors/tests/test_models.py
  tbx/services/factories.py
  tbx/services/migrations/0027_serviceareapage_sector_servicepage_service.py
  tbx/services/models.py
  tbx/services/tests/test_models.py
  tbx/settings/base.py
  tbx/settings/test.py
  tbx/static_src/javascript/sector-pages.js
  tbx/static_src/sass/sector-pages.scss
  webpack.config.js
Due: lint:js, lint:css, lint:format

Restore full breadcrumbs
  tbx/core/models.py
  tbx/core/utils/models.py
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs-jsonld.html
Due: none

TWE-716 Remove Instagram camera icon from Impact Report client story cards (#439)
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.yaml
Due: lint:format

Add migration instance to fabfile
  fabfile.py
Due: none

chore: add carbon impact pattern library yaml
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.yaml
Due: lint:format

chore: update carbon impact help text
  tbx/navigation/migrations/0009_navigationsettings_carbon_impact_figure.py
  tbx/navigation/models.py
Due: none

feat: add setting for page load emissions figure
  tbx/navigation/migrations/0009_navigationsettings_carbon_impact_figure.py
  tbx/navigation/models.py
  tbx/project_styleguide/templates/patterns/molecules/carbon-impact/carbon-impact.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
Due: none

chore: regenerate migrations
  tbx/navigation/migrations/0009_navigationsettings_carbon_impact_figure.py
Due: none

refactor: remove redundant carbon impact help text
  tbx/navigation/models.py
Due: none

chore: update comments
  tbx/core/tests/test_middleware.py
Due: none

refactor: pass site to get_page_for_path to avoid duplicate lookup
  tbx/core/utils/middleware.py
Due: none

feat: check if a lower-case version of a URL exists
  tbx/core/tests/test_middleware.py
  tbx/core/utils/middleware.py
  tbx/settings/base.py
Due: none

fix: handle None return from page.get_url()
  tbx/core/tests/test_middleware.py
  tbx/core/utils/middleware.py
Due: none

fix: use equality check rather than islower()
  tbx/core/utils/middleware.py
Due: none

refactor: use standard redirects instead or permanent ones
  tbx/core/tests/test_middleware.py
  tbx/core/utils/middleware.py
Due: none

refactor: clarify purpose of redirect test
  tbx/core/tests/test_middleware.py
Due: none

refactor: redirect to lowercased path rather than page.get_url()
  tbx/core/tests/test_middleware.py
  tbx/core/utils/middleware.py
Due: none

fix laggy primary nav dropdown transition and header flash
  tbx/static_src/sass/base/_base.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown-backdrop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
Due: lint:css, lint:format

close desktop nav dropdown when focus tabs outside it
  tbx/static_src/javascript/components/desktop-close-menus.js
  tbx/static_src/javascript/components/desktop-close-menus.test.js
Due: lint:js, lint:format

make sure the focus ring is visible on mobile menu items
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown-mobile.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
Due: lint:css, lint:format

fix focus not moving to back button when opening mobile subnav
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown-mobile.scss
Due: lint:css, lint:format

trap the focus in the mobile sub-menus
  tbx/static_src/javascript/components/focus-trap.js
  tbx/static_src/javascript/components/focus-trap.test.js
  tbx/static_src/javascript/components/primary-mobile-sub-menu.js
  tbx/static_src/javascript/components/primary-mobile-sub-menu.test.js
Due: lint:js, lint:format

drop the menu under the logo on tablet sized breakpoints
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_logo.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
Due: lint:css, lint:format

adjust position of dropdown for tablet screens
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
Due: lint:css, lint:format

Update django and other vulnerable packages
  poetry.lock
Due: none

reduce order value on primary nav desktop
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
Due: lint:css, lint:format

increase gap on primary nav desktop list
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
Due: lint:css, lint:format

create var for magic number that offsets the menu dropdowns on tablet
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

scope desktop menu focusout listener to nav elements
  tbx/static_src/javascript/components/desktop-close-menus.js
Due: lint:js, lint:format

comment that test fixture markup must stay in sync with nav templates
  tbx/static_src/javascript/components/desktop-close-menus.test.js
Due: lint:js, lint:format

move comment re. nav markup to html templates
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/javascript/components/desktop-close-menus.test.js
Due: lint:js, lint:format

Allow ServiceAreaPage under ServicePage
  tbx/services/models.py
Due: none

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
