Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.9.1' # keep in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml

Keyboard focus fixes
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.yaml
  tbx/static_src/sass/components/navigation/_secondary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Style mode switcher icon for high contrast light mode
  tbx/static_src/sass/components/_mode-switcher.scss
Due: lint:css, lint:format

TWE-21 | FE | Secondary navigation (#360)
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.md
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.yaml
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/static_src/javascript/components/desktop-close-menus.js
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_logo.scss
  tbx/static_src/sass/components/_swirls.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

Use division label in header
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

TWE-22 | FE | Light mode (#356)
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/images/map-dark.webp
  tbx/static_src/images/map-light.webp
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_division-signpost.scss
  tbx/static_src/sass/components/_featured-services.scss
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update motif svgs and styles
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Fine tune styles for a few blocks
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_link-columns.scss
Due: lint:css, lint:format

Add margin bottom to service area page title
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.html
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

FE design feedback - motifs, block styles (#366)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.html
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_link-columns.scss
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Tweak heading sizes and block grid layouts
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_section-title.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/components/_work-sections.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Make inner nav menu heading optional
  tbx/navigation/blocks.py
Due: none

Tweak heading sizes and block grid layouts (#367)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_section-title.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/components/_work-sections.scss
  tbx/static_src/sass/components/navigation/_secondary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Replace DivisionPage.label with DivisionPage.logo
  tbx/divisions/factories.py
  tbx/divisions/models.py
  tbx/project_styleguide/templates/patterns/atoms/icons/icon.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.yaml
Due: lint:format

Make schema migrations
  tbx/divisions/migrations/0003_remove_divisionpage_label_divisionpage_logo.py
Due: none

TWE-39 Add a new block for textual statistic groups
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/textual_stats_group_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/textual_stats_group_block.yml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

TWE-39 Add a new block for textual statistic groups (#364)
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/textual_stats_group_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/textual_stats_group_block.yml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

Style the logo variations for each division
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_logo.scss
Due: lint:css, lint:format

Use <title> for alt text, add docs
  tbx/project_styleguide/templates/patterns/atoms/icons/icon.html
Due: none

Add default social sharing images
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/images/social/og-theme-banana.webp
  tbx/static_src/images/social/og-theme-charity-coral.webp
  tbx/static_src/images/social/og-theme-coral.webp
  tbx/static_src/images/social/og-theme-earth.webp
  tbx/static_src/images/social/og-theme-lagoon.webp
  tbx/static_src/images/social/og-theme-public-nebuline.webp
  tbx/static_src/images/social/og-theme-torchbox.webp
  tbx/static_src/images/social/og-theme-wagtail-lagoon.webp
  tbx/static_src/images/social/twitter-theme-banana.webp
  tbx/static_src/images/social/twitter-theme-charity-coral.webp
  tbx/static_src/images/social/twitter-theme-coral.webp
  tbx/static_src/images/social/twitter-theme-earth.webp
  tbx/static_src/images/social/twitter-theme-lagoon.webp
  tbx/static_src/images/social/twitter-theme-public-nebuline.webp
  tbx/static_src/images/social/twitter-theme-torchbox.webp
  tbx/static_src/images/social/twitter-theme-wagtail-lagoon.webp
Due: none

Rename social sharing assets file names
  tbx/static_src/images/social/og-theme-coral.webp
  tbx/static_src/images/social/og-theme-lagoon.webp
  tbx/static_src/images/social/og-theme-nebuline.webp
  tbx/static_src/images/social/og-theme-none.webp
  tbx/static_src/images/social/twitter-theme-coral.webp
  tbx/static_src/images/social/twitter-theme-lagoon.webp
  tbx/static_src/images/social/twitter-theme-nebuline.webp
  tbx/static_src/images/social/twitter-theme-none.webp
Due: none

Add for green theme
  tbx/static_src/images/social/og-theme-green.webp
  tbx/static_src/images/social/twitter-theme-green.webp
Due: none

Allow moving a HistoricalWorkPage but disable creation
  tbx/work/models.py
Due: none

.choices isn't needed anymore
  tbx/divisions/models.py
Due: none

Add data migration
  tbx/divisions/migrations/0003_remove_divisionpage_label_divisionpage_logo.py
Due: none

Allow moving a HistoricalWorkPage but disable creation (#370)
  tbx/work/models.py
Due: none

TWE-26 Make breadcrumb navigation division-aware
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs.html
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs.yaml
Due: lint:format

Refactor logo variations styles for improved layout
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_logo.scss
Due: lint:css, lint:format

Increase dynamic hero autoplay speed and remove touch interaction
  tbx/static_src/javascript/components/dynamic-hero.js
Due: lint:js, lint:format

Layout tidy up
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Add hide date conditional to date and reading time, hide date for work case studies
  tbx/project_styleguide/templates/patterns/atoms/date_and_reading_time/date_and_reading_time.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
Due: none

Add header spacing for icon keypoints block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
  tbx/static_src/sass/components/_keypoints.scss
Due: lint:css, lint:format

Add hide tags conditional to blogs, hide tags for blog index and blog listings
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

only load swiper css and js on the division page
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
  tbx/static_src/javascript/division-page.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/division-page.scss
  tbx/static_src/sass/main.scss
  webpack.config.js
Due: lint:js, lint:css, lint:format

load the division page js/css in the pattern library
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
Due: none

lint djhtml
  tbx/project_styleguide/templates/patterns/base.html
Due: none

TWE-43 - BE/FE - Update division logo and submenu heading (#368)
  tbx/divisions/factories.py
  tbx/divisions/migrations/0003_remove_divisionpage_label_divisionpage_logo.py
  tbx/divisions/models.py
  tbx/navigation/blocks.py
  tbx/project_styleguide/templates/patterns/atoms/icons/icon.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--event.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.yaml
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_logo.scss
Due: lint:css, lint:format

TWE-31 | FE | Update social media default images (#369)
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/images/social/og-theme-banana.webp
  tbx/static_src/images/social/og-theme-coral.webp
  tbx/static_src/images/social/og-theme-earth.webp
  tbx/static_src/images/social/og-theme-green.webp
  tbx/static_src/images/social/og-theme-lagoon.webp
  tbx/static_src/images/social/og-theme-nebuline.webp
  tbx/static_src/images/social/og-theme-none.webp
  tbx/static_src/images/social/twitter-theme-banana.webp
  tbx/static_src/images/social/twitter-theme-coral.webp
  tbx/static_src/images/social/twitter-theme-earth.webp
  tbx/static_src/images/social/twitter-theme-green.webp
  tbx/static_src/images/social/twitter-theme-lagoon.webp
  tbx/static_src/images/social/twitter-theme-nebuline.webp
  tbx/static_src/images/social/twitter-theme-none.webp
Due: none

Skip the tests checking the tags are in the template for now
  tbx/taxonomy/tests/test_models.py
Due: none

Lazy loading for division signpost card images
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format
