Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.13
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 7.1.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml

TWE-9 - BE - Featured services block (Division page) (#327)
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_featured-services.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

TWE-10 - BE - Statistics group block (Division page) (#328)
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_stats-group.scss
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Fix linting
  tbx/blog/migrations/0027_update_theme_colour_choices.py
  tbx/core/migrations/0038_update_theme_colour_choices.py
  tbx/core/migrations/0039_remove_homepage_introduction_homepage_hero_heading_and_more.py
  tbx/core/tests/test_division_mixin.py
  tbx/divisions/factories.py
  tbx/divisions/migrations/0001_initial.py
  tbx/divisions/models.py
  tbx/events/migrations/0009_update_theme_colour_choices.py
  tbx/impact_reports/migrations/0005_update_theme_colour_choices.py
  tbx/people/migrations/0011_update_theme_colour_choices.py
  tbx/services/factories.py
  tbx/services/migrations/0023_update_theme_colour_choices.py
  tbx/services/migrations/0024_serviceareapage.py
  tbx/work/migrations/0036_update_theme_colour_choices.py
Due: none

Add icons to sprites.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
Due: none

Links columns block FE draft
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_link-columns.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Increase font size for text to meet contrast requirements
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

Add to pattern library and fine-tune styles
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_link-columns.scss
Due: lint:css, lint:format

Primary nav and header FE
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/javascript/components/primary-mobile-menu.js
  tbx/static_src/javascript/components/primary-mobile-menu.test.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

Icon keypoints FE draft
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_keypoints.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Fine tune styles
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

TWE-14 | FE | Contact CTA redesign (#341)
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Add underline in high contrast mode and add tail so arrow is attached to the last word
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.html
  tbx/static_src/sass/components/_link-columns.scss
Due: lint:css, lint:format

TWE-19 | FE | Links columns block (#345)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_link-columns.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Accessibility considerations and fine-tunes
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_skip-link.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
Due: lint:css, lint:format

Increase cards breakpoint size
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

Icon keypoints FE
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_keypoints.scss
Due: lint:css, lint:format

Add underlines to links, update styles for improved accessibility
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.html
  tbx/static_src/sass/components/_link-columns.scss
Due: lint:css, lint:format

Remove unnecessary class
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
Due: none

TWE-13 | FE | Icon Keypoints (#347)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_keypoints.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Update focus styles
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_home-page-intro.scss
  tbx/static_src/sass/components/_tabs.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Change twitter logo in footer to bluesky
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
Due: none

Linting
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_tabs.scss
Due: lint:css, lint:format

Design feedback fine-tunes
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading3_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_numeric.html
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_stats.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Restyle tabbed paragraph block
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.yaml
  tbx/static_src/sass/components/_dynamic-hero.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_tabs-mobile.scss
  tbx/static_src/sass/components/_tabs.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Light mode updates WIP
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Service area page styles
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.html
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Tweak subtitle color and tailwind config
  tailwind.config.js
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.html
Due: lint:js, lint:format

Restyle motif headings
  docs/front-end/motif-headings.md
  docs/front-end/themes_and_modes.md
  mkdocs.yml
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.md
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_motif_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/values_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/components/_promo.scss
  tbx/static_src/sass/components/_section-title.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

TWE-19 - BE - Link columns block (Service area page) (#337)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/link_columns_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/services/blocks.py
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_link-columns.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Create BasePage, also move ContactMixin to prevent circular dependency
  tbx/blog/models.py
  tbx/core/models.py
  tbx/core/utils/models.py
  tbx/divisions/models.py
  tbx/events/models.py
  tbx/impact_reports/models.py
  tbx/people/models.py
  tbx/services/models.py
  tbx/work/models.py
Due: none

Add new theme colors for the motifs in light mode
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Fix the template - empty div case
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
Due: none

Create NavigationSet snippet
  tbx/navigation/blocks.py
  tbx/navigation/models.py
Due: none

Add NavigationSetMixin to DivisionPage
  tbx/core/utils/models.py
  tbx/divisions/models.py
Due: none

Update DivisionMixin to also use self if it's a division page
  tbx/core/utils/models.py
Due: none

Add DivisionMixin & NavigationSetMixin to BasePage
  tbx/core/models.py
  tbx/divisions/models.py
  tbx/services/models.py
Due: none

Display temporary logo & secondary nav
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.html
Due: none

Add secondary nav template
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/secondary-nav.yaml
Due: lint:format

Make schema migrations
  tbx/blog/migrations/0028_divisionmixin_and_navigationsetmixin.py
  tbx/core/migrations/0040_divisionmixin_and_navigationsetmixin.py
  tbx/divisions/migrations/0002_divisionmixin_and_navigationsetmixin.py
  tbx/events/migrations/0010_divisionmixin_and_navigationsetmixin.py
  tbx/impact_reports/migrations/0006_divisionmixin_and_navigationsetmixin.py
  tbx/navigation/migrations/0007_divisionmixin_and_navigationsetmixin.py
  tbx/people/migrations/0012_divisionmixin_and_navigationsetmixin.py
  tbx/services/migrations/0025_divisionmixin_and_navigationsetmixin.py
  tbx/work/migrations/0037_divisionmixin_and_navigationsetmixin.py
Due: none
