Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

keep mobile link underline the same colour as the text
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

remove pointy cursor from sun and moon icons (#297)
  tbx/static_src/sass/components/_mode-switcher.scss
Due: lint:css, lint:format

Light mode - style form (#280)
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Styling tweaks to form switcher (#292)
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

keep the underline the same as the text on menus so it passes colour contrast
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

Light mode - refactor to toggle (#296)
  tbx/project_styleguide/templates/patterns/molecules/mode_switcher/mode_switcher.html
  tbx/static_src/javascript/components/mode-switcher.js
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

set colour of underlines in light mode
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update common caching worker
  cloudflare/workers.js
Due: lint:js, lint:format

Serverside implementation of mode switcher (#271)
  tbx/core/errors.py
  tbx/core/forms.py
  tbx/core/tests/test_views.py
  tbx/core/views.py
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/javascript/components/mode-switcher.js
  tbx/urls.py
Due: lint:js, lint:format

Make sure the torchbox-mode cookie can be read by subdomains (#293)
  tbx/core/context_processors.py
  tbx/core/tests/test_views.py
  tbx/core/views.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/settings/base.py
  tbx/settings/local.py.example
  tbx/static_src/javascript/components/mode-switcher.js
Due: lint:js, lint:format

set a new link underline css property and use it on all links
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update the maps used on the team page (#277)
  tbx/static_src/images/map-dark.webp
  tbx/static_src/images/map-light.webp
Due: none

Skip cache on CSRF token
  cloudflare/workers.js
Due: lint:js, lint:format

fix mix blend mode issues in light mode
  tbx/static_src/sass/components/_animated-icon.scss
Due: lint:css, lint:format

add wagtail animated head icon
  tbx/project_styleguide/templates/patterns/atoms/icons/animated/wagtail-head.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_animated-icon.scss
Due: lint:css, lint:format

add animated light bulb
  tbx/project_styleguide/templates/patterns/atoms/icons/animated/lightbulb.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_animated-icon.scss
Due: lint:css, lint:format

add mix blend mode to wagtail head
  tbx/static_src/sass/components/_animated-icon.scss
Due: lint:css, lint:format

add animated target icon
  tbx/project_styleguide/templates/patterns/atoms/icons/animated/target.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_animated-icon.scss
Due: lint:css, lint:format

reduce icon sizes on mobile
  tbx/static_src/sass/components/_animated-icon.scss
Due: lint:css, lint:format

make sure icons don't get squashed when used in showcase sf
  tbx/static_src/sass/components/_animated-icon.scss
Due: lint:css, lint:format

make sure the icons don't get squashed when in use
  tbx/static_src/sass/components/_animated-icon.scss
Due: lint:css, lint:format

add animated megaphone icon
  tbx/project_styleguide/templates/patterns/atoms/icons/animated/megaphone.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_animated-icon.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Keep the featured case study logo greyscale in light mode
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

Documentation and MR template updates relating to light mode
  .github/pull_request_template.md
  docs/custom-features/modes.md
  docs/front-end/themes_and_modes.md
  mkdocs.yml
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Add info about cloudflare workers
  docs/custom-features/modes.md
Due: lint:format

hide the icons in high contrast mode
  tbx/static_src/sass/components/_animated-icon.scss
Due: lint:css, lint:format

streamline check for markdown block
  tbx/core/templatetags/util_tags.py
Due: none

remove unused import
  tbx/core/templatetags/util_tags.py
Due: none

move gist and codehitlite css to have their own entry point
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/markdown_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/raw_html_block.html
  tbx/static_src/sass/main.scss
  tbx/static_src/sass/vendor/codehilite.scss
  tbx/static_src/sass/vendor/gist.scss
  webpack.config.js
Due: lint:js, lint:css, lint:format

add styles for gists
  tbx/static_src/sass/main.scss
  tbx/static_src/sass/vendor/_gist.scss
Due: lint:css, lint:format

check for gist in raw html block before adding styles
  tbx/core/templatetags/util_tags.py
Due: none

only include gist and codehilite css once if the code block (markdown) or raw html blocks have been used
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/markdown_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/raw_html_block.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

remove unused static tags
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/markdown_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/raw_html_block.html
Due: none

lint isort
  tbx/core/templatetags/util_tags.py
Due: none

remove load tag
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/raw_html_block.html
Due: none

rename filter so it's specific to gists
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

add filter to historical work, standard, service and impact report pages
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.html
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
Due: none

refactor the snippet so it can check for nested streamfields and add it to the base page
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.html
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
Due: none

Update intro font-weight
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

Limit the font-weight change to blog pages and standard pages pending confirmation from ben.
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
