Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

blog listing styling
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.yaml
  tbx/project_styleguide/templates/patterns/molecules/title-block/title-block.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_listing.html
  tbx/static_src/sass/components/_blog-listing.scss
  tbx/static_src/sass/components/_pagination.scss
  tbx/static_src/sass/components/_tag.scss
  tbx/static_src/sass/components/_title-filters.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

add date to listing rather than content type
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
Due: none

high contrast mode fixes
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_pagination.scss
Due: lint:css, lint:format

run djhtml
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
Due: none

djhtml again
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
Due: none

sort yaml
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.yaml
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
Due: lint:format

update styleguide
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

add date to listing--image and update yaml to pass in date not page type
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
Due: lint:format

Make sure related blog posts show a date
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
Due: lint:format

wrap div correctly
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
Due: none

Blog listing and pagination styling (#40)
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.yaml
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.yaml
  tbx/project_styleguide/templates/patterns/molecules/title-block/title-block.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.yaml
  tbx/project_styleguide/templates/patterns/organisms/blog-listing/blog-listing.html
  tbx/project_styleguide/templates/patterns/organisms/blog-listing/blog-listing.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_listing.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_blog-listing.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_pagination.scss
  tbx/static_src/sass/components/_tag.scss
  tbx/static_src/sass/components/_title-filters.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Update BlogIndexPage
  tbx/blog/migrations/0011_remove_blogpagetagselect_page_and_more.py
  tbx/blog/models.py
Due: none

Pagination logic
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.yaml
Due: lint:format

Fixes a pattern libary issue that had thrown an error in sentry
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.yaml
Due: lint:format

Fixes a pattern libary issue that had thrown an error in sentry (#44)
  tbx/project_styleguide/templates/patterns/atoms/icons/quote-icon.yaml
Due: lint:format

reduce title length on desktop
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

first pass of contact cta styles for mobile and desktop
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/static_src/sass/components/_contact-cta.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

populate pattern lib and various pages within it
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

show avatar image on standard page in pattern lib
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
Due: lint:format

test every letter
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
Due: none

move letter motif to a variable so it works with different themes, update animation
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_clip-letter.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

More playing around with animation
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_clip-letter.scss
Due: lint:css, lint:format

Experiment with animated svg behind text
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/static_src/images/test.svg
  tbx/static_src/sass/components/_clip-letter.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

remove mixed blend mode
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

remove test.svg
  tbx/static_src/images/test.svg
Due: none

Correct href on CTA
  tbx/core/blocks.py
Due: none

Tidy
  tbx/core/blocks.py
Due: none

Regenerate migrations after rebase with integration/sprint-1
  tbx/blog/migrations/0003_alter_blogpage_body.py
  tbx/blog/migrations/0006_alter_blogpage_body.py
  tbx/core/migrations/0006_alter_standardpage_body.py
  tbx/core/migrations/0009_alter_standardpage_body.py
  tbx/work/migrations/0003_alter_workpage_body.py
  tbx/work/migrations/0006_alter_workpage_body.py
Due: none

Regenerate migrations on simple-cta-BE
  tbx/core/migrations/0009_alter_standardpage_body.py
  tbx/work/migrations/0006_alter_workpage_body.py
Due: none

Merge migrations after rebase
  tbx/blog/migrations/0006_merge_20240117_1143.py
  tbx/core/migrations/0009_merge_20240117_1143.py
  tbx/work/migrations/0006_merge_20240117_1143.py
Due: none

Improve appearance, alter link
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.yaml
  tbx/static_src/sass/components/navigation/_showcase.scss
Due: lint:css, lint:format

Regenerate migrations to facilitate rebase with integrations/sprint-1
  tbx/blog/migrations/0006_merge_20240117_1143.py
  tbx/core/migrations/0009_merge_20240117_1143.py
  tbx/work/migrations/0006_merge_20240117_1143.py
Due: none

Include initial templateand scss
  tbx/blog/migrations/0009_alter_blogpage_body.py
  tbx/core/blocks.py
  tbx/core/migrations/0013_alter_standardpage_body.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/navigation/_showcase.scss
  tbx/work/migrations/0010_alter_workpage_body.py
Due: lint:css, lint:format

Remake migrations after rebase with integration/sprint-2
  tbx/blog/migrations/0003_alter_blogpage_body.py
  tbx/blog/migrations/0006_alter_blogpage_body.py
  tbx/blog/migrations/0012_alter_blogpage_body.py
  tbx/core/migrations/0006_alter_standardpage_body.py
  tbx/core/migrations/0014_alter_standardpage_body.py
  tbx/work/migrations/0003_alter_workpage_body.py
  tbx/work/migrations/0011_alter_workpage_body.py
Due: none

Adjustments to pagination and mobile styling
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
  tbx/static_src/sass/components/_pagination.scss
Due: lint:css, lint:format

fix pagination yaml and add to the styleguide
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

djhtml tweak
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
Due: none

linting exception
  tbx/static_src/sass/components/_pagination.scss
Due: lint:css, lint:format

Add FeaturedBlog and WorkPostOrderables to StandardPage
  tbx/core/migrations/0014_servicepagefeaturedworkpost_and_more.py
  tbx/core/models.py
Due: none
