Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

change links to buttons in the cookie banner, and remove un-used ids
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
Due: none

add ids back to cookie buttons as they were added for GTM - add comment to clarify that
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
Due: none

recreate the cookie banner branch on the new integration branch
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_cookie-message.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

recreate the cookie banner branch on the new integration branch (#113)
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_cookie-message.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Recreate the rich-text changes based off the new integration branch
  tbx/settings/base.py
Due: none

Ensure the team page images are lazy-loaded
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
Due: lint:format

Remove `static` tag as it's not needed
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
Due: none

Update renditions when Team index is published
  tbx/people/models.py
Due: none

Fix issue with image renditions not being created in non-dev environment
  tbx/people/models.py
Due: none

Restructure blocks.py files
  tbx/core/blocks.py
  tbx/services/blocks.py
Due: none

Initialise HomePage and its templates
  tbx/core/migrations/0019_remove_homepageheroimage_image_and_more.py
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
Due: lint:format

fix three validation errors
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
Due: none

Ensure the team page images are lazy-loaded (#115)
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
Due: lint:format

fix three validation errors (#119)
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
Due: none

Refactor logos into HomePagePartnerLogo Orderable
  tbx/core/migrations/0019_homepagepartnerlogo_remove_homepageheroimage_image_and_more.py
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Recreate the rich-text changes based off the new integration branch (#114)
  tbx/settings/base.py
Due: none

Refactor templates to extract partner_logos
  tbx/project_styleguide/templates/patterns/molecules/partner_logo/partner_logos.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
Due: lint:format

Improve refactoring of the templates
  tbx/project_styleguide/templates/patterns/molecules/partner_logo/partner_logos.html
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Updates to colour names to match figma variables, changes to lagoon and banana variables, and add light backgrounds
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Get rid of non css variables in components; update skip link styles; lighten opacity on featured case study as requested in design review feedback
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_skip-link.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Add clarifying comments re colour accent 4
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Improve performance by adding partner_logos property
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Harmonize `wagtail.blocks` usage
  tbx/core/blocks.py
Due: none

Define a PhotoCollageBlock and add it to the HomePageStoryBlock
  tbx/core/blocks.py
Due: none

Add PhotoCollageBlock to the ServiceStoryBlock
  tbx/services/blocks.py
Due: none

Migrations for addition of the photo collage block
  tbx/core/migrations/0020_add_photocollageblock_to_homepage_body.py
  tbx/services/migrations/0009_add_photocollageblock_to_servicepage_body.py
Due: none

Add template for PhotoCollageBlock
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
Due: none

Update theme colours (#120)
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_skip-link.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Refactor blocks
  tbx/core/blocks.py
  tbx/core/migrations/0020_add_photocollageblock_to_homepage_body.py
  tbx/services/migrations/0009_add_photocollageblock_to_servicepage_body.py
Due: none

Update template to conditionally render the CTA
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
Due: none

Make role field optional on PullQuoteBlock
  tbx/blog/migrations/0021_alter_blogpage_body.py
  tbx/core/blocks.py
  tbx/core/migrations/0019_alter_standardpage_body.py
  tbx/services/migrations/0009_alter_servicepage_body.py
  tbx/work/migrations/0025_alter_historicalworkpage_body_alter_workpage_body.py
Due: none

Improve performance further
  tbx/core/models.py
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
Due: none

Include partner_logos YAML file
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.yaml
Due: lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
