Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Tidy
  tbx/services/blocks.py
Due: none

Remove item about font variants from the MR template
  .github/pull_request_template.md
Due: lint:format

Remove item about font variants from the MR template (#71)
  .github/pull_request_template.md
Due: lint:format

move related posts alignment rules to grid
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

update docs
  docs/front-end/grid.md
  docs/front-end/streamfield-blocks.md
Due: lint:format

refactor aligning classes to use grid rather than streamfield
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading3_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading4_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/intro_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/markdown_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/raw_html_block.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.html
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

Implement Stats blocks and add them to WorkSectionContent
  tbx/work/blocks.py
  tbx/work/migrations/0018_add_stats_blocks.py
Due: none

update grid docs
  docs/front-end/grid.md
Due: lint:format

add medium font weight and update headings
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

even out the top and bottom space of blog meta
  tbx/static_src/sass/components/_blog-meta.scss
Due: lint:css, lint:format

align authors with dropcap
  tbx/static_src/sass/components/_author.scss
Due: lint:css, lint:format

make sure number of authors doesn't impact the height of the page
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/static_src/sass/components/_author.scss
Due: lint:css, lint:format

add heading spacing mixin for rich text headings
  tbx/static_src/sass/components/_rich-text.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

extend title filters on blog listing page to take up all available space
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

increase spacing between end of content and related posts
  tbx/static_src/sass/components/_section-title.scss
Due: lint:css, lint:format

refactor listing image and listing avatar components so the link is only on the title
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/static_src/sass/components/_listing-avatar.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

increase width of line before filters
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

add border color and reduce font size of tag
  tbx/static_src/sass/components/_tag.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

rename image scss file, add border to image sf and bleed to right edge of site
  tbx/static_src/sass/components/_image.scss
  tbx/static_src/sass/components/image.scss
Due: lint:css, lint:format

only include drop cap on heading one and one-b
  tbx/static_src/sass/base/_typography.scss
Due: lint:css, lint:format

keep the drop cap on related posts title
  tbx/static_src/sass/components/_section-title.scss
Due: lint:css, lint:format

Update stats blocks templates
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_numeric.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.html
Due: none

Update pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_numeric.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/stats_textual.yaml
Due: lint:format

make images bleed to the right hand edge
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_image.scss
Due: lint:css, lint:format

fix spacing above related posts
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_section-title.scss
Due: lint:css, lint:format

keep the listing arrow attached to the last word so it's not orphaned on a new line
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/static_src/sass/components/_listing.scss
Due: lint:css, lint:format

update comment about the alt text for listing image
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
Due: none

add comments about the listing title tail
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
Due: none

Add partner logos
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Initialise ClientLogoBlock with migrations
  tbx/core/blocks.py
Due: none

Don't filter the logos in high contrast light mode
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

tweak filters further
  tbx/static_src/sass/components/_partners.scss
Due: lint:css, lint:format

Update alt text
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Rename ClientLogoBlock and associated instances
  tbx/core/blocks.py
Due: none

Remove change to core blocks that was still there after a rebase
  tbx/core/blocks.py
Due: none

Code review feedback
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

Partners block front-end (#59)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

make avatar images 100% width so they don't shrink on retina screens
  tbx/static_src/sass/components/_avatar.scss
Due: lint:css, lint:format
