Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

run Black
  tbx/core/blocks.py
Due: none

Updates to image blocks (#132)
  docs/data-import.md
  tbx/blog/migrations/0022_add_wide_image_block.py
  tbx/blog/migrations/0023_add_wide_image_block.py
  tbx/core/blocks.py
  tbx/core/migrations/0023_add_wide_image_block.py
  tbx/core/migrations/0024_add_wide_image_block.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/services/migrations/0013_add_wide_image_block.py
  tbx/services/migrations/0014_add_wide_image_block.py
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_image.scss
  tbx/work/migrations/0026_add_wide_image_block.py
  tbx/work/migrations/0027_add_wide_image_block.py
Due: lint:css, lint:format

Initialise TabbedParagraphBlock on HomePage and set up templates
  tbx/core/blocks.py
  tbx/core/migrations/0020_alter_homepage_body.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
Due: lint:format

Remake migrations after rebase
  tbx/core/migrations/0021_alter_homepage_body.py
Due: none

Include TabbedParagraphBlock on ServicePage
  tbx/core/migrations/0021_add_tabbed_paragraph_block_to_homepage.py
  tbx/services/blocks.py
  tbx/services/migrations/0011_add_tabbed_paragraphs_to_service_page.py
Due: none

remove migrations before rebasing
  tbx/core/migrations/0021_add_tabbed_paragraph_block_to_homepage.py
  tbx/services/migrations/0011_add_tabbed_paragraphs_to_service_page.py
Due: none

Include field validation for button_link and button_text
  tbx/core/blocks.py
Due: none

Simplify FE code for easier merge
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
Due: none

re-create migrations
  tbx/core/migrations/0025_add_tabbed_paragraph_block.py
  tbx/services/migrations/0015_add_tabbed_paragraph_block.py
Due: none

Tabbed Paragraph Block BE (#127)
  tbx/core/blocks.py
  tbx/core/migrations/0025_add_tabbed_paragraph_block.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/services/blocks.py
  tbx/services/migrations/0015_add_tabbed_paragraph_block.py
Due: lint:format

Tabbed paragraph block
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.yaml
  tbx/static_src/javascript/components/tabs.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/components/_tab-nav-item.scss
  tbx/static_src/sass/components/_tabbed-paragraph.scss
  tbx/static_src/sass/components/_tabs-mobile.scss
  tbx/static_src/sass/components/_tabs-nav.scss
  tbx/static_src/sass/components/_tabs.scss
  tbx/static_src/sass/components/_work-sections.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

yaml fix for blog chooser block and work chooser block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
Due: lint:format

ensure arrow colour matches light / dark mode
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/static_src/sass/components/_tabs.scss
Due: lint:css, lint:format

A couple more yaml fixes for tags
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format

add tabbed paragraph block to the styleguide
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

remove the open transition for reduced motion
  tbx/static_src/sass/components/_tabs-mobile.scss
Due: lint:css, lint:format

quick and dirty solution to ensure content is visible without js in most browsers
  tbx/static_src/sass/components/_tabs.scss
Due: lint:css, lint:format

Initialise TabbedParagraphBlock on HomePage and set up templates
  tbx/core/migrations/0020_alter_homepage_body.py
Due: none

Include TabbedParagraphBlock on ServicePage
  tbx/core/migrations/0021_add_tabbed_paragraph_block_to_homepage.py
  tbx/services/migrations/0011_add_tabbed_paragraphs_to_service_page.py
Due: none

Fix validation errors
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
Due: none

remove duplicate migrations
  tbx/core/migrations/0021_add_tabbed_paragraph_block_to_homepage.py
  tbx/services/migrations/0011_add_tabbed_paragraphs_to_service_page.py
Due: none

delete unused yaml file
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph.yaml
Due: lint:format

Update variable names and tweak js to add history state
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.yaml
  tbx/static_src/javascript/components/tabs.js
Due: lint:js, lint:format

sort out messed up rebase
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
Due: none

Tabbed paragraph block (#123)
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/tabbed_paragraph_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/javascript/components/tabs.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/components/_tab-nav-item.scss
  tbx/static_src/sass/components/_tabbed-paragraph.scss
  tbx/static_src/sass/components/_tabs-mobile.scss
  tbx/static_src/sass/components/_tabs-nav.scss
  tbx/static_src/sass/components/_tabs.scss
  tbx/static_src/sass/components/_work-sections.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

We don't need both a statement and title on the home page
  tbx/core/migrations/0025_remove_unneeded_homepage_field.py
  tbx/core/models.py
Due: none

homepage wip - style heading
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_home-page-hero.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

feat(event_block): Add event block template with styling
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.yaml
  tbx/static_src/sass/components/_event.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

feat(event_block): Add event block to homepage and servicepage body
  tbx/core/blocks.py
  tbx/core/migrations/0026_add_event_block_to_homepage_body.py
  tbx/core/models.py
  tbx/core/templatetags/util_tags.py
  tbx/core/tests/test_util_tags.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/services/blocks.py
  tbx/services/migrations/0016_add_event_block_to_servicepage_body.py
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Layout for home page plus yaml updates for avatars
  tbx/core/migrations/0026_remove_unneeded_homepage_field.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/home_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/partner_logos/partner_logos.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_home.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_home.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_home-page-hero.scss
  tbx/static_src/sass/components/_partners.scss
Due: lint:css, lint:format

feat(motif-heading): Add animation for letter i in motif heading
  tbx/project_styleguide/templates/patterns/atoms/motif-heading/motif-heading.html
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

chore(event_block): Fix styles and add comments
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_event.scss
Due: lint:css, lint:format

Allow only distinct blog posts
  tbx/blog/models.py
Due: none

Enforce WAGTAILIMAGES_MAX_UPLOAD_SIZE env var
  tbx/settings/base.py
Due: none

run black
  tbx/settings/base.py
Due: none

remove unneeded fields on historical work page
  tbx/work/migrations/0028_remove_homepage_image_and_screenshot_fields.py
  tbx/work/models.py
Due: none

Remove unused import
  tbx/work/models.py
Due: none

feat(event_block): Add time restrictions and change formatting of event dates
  tbx/core/blocks.py
  tbx/core/templatetags/util_tags.py
  tbx/core/tests/test_util_tags.py
Due: none

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
