Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

update alignment of components on mobile
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

move gutters into the grid system
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

add picture tag to image block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

remove unused avatar on standard page yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
Due: lint:format

align raw html and markdown block - combine similar alignment classes
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/raw_html_block.html
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

add a note to the docs about streamfields and the grid
  docs/front-end/streamfield-blocks.md
Due: lint:format

Add screenreader text
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
Due: lint:format

Styles for blog and work listings
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_link.scss
  tbx/static_src/sass/components/_listing-avatar.scss
  tbx/static_src/sass/components/_listing-image.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_rich-text.scss
  tbx/static_src/sass/components/_tag.scss
  tbx/static_src/sass/components/navigation/_breadcrumbs-nav.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

remove experimental code, empty alt text for listing images, add focus states to tags
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/static_src/sass/components/_tag.scss
Due: lint:css, lint:format

Add responsive images
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/static_src/sass/components/_listing-image.scss
Due: lint:css, lint:format

Update styleguide
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Update docs
  docs/front-end/streamfield-blocks.md
  mkdocs.yml
Due: lint:format

linting
  tbx/static_src/sass/components/_listing.scss
Due: lint:css, lint:format

Remove arrow movement for prefers reduced motion
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Make listing image link display:block so focus state is visible
  tbx/static_src/sass/components/_listing-image.scss
Due: lint:css, lint:format

save listing images with a more specific variable name
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

don't use / for div in sass
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

fix high contrast mixin so hover states aren't applied twice
  tbx/static_src/sass/components/_tag.scss
Due: lint:css, lint:format

Update colour name and remove unnecessary extra colour var
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_tag.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

add some comments for all the image tag overrides in styleguide.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Listing components FE code (#31)
  docs/front-end/streamfield-blocks.md
  mkdocs.yml
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/components/_link.scss
  tbx/static_src/sass/components/_listing-avatar.scss
  tbx/static_src/sass/components/_listing-image.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_rich-text.scss
  tbx/static_src/sass/components/_tag.scss
  tbx/static_src/sass/components/navigation/_breadcrumbs-nav.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add responsive images
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
Due: none

add a picture tag for the avatar image
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

fix avatar yaml
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
Due: lint:format

Fix pullquote yaml and remove avatar image from the default pullquote yaml as it isn't displayed
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
Due: lint:format

remove duplicate css selector after rebase
  tbx/static_src/sass/components/_tag.scss
Due: lint:css, lint:format

another fix to tag styling following rebase
  tbx/static_src/sass/components/_tag.scss
Due: lint:css, lint:format

make lazy loading optional for avatar image
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
Due: none

Add comment
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Tidy doc-string and remove comments
  tbx/core/blocks.py
Due: none

Alter template and yaml
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.yaml
Due: lint:format

Include migrations for new CTABlock
  tbx/blog/migrations/0003_alter_blogpage_body.py
  tbx/core/migrations/0006_alter_standardpage_body.py
  tbx/work/migrations/0003_alter_workpage_body.py
Due: none

Tidy
  tbx/core/blocks.py
Due: none

Correct href on CTA
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
Due: none

add a picture tag for the avatar image (#32)
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Fix a couple of points spotted when showing lauren the listing code
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/static_src/sass/components/_listing-avatar.scss
Due: lint:css, lint:format

Rectify migration history for work app
  tbx/work/migrations/0002_remove_workindexpage_call_to_action_and_more.py
  tbx/work/migrations/0003_alter_workpage_body.py
Due: none

Rectify migration history
  tbx/blog/migrations/0002_remove_blogindexpage_call_to_action_and_more.py
  tbx/blog/migrations/0003_alter_blogpage_body.py
Due: none

Rebasing with respect to integration/sprint-1 to resolve migration differences
  tbx/blog/migrations/0002_remove_blogindexpage_call_to_action_and_more.py
  tbx/blog/migrations/0002_remove_blogindexpage_call_to_action_and_more.py 12-04-26-234.py
  tbx/core/blocks.py
  tbx/core/migrations/0003_remove_advert_page_remove_advertplacement_advert_and_more.py
  tbx/core/migrations/0003_remove_standardpage_additional_content_and_more.py 12-04-08-741.py
  tbx/core/migrations/0004_alter_standardpage_body.py 11-59-49-041.py
  tbx/core/migrations/0005_remove_advert_page_remove_advertplacement_advert_and_more.py 12-03-56-072.py
  tbx/people/__init__.py
  tbx/people/factories.py
  tbx/people/forms.py
  tbx/people/migrations/0001_initial.py
  tbx/people/migrations/0002_remove_culturepagekeypoint_linked_page_and_more.py
  tbx/people/migrations/0003_remove_personindexpage_call_to_action_and_more.py
  tbx/people/migrations/__init__.py
  tbx/people/models.py
  tbx/people/tests/__init__.py
  tbx/people/tests/test_factories.py
  tbx/work/migrations/0002_remove_workindexpage_call_to_action_and_more.py
  tbx/work/migrations/0002_remove_workindexpage_call_to_action_and_more.py 12-04-40-998.py
Due: none
