Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Rebasing migrations
  tbx/blog/migrations/0002_remove_blogindexpage_call_to_action_and_more.py
  tbx/core/migrations/0003_remove_standardpage_additional_content_and_more.py
  tbx/core/migrations/0004_alter_standardpage_body.py
  tbx/core/migrations/0005_remove_advert_page_remove_advertplacement_advert_and_more.py
  tbx/people/__init__.py
  tbx/people/factories.py
  tbx/people/forms.py
  tbx/people/migrations/0001_initial.py
  tbx/people/migrations/0002_remove_culturepagekeypoint_linked_page_and_more.py
  tbx/people/migrations/0003_remove_personindexpage_call_to_action_and_more.py
  tbx/people/migrations/__init__.py
  tbx/people/models.py
  tbx/people/tests/__init__.py
  tbx/people/tests/test_factories.py
  tbx/work/migrations/0002_remove_workindexpage_call_to_action_and_more.py
Due: none

Integrate FE changes with BE work
  tbx/core/blocks.py
Due: none

Include help_text ton guide editors
  tbx/blog/migrations/0005_alter_blogpage_body.py
  tbx/work/migrations/0005_alter_workpage_body.py
Due: none

Update PullQuoteBlock fields
  tbx/blog/migrations/0004_alter_blogpage_body.py
  tbx/core/migrations/0005_alter_standardpage_body.py
  tbx/work/migrations/0004_alter_workpage_body.py
Due: none

Instantiate new QuoteBlock
  tbx/core/blocks.py
Due: none

Remove migrations to rebase with integration branch
  tbx/blog/migrations/0004_alter_blogpage_body.py
  tbx/blog/migrations/0005_alter_blogpage_body.py
  tbx/core/migrations/0005_alter_standardpage_body.py
Due: none

Rectify migration history for core app
  tbx/core/migrations/0003_remove_standardpage_additional_content_and_more.py
  tbx/core/migrations/0004_alter_standardpage_body.py
  tbx/core/migrations/0005_remove_advert_page_remove_advertplacement_advert_and_more.py
  tbx/core/migrations/0006_alter_standardpage_body.py
Due: none

Include attribution on FE
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/static_src/sass/components/_pullquote.scss
Due: lint:css, lint:format

Improve wording of help_text and rename link to call_to_action
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
Due: lint:format

Rename company-logo to logo and include Role field
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_pullquote.scss
Due: lint:css, lint:format

Include migrations for updated QuoteBlock
  tbx/blog/migrations/0004_alter_blogpage_body.py
  tbx/core/migrations/0007_alter_standardpage_body.py
  tbx/work/migrations/0004_alter_workpage_body.py
Due: none

Reinstate company-logo classname
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/static_src/sass/components/_pullquote.scss
Due: lint:css, lint:format

Merge migrations after rebase
  tbx/blog/migrations/0006_merge_20240117_1530.py
  tbx/blog/migrations/0007_alter_blogpage_body.py
  tbx/core/migrations/0009_merge_20240117_1530.py
  tbx/core/migrations/0010_alter_standardpage_body.py
  tbx/work/migrations/0006_merge_20240117_1530.py
  tbx/work/migrations/0007_alter_workpage_body.py
Due: none

Fix redundant import after rebase
  tbx/core/blocks.py
Due: none

Fix a couple of points spotted when showing lauren the listing code (#37)
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/static_src/sass/components/_listing-avatar.scss
Due: lint:css, lint:format

Regenerate migrations after rebase with integration/sprint-1
  tbx/blog/migrations/0006_alter_blogpage_body.py
  tbx/core/migrations/0009_alter_standardpage_body.py
  tbx/work/migrations/0006_alter_workpage_body.py
Due: none

Regenerate migrations on simple-cta-BE
  tbx/blog/migrations/0007_alter_blogpage_body.py
  tbx/core/migrations/0011_alter_standardpage_body.py
  tbx/work/migrations/0006_alter_workpage_body.py
  tbx/work/migrations/0008_alter_workpage_body.py
Due: none

Initialise ContactCTABlock, template and yaml
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
Due: lint:format

Attempt to render image in pattern-library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
Due: lint:format

Include basic frontend styling
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

Update pattern-library config
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
Due: lint:format

Merge migrations after rebase
  tbx/blog/migrations/0006_merge_20240117_1143.py
  tbx/core/migrations/0009_merge_20240117_1143.py
  tbx/work/migrations/0006_merge_20240117_1143.py
Due: none

Regenerate migrations to facilitate rebase with integrations/sprint-1
  tbx/blog/migrations/0006_merge_20240117_1143.py
  tbx/blog/migrations/0008_alter_blogpage_body.py
  tbx/core/migrations/0009_merge_20240117_1143.py
  tbx/core/migrations/0012_alter_standardpage_body.py
  tbx/work/migrations/0006_merge_20240117_1143.py
  tbx/work/migrations/0009_alter_workpage_body.py
Due: none

add simple call to action styles and align to the grid
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

move streamfield content width to a var
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Add BlogPageFactory and BlogIndexPageFactory
  tbx/blog/factories.py
Due: none

Show 3 related blog posts, instead of 2
  tbx/blog/models.py
Due: none

Blog Page template cleanup - remove what we don't need
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

Add tests for BlogPage
  tbx/blog/tests/__init__.py
  tbx/blog/tests/test_models.py
Due: none

Test the BlogPageFactory post_generation hook
  tbx/blog/tests/test_models.py
Due: none

Add AuthorFactory
  tbx/people/factories.py
  tbx/people/tests/test_factories.py
Due: none

Ensure the slug is set correctly, based on the name
  tbx/taxonomy/factories.py
  tbx/taxonomy/tests/test_factories.py
Due: none

Add additional context to related_blog_posts & improve performance
  tbx/blog/models.py
Due: none

Update pattern library
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
Due: lint:format

Update templates to match BE changes
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

Further cleanup - remove what we don't need
  tbx/blog/models.py
Due: none

Cleanup tests and test the related_blog_posts property
  tbx/blog/tests/test_models.py
Due: none

Remove superflous tests
  tbx/blog/tests/test_models.py
  tbx/people/factories.py
  tbx/people/tests/test_factories.py
Due: none

No need for "item.type != "BLOG POST"
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.html
Due: none

Define a `services` cached_property on BlogPage
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none
