Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.8' # keep in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.5' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

Upgrade Wagtail 7.4 → 8.0
  poetry.lock
  pyproject.toml
Due: none

Upgrade Python dependencies
  poetry.lock
  pyproject.toml
Due: none

Upgrade Node dependencies
  .github/pull_request_template.md
  docs/upgrading.md
  package-lock.json
  package.json
  svgo.config.js
  tbx/static_src/javascript/components/dynamic-hero.js
  tbx/static_src/javascript/main.js
  tbx/static_src/javascript/polyfills/closest-polyfill.js
  tbx/static_src/javascript/polyfills/foreach-polyfill.js
  tsconfig.json
Due: lint:js, lint:format

Add ESLint v9 migration reference to the ceiling note
  docs/upgrading.md
Due: lint:format

Migrate Tailwind CSS to v4
  .stylelintrc.js
  docs/upgrading.md
  package.json
Due: lint:js, lint:format

Fix upgrade-log entry per self-review: thing-named heading, drop cycle narrative
  docs/upgrading.md
Due: lint:format

Record Trivy security review
  docs/upgrading.md
Due: lint:format

Refresh pre-commit hooks; hold ruff back from v0.16 pending follow-up
  .pre-commit-config.yaml
Due: lint:format

Fix ruff 0.16 default rule-selection drift; lift pre-commit hold
  .pre-commit-config.yaml
  ruff.toml
Due: lint:format

add the key points block to division pages
  tbx/core/blocks.py
  tbx/divisions/blocks.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.html
Due: none

allow four cards in service area featured services block
  tbx/core/blocks.py
Due: none

Translate Tailwind config to CSS @theme; drop tailwind.config.js
  .eslintrc.js
  .stylelintrc.js
  Dockerfile
  docker-compose.yml
  docs/front-end/breakpoints.md
  docs/front-end/utility-classes.md
  docs/upgrading.md
  tailwind.config.js
  tbx/static_src/css/tailwind.css
  tbx/static_src/sass/base/_base.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
  webpack.config.js
Due: lint:js, lint:css, lint:format

Make form validation check exhaustive, reject invalid submission
  tbx/blog/models.py
Due: none

Make filter query code more readable
  tbx/work/models.py
Due: none

Restore shared listing header template
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-header.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
Due: none

Update filter navigation link generation to use new parameters
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
Due: none

Add new filter parameters to tag component & taxonomy model metadata
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--simple.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--team.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/taxonomy/models.py
Due: none

Update pattern library templates
  tbx/project_styleguide/templates/patterns/atoms/tag/tag.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--simple.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
Due: lint:format

Delete unused title-filters components
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--event.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--event.yaml
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

Remove unused `filter_by` support in see-more component
  tbx/project_styleguide/templates/patterns/atoms/see-more/see-more.html
Due: none

Update documentation
  docs/navigation.md
Due: lint:format

Fix formatting of documentation tables
  docs/navigation.md
Due: lint:format

Rename title-filters--team component
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters-team.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters-team.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: lint:format

Make filter result message copy more generic
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
Due: none

Add tests
  tbx/core/listing/tests/test_canonical.py
Due: none

Refactor rendering of canonical URLs on listing pages
  tbx/core/listing/context.py
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Extend homepage schema.org details
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Add search app
  tbx/search/__init__.py
  tbx/search/forms.py
  tbx/search/tests.py
  tbx/search/views.py
  tbx/settings/base.py
  tbx/urls.py
Due: none

Fix typos / spellings in README
  README.md
Due: lint:format

Add basic search page / results templates and styling
  tbx/project_styleguide/templates/patterns/molecules/search-result/search-result.html
  tbx/project_styleguide/templates/patterns/molecules/search-result/search-result.yml
  tbx/project_styleguide/templates/patterns/pages/search/search.html
  tbx/project_styleguide/templates/patterns/pages/search/search.yml
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_search-header.scss
  tbx/static_src/sass/components/_search-results.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Lint
  tbx/static_src/sass/components/_search-header.scss
Due: lint:css, lint:format

Always mark search results as noindex
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/pages/search/search.html
Due: none

Use the default per page setting in most paginators
  tbx/blog/models.py
  tbx/events/models.py
  tbx/work/models.py
Due: none

Install the image optimisation libraries in the base image
  Dockerfile
Due: none

Add HTMX
  package-lock.json
  package.json
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

Add HTMX swap targets and result count to listing filters
  tbx/core/listing/context.py
  tbx/core/listing/tests/test_blog_listing.py
  tbx/core/listing/tests/test_events_listing.py
  tbx/core/listing/tests/test_work_listing.py
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
Due: lint:format

Remove listing filters in place and hide the Apply button
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/javascript/components/listing-filters.test.js
Due: lint:js, lint:format

Style the listing loading state and hidden Apply button
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:css, lint:format
