Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.8' # keep in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.5' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

Only show filters that yeild results
  tbx/core/listing/events.py
  tbx/core/listing/filters.py
  tbx/core/listing/mixins.py
  tbx/core/listing/tests/test_filters.py
  tbx/core/listing/tests/test_listing_pages.py
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-culture-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-dropdown.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-sector-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-service-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-timing-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-type-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--events.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--taxonomy.html
  tbx/project_styleguide/templates/patterns/pages/listing/includes/listing_events_filter_options_oob.html
  tbx/project_styleguide/templates/patterns/pages/listing/includes/listing_taxonomy_filter_options_oob.html
  tbx/project_styleguide/templates/patterns/pages/listing/listing_panel_partial.html
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/javascript/listing.js
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:js, lint:css, lint:format

Adding two empty states for dropdowns, and fixing consistent pagination scroll logic
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-culture-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-dropdown.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-options-empty.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-sector-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-service-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-timing-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-type-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--events.html
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/javascript/listing.js
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:js, lint:css, lint:format

Codex code review
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-dropdown.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--events.html
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/_listing-filters.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
Due: lint:css, lint:format

Updating documentation
  docs/listing.md
Due: lint:format

linting
  docs/listing.md
  tbx/core/listing/events.py
  tbx/core/listing/mixins.py
  tbx/core/listing/tests/test_listing_pages.py
  tbx/core/models.py
  tbx/static_src/javascript/components/listing-filters.js
Due: lint:js, lint:format

Rework filters to always show all options
  docs/listing.md
  tbx/core/listing/events.py
  tbx/core/listing/filters.py
  tbx/core/listing/mixins.py
  tbx/core/listing/tests/test_listing_pages.py
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-dropdown.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--events.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--taxonomy.html
  tbx/project_styleguide/templates/patterns/pages/listing/includes/listing_no_results.html
  tbx/project_styleguide/templates/patterns/pages/listing/listing_results--events.html
  tbx/project_styleguide/templates/patterns/pages/listing/listing_results--taxonomy.html
  tbx/project_styleguide/templates/patterns/pages/listing/listing_results--work.html
  tbx/static_src/javascript/components/listing-filters.js
Due: lint:js, lint:format

Add display_instagram_icon option to InstagramGalleryGridBlock
  tbx/impact_reports/blocks.py
Due: none

Conditionally display Instagram icon in gallery block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.yaml
Due: lint:format

Address primary nav review feedback: site-aware URLs and Python caching
  docs/navigation.md
  tbx/navigation/blocks.py
  tbx/navigation/migrations/0010_migrate_primary_nav_from_child_display_behaviour.py
  tbx/navigation/models.py
  tbx/navigation/templatetags/navigation_tags.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/tests/test_navigation_settings.py
  tbx/navigation/utils.py
Due: lint:format

linting
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
Due: none

Address primary nav dropdown FE review feedback
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mixed-list.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-taxonomy-index.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-teaser-grid.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/static_src/javascript/components/desktop-close-menus.js
  tbx/static_src/javascript/components/primary-desktop-sub-menu.js
  tbx/static_src/javascript/components/primary-mobile-menu.js
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown-mobile.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown-preview.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

Moving dropdown previews to styleguide area
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.md
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-mixed-list.html
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-mixed-list.yaml
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-taxonomy-index.html
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-taxonomy-index.yaml
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-teaser-grid.html
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-teaser-grid.yaml
Due: lint:format

Refactor primary nav dropdown styles and address remaining FE review
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-footer.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-footer.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mixed-list.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mixed-list.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-taxonomy-index.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-taxonomy-index.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-teaser-grid.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-teaser-grid.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown-backdrop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown-mobile.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

linting
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

python lint
  tbx/navigation/templatetags/navigation_tags.py
Due: none

Address remaining primary nav FE review feedback
  tbx/static_src/javascript/components/desktop-close-menus.js
  tbx/static_src/javascript/components/primary-mobile-sub-menu.js
  tbx/static_src/javascript/components/primary-mobile-sub-menu.test.js
Due: lint:js, lint:format

Adding focus trap for menu with tests
  tbx/static_src/javascript/components/focus-trap.js
  tbx/static_src/javascript/components/focus-trap.test.js
  tbx/static_src/javascript/components/primary-desktop-sub-menu.js
  tbx/static_src/javascript/components/primary-mobile-menu.js
  tbx/static_src/javascript/components/primary-mobile-menu.test.js
  tbx/static_src/javascript/components/primary-mobile-sub-menu.js
  tbx/static_src/javascript/components/primary-mobile-sub-menu.test.js
Due: lint:js, lint:format

prettier
  tbx/static_src/javascript/components/focus-trap.js
  tbx/static_src/javascript/components/focus-trap.test.js
  tbx/static_src/javascript/components/primary-mobile-menu.test.js
Due: lint:js, lint:format

Addressing Helen’s Claude aria comments
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/static_src/javascript/components/primary-desktop-sub-menu.js
Due: lint:js, lint:format

Centralise link URL resolution on LinkBlockStructValue.url
  tbx/navigation/blocks.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
Due: none

Fix PickleError in primary nav migration and tighten deps
  tbx/blog/migrations/0030_remove_override_navigation_set.py
  tbx/core/migrations/0043_remove_override_navigation_set.py
  tbx/divisions/migrations/0004_remove_override_navigation_set.py
  tbx/events/migrations/0011_remove_override_navigation_set.py
  tbx/impact_reports/migrations/0008_remove_override_navigation_set.py
  tbx/navigation/migrations/0010_migrate_primary_nav_from_child_display_behaviour.py
  tbx/people/migrations/0013_remove_override_navigation_set.py
  tbx/services/migrations/0026_remove_override_navigation_set.py
  tbx/sitemap/migrations/0002_remove_override_navigation_set.py
  tbx/work/migrations/0038_remove_override_navigation_set.py
Due: none

Primary nav: JSON-safe cache, decouple key, narrow invalidation
  tbx/navigation/apps.py
  tbx/navigation/models.py
  tbx/navigation/signals.py
  tbx/navigation/templatetags/navigation_tags.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/tests/test_navigation_settings.py
  tbx/navigation/utils.py
  tbx/settings/base.py
Due: none

Restore length guard on primary nav cache reads
  tbx/navigation/tests/test_navigation_settings.py
  tbx/navigation/utils.py
Due: none

Primary nav: self-sufficient cached items, drop zip, simpler is_current
  tbx/navigation/templatetags/navigation_tags.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/tests/test_navigation_settings.py
  tbx/navigation/utils.py
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-footer.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-footer.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mixed-list.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-taxonomy-index.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-teaser-grid.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-mixed-list.yaml
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-taxonomy-index.yaml
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-teaser-grid.yaml
Due: lint:format

Fix current nav item detection
  tbx/navigation/templatetags/navigation_tags.py
  tbx/navigation/utils.py
Due: none

Primary nav: drop per-request DB query, widen signal coverage
  tbx/navigation/signals.py
  tbx/navigation/templatetags/navigation_tags.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/tests/test_navigation_settings.py
  tbx/navigation/utils.py
Due: none

Primary nav: treat empty cached value as a miss and rebuild
  tbx/navigation/tests/test_navigation_settings.py
  tbx/navigation/utils.py
Due: none

Run ruff format on navigation cache changes
  tbx/navigation/tests/test_navigation_settings.py
  tbx/navigation/utils.py
Due: none

Mark migration's raw SQL with noqa S608 (constants, not user input)
  tbx/navigation/migrations/0010_migrate_primary_nav_from_child_display_behaviour.py
Due: none

Primary nav: JSON-safe cache, decouple key, narrow invalidation (#441)
  tbx/navigation/apps.py
  tbx/navigation/migrations/0010_migrate_primary_nav_from_child_display_behaviour.py
  tbx/navigation/models.py
  tbx/navigation/signals.py
  tbx/navigation/templatetags/navigation_tags.py
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/tests/test_navigation_settings.py
  tbx/navigation/utils.py
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-footer.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-footer.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mixed-list.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-taxonomy-index.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-teaser-grid.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-mixed-list.yaml
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-taxonomy-index.yaml
  tbx/project_styleguide/templates/patterns/styleguide/navigation/dropdown-teaser-grid.yaml
  tbx/settings/base.py
Due: lint:format

Primary nav: drop nav entries whose target no longer resolves
  tbx/navigation/tests/test_nav_utils.py
  tbx/navigation/utils.py
Due: none

Sectors: scaffold app and register in INSTALLED_APPS
  tbx/sectors/__init__.py
  tbx/sectors/apps.py
  tbx/sectors/migrations/__init__.py
  tbx/sectors/models.py
  tbx/settings/base.py
Due: none

Sectors: add SectorsIndexPage with copied division template, blocks, and hero factory
  tbx/divisions/models.py
  tbx/project_styleguide/templates/patterns/pages/sectors/sectors_index_page.html
  tbx/project_styleguide/templates/patterns/pages/sectors/sectors_index_page.yaml
  tbx/sectors/blocks.py
  tbx/sectors/factories.py
  tbx/sectors/migrations/0001_initial.py
  tbx/sectors/models.py
  tbx/sectors/tests/__init__.py
  tbx/sectors/tests/test_models.py
  tbx/services/models.py
Due: lint:format

Sectors: cover factory-based child creation under SectorsIndexPage
  tbx/sectors/tests/test_models.py
Due: none

Division mixin: cover final_division across SectorsIndexPage ancestor
  tbx/core/tests/test_division_mixin.py
Due: none

Divisions: add optional sector FK on DivisionPage
  tbx/divisions/factories.py
  tbx/divisions/migrations/0005_divisionpage_sector.py
  tbx/divisions/models.py
  tbx/divisions/tests/__init__.py
  tbx/divisions/tests/test_models.py
Due: none

Services: add optional sector FK on ServiceAreaPage and service FK on ServicePage
  tbx/services/factories.py
  tbx/services/migrations/0027_serviceareapage_sector_servicepage_service.py
  tbx/services/models.py
  tbx/services/tests/test_models.py
Due: none

Primary nav: allow label-only top-level items when a dropdown is set
  tbx/navigation/blocks.py
  tbx/navigation/tests/test_nav_blocks.py
Due: none
