Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.8' # keep in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.5' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

move canoncial tags to base template
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
Due: none

add a conditional to apply canonical tags to wagtail pages only
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Allow division page underneath a service page
  docker-compose.yml
  tbx/divisions/factories.py
  tbx/divisions/migrations/0006_divisionpage_service.py
  tbx/divisions/models.py
  tbx/divisions/tests/test_models.py
  tbx/services/models.py
Due: lint:format

Add management command to delete redirects to torchbox.com on staging
  tbx/core/management/commands/find_torchbox_redirects.py
Due: none

Update DivisionSignpostBlock to use four cards with green theme support
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_division-signpost.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Increase image resolution slightly
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/division_signpost_block.yaml
Due: lint:format

Upgrade PostgreSQL to 17
  .github/workflows/test.yml
  docker-compose.yml
Due: lint:format

Update insecure packages
  poetry.lock
Due: none

Remove redundant :has support checks
  tbx/static_src/sass/components/_header.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
Due: lint:css, lint:format

Clarify listing filter labels for screen readers
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--events.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--taxonomy.html
Due: none

Move listing placement into grid styles
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-header.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:css, lint:format

Isolate tests from the development cache
  tbx/settings/test.py
Due: none

Fix division filtering on work listings
  tbx/core/listing/filters.py
Due: none

Improve listing filter behavior and validation
  tbx/core/listing/__init__.py
  tbx/core/listing/events.py
  tbx/core/listing/filters.py
  tbx/core/listing/forms.py
  tbx/core/listing/mixins.py
  tbx/core/listing/tests/__init__.py
  tbx/core/listing/tests/test_events_listing.py
  tbx/core/listing/tests/test_filters.py
  tbx/core/listing/tests/test_listing_pages.py
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-timing-options.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--events.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--taxonomy.html
  tbx/project_styleguide/templates/patterns/pages/listing/includes/listing_meta.html
  tbx/project_styleguide/templates/patterns/pages/listing/includes/listing_meta_oob.html
  tbx/project_styleguide/templates/patterns/pages/listing/listing_results--work.html
  tbx/work/tests/test_models.py
Due: none

Disable htmx history snapshots on listings
  tbx/static_src/javascript/listing.js
Due: lint:js, lint:format

Configure webpack to use eslintrc
  webpack.config.js
Due: lint:js, lint:format

Improve listing filter progressive enhancement
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-dropdown.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-option.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/listing_active_filters_inner.html
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
  tbx/project_styleguide/templates/patterns/pages/listing/listing_panel_inner.html
  tbx/project_styleguide/templates/patterns/pages/listing/listing_panel_partial.html
  tbx/project_styleguide/templates/patterns/pages/listing/listing_results--events.html
  tbx/project_styleguide/templates/patterns/pages/listing/listing_results--taxonomy.html
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/javascript/components/listing-filters.test.js
  tbx/static_src/javascript/listing.js
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:js, lint:css, lint:format

Update listing filter documentation
  docs/listing.md
Due: lint:format

Correct listing option swap assertion
  tbx/core/listing/tests/test_listing_pages.py
Due: none

Update the events filter to show all event types
  tbx/core/listing/events.py
Due: none

Fix color contrast in mobile subnav descr - light theme
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown-mobile.scss
Due: lint:css, lint:format

Fix mobile subnav scroll overlap issue
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown-mobile.scss
Due: lint:css, lint:format

Add shared listing-filter form and context helpers
  tbx/core/listing/__init__.py
  tbx/core/listing/context.py
  tbx/core/listing/forms.py
  tbx/core/listing/tests/__init__.py
  tbx/core/listing/tests/test_forms.py
Due: none

Add shared listing-filter UI
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-header.html
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/javascript/components/listing-filters.test.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing-filters.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

Add slug field to EventType snippet
  tbx/core/factories.py
  tbx/core/migrations/0044_eventtype_slug.py
  tbx/core/models.py
Due: none

Add sector and service filters to the news listing
  tbx/blog/models.py
  tbx/core/listing/tests/test_blog_listing.py
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
Due: none

Add sector and service filters to the work listing
  tbx/core/listing/tests/test_work_listing.py
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.html
  tbx/work/models.py
Due: none

Add timing and type filters to the events listing
  tbx/core/listing/tests/test_events_listing.py
  tbx/events/factories.py
  tbx/events/models.py
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
Due: none

Self code review fixes - Improve high contrast mode accessibility for submit button - Remove excess comments - Standardise use of SCSS styles for listing filters component
  tbx/blog/models.py
  tbx/core/listing/forms.py
  tbx/core/listing/tests/test_blog_listing.py
  tbx/core/listing/tests/test_events_listing.py
  tbx/core/listing/tests/test_work_listing.py
  tbx/events/models.py
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-header.html
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing-filters.scss
  tbx/work/models.py
Due: lint:js, lint:css, lint:format

Update pattern library template context for listing filters
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.yaml
Due: lint:format

Fix bug with pattern library crash when base page doesn't provide full_url
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Fix apply filter button styling to use accessible colors
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:css, lint:format

Remove unnecessary added apply filter button styles
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:css, lint:format

Make minor change to apply filter button padding for consistency
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:css, lint:format

Fix lint issue with listing filters YAML
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.yaml
Due: lint:format

Remove scrollable container for listing filters that caused issues at 400% zoom
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:css, lint:format

Rename listing filters class
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.html
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:css, lint:format

Remove unused CSS, correct minor issues
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.html
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:css, lint:format

When only showing upcoming events, display no_events_message instead of generic no results text
  tbx/events/models.py
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.html
Due: none

Update listing dropdown template with missing data attribute
  tbx/static_src/javascript/components/listing-filters.test.js
Due: lint:js, lint:format
