Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

More mobile tweaks - lisitngs - home page icon - partners block
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_home-page-hero.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_tabs-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

tabbed paragraph amendments
  tbx/static_src/javascript/components/tabs.js
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_tabs.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

tweak to event meta item
  tbx/static_src/sass/components/_event-block.scss
Due: lint:css, lint:format

tweak client style on work page hero
  tbx/static_src/sass/components/_work-hero.scss
Due: lint:css, lint:format

adjust tabbed paragraph text
  tbx/static_src/sass/components/_tabs.scss
Due: lint:css, lint:format

Don't output empty grid if breadcrumb is not present
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs.html
Due: none

Tweak title, heading and intro widths on the service page
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Use inset instead of left, right etc
  tbx/static_src/sass/components/_event-block.scss
  tbx/static_src/sass/components/_promo.scss
Due: lint:css, lint:format

Update tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

We don't need to monkey-patch django's management machinery
  tbx/core/management/commands/__init__.py
  tbx/core/management/commands/makemigrations.py
  tbx/core/management/commands/migrate.py
Due: none

Recreate migration
  tbx/navigation/migrations/0006_use_custom_streamfield.py
Due: none

Ensure that unused taxonomies aren't shown on listings
  tbx/blog/models.py
  tbx/work/models.py
Due: none

Ignore filtering when taxonomy slug doesn't exist
  tbx/blog/models.py
Due: none

Merge migrations
  tbx/core/migrations/0031_merge_20240315_1052.py
  tbx/services/migrations/0020_merge_20240315_1052.py
Due: none

Update the pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.yaml
Due: lint:format

Style mailchimp form
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.html
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_mailchimp.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Style mailchimp form (#169)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.yaml
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_mailchimp.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Move link in featured case study to the title
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

reduce button sizes
  tbx/static_src/sass/components/_button.scss
Due: lint:css, lint:format

Amend work page markup so we can use heading level 2s on the page
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.html
Due: none

Increase spacing between heading 1 and breadcrumb
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
Due: none

Reduce height of the promo block
  tbx/static_src/sass/components/_promo.scss
Due: lint:css, lint:format

Revert "Add prefetch of blog page authors"
  tbx/blog/models.py
Due: none

Updates to the event block styles and rename the file
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/event_block.html
  tbx/static_src/sass/components/_event-block.scss
  tbx/static_src/sass/components/_promo.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add prefetch of blog page authors
  tbx/blog/models.py
Due: none

Add comments explaining comments, remove stray css file, test level1 children option at mobile in the pattern library
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/static_src/sass/components/navigation/_showcase.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Add libmagickwand-dev
  Dockerfile
Due: none

Remove some extra renditions that are no longer needed from the avatar template
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
Due: none

Alignment of authors on work pages
  tbx/static_src/sass/components/_work-page-author.scss
Due: lint:css, lint:format

make h4s semibold
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading4_block.html
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_rich-text.scss
Due: lint:css, lint:format

Update heading width on a few blocks as discussed with ben
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

don't indent image caption and attribution at desktop
  tbx/static_src/sass/components/_image.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
