Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Remove functionality to close mobile menu when clicking outside it as it was causing a bug, and there is little space to click on the mobile version when the menu is open anyway
  tbx/static_src/javascript/components/mobile-menu.js
Due: lint:js, lint:format

alignment, title size and spacing on home page
  tbx/project_styleguide/templates/patterns/molecules/home-page-hero/home-page-hero.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Create migrations following changes in 8b4381b, eb6e525 & 54072ee
  tbx/blog/migrations/0024_use_custom_streamfield.py
  tbx/core/migrations/0030_use_custom_streamfield.py
  tbx/navigation/migrations/0006_use_custom_streamfield.py
  tbx/people/migrations/0007_use_custom_streamfield.py
  tbx/services/migrations/0019_use_custom_streamfield.py
  tbx/work/migrations/0029_use_custom_streamfield.py
Due: none

don't go full width with images at mobile
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Move photo collage over on desktop
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Tweak title, heading and intro widths on the service page
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

tweak the meta info for the featured case study
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

Featured case stuyd tweaks - hide results icon at mobile - adjust layout and font-sizes at different breakpoints to better fit content
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

tweak client style on work page hero
  tbx/static_src/sass/components/_work-hero.scss
Due: lint:css, lint:format

tabbed paragraph amendments
  tbx/static_src/javascript/components/tabs.js
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_tabs.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

tweak to event meta item
  tbx/static_src/sass/components/_event-block.scss
Due: lint:css, lint:format

Update navigation docs
  docs/navigation.md
Due: lint:format

New svg for the results ring in featured case study - it now uses the light mode colours
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Style mailchimp form (#169)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/mailchimp_form_block.yaml
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_mailchimp.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

djhtml change
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
Due: none

Recreate migration
  tbx/navigation/migrations/0006_use_custom_streamfield.py
Due: none

Better align the video block on blog pages
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

navigation new layout
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templatetags/navigation_tags.py
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Revert "Rename image field to prefetch on common field name"
  tbx/work/factories.py
  tbx/work/migrations/0029_rename_feed_image_historicalworkpage_header_image.py
  tbx/work/models.py
Due: none

Update the docs with info on the custom StreamField implementation
  docs/custom-features/migration-friendly-streamfields.md
  docs/upgrading.md
  mkdocs.yml
Due: lint:format

Fix width of listing images on retina screens
  tbx/static_src/sass/components/_listing-image.scss
Due: lint:css, lint:format

sort avatar sizing on work page
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
  tbx/project_styleguide/templates/patterns/molecules/author/author.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_author.scss
  tbx/static_src/sass/components/_avatar.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Enusre the promo block doesn't get too tall, and tweak mobile design
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_promo.scss
Due: lint:css, lint:format

Ensure videos are styled as expected
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/video_block.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

Revert "Add libmagickwand-dev"
  Dockerfile
Due: none

Styling tweak for h2s and h3s on work pages when they are added in rich text instead of in a separate block
  tbx/static_src/sass/components/_rich-text.scss
  tbx/static_src/sass/components/_work-sections.scss
Due: lint:css, lint:format

More mobile tweaks - lisitngs - home page icon - partners block
  tbx/static_src/sass/components/_employee-owned-icon.scss
  tbx/static_src/sass/components/_home-page-hero.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_partners.scss
  tbx/static_src/sass/components/_tabs-mobile.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Updates to styling and fields on the featured case study
  tbx/core/blocks.py
  tbx/core/migrations/0030_remove_featured_case_study_tagline.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/services/migrations/0019_remove_featured_case_study_tagline.py
  tbx/static_src/sass/components/_featured-case-study.scss
Due: lint:css, lint:format

Patch the Django migration machinery
  tbx/core/management/commands/__init__.py
  tbx/core/management/commands/makemigrations.py
  tbx/core/management/commands/migrate.py
Due: none

Rename image field to prefetch on common field name
  tbx/work/factories.py
  tbx/work/migrations/0029_rename_feed_image_historicalworkpage_header_image.py
  tbx/work/models.py
Due: none

Fix breadcrumbs in pattern library
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs.yaml
Due: lint:format

Modify breadcrumb by hardcoding homepage title and not displaying current page
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs.html
Due: none

tweak viewbox of results ring to get it in a better position
  tbx/project_styleguide/templates/patterns/atoms/icons/results-ring.html
Due: none

Replace wagtail.fields.StreamField with tbx.core.utils.fields.StreamField
  tbx/blog/models.py
  tbx/core/models.py
  tbx/navigation/models.py
  tbx/people/models.py
  tbx/services/models.py
  tbx/work/models.py
Due: none

Define custom StreamField class
  tbx/core/utils/fields.py
Due: none

Regarding desaturation - let users opt-out rather than opt-in
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/work/migrations/0030_workpage_desaturate_header_image.py
  tbx/work/migrations/0030_workpage_remove_desaturation_on_header_image.py
  tbx/work/models.py
Due: none

Small tweak to MR template
  .github/pull_request_template.md
Due: lint:format

Use links for the cookie banner opt out as requested by analytics team
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
Due: none

Markdown block and grouping of streamfield blocks
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/markdown_block.html
  tbx/services/blocks.py
  tbx/static_src/sass/components/_markdown-block.scss
  tbx/static_src/sass/main.scss
  tbx/static_src/sass/vendor/_codehilite.scss
Due: lint:css, lint:format

Add focus style and comments
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/markdown_block.html
  tbx/static_src/sass/components/_markdown-block.scss
Due: lint:css, lint:format
