Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Show intro in pattern library
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.html
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.yaml
Due: lint:format

fix incorrect merge conflict on staging only
  tbx/core/context_processors.py
Due: none

add docs
  docs/front-end/markdown-codehilite.md
Due: lint:format

wip commit
  tbx/work/migrations/0035_add_alt_text_options_to_work_image.py
Due: none

remove duplicate migration
  tbx/core/migrations/0037_merge_20240725_0953.py
Due: none

Add extra alt text options to the work page image
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/work/models.py
Due: none

Upgrade docs amendments
  docs/upgrading.md
Due: lint:format

added error handling and logging to both has_gist_block and has_markdown_block filters
  tbx/core/templatetags/util_tags.py
Due: none

Rationalise intro styles and ensure intro has its own custom font-size
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/intro_block.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Fix intro colour and font-weight, and include a common intro file for all instances
  tbx/project_styleguide/templates/patterns/molecules/intro/intro.html
  tbx/project_styleguide/templates/patterns/molecules/intro/intro.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/intro_block.html
  tbx/project_styleguide/templates/patterns/pages/service/service_page.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

Improve has_markdown/gist_block logic
  tbx/core/templatetags/util_tags.py
Due: none

fix glitch with animation of wagtail bird's head
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
Due: none

Flip comment
  tbx/core/utils/views.py
Due: none

Cache 404s for 15 minutes
  tbx/core/utils/views.py
Due: none

Test missing and wildcard Accept headers
  tbx/core/tests/test_views.py
  tbx/core/utils/views.py
Due: none

Use simpler error pages when HTML isn't needed
  tbx/core/tests/test_views.py
  tbx/core/utils/views.py
  tbx/urls.py
Due: none

Allow Cloudflare to cache 404s
  cloudflare/workers.js
Due: lint:js, lint:format

Add company address to footer
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Encapsulate address text in tags and set colour
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Fix linting
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
Due: none

Fix div nesting
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
Due: none

Update to improve use of semantic tags, layout & styling
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Remove duplicate copyright information
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

upgrade wagtail to 6.2.2
  poetry.lock
  pyproject.toml
Due: none

update prod dependencies
  poetry.lock
  pyproject.toml
Due: none

update dev dependencies
  poetry.lock
  pyproject.toml
Due: none

update packages flagged as vulnerabilities by trivy
  poetry.lock
Due: none

Update version of Redis used by local dev environments
  docker-compose.yml
Due: lint:format

Update Redis cache configuration with new Heroku-compatible settings
  tbx/settings/base.py
Due: none

update pre-commit config
  .pre-commit-config.yaml
Due: lint:format

setup django-xff
  poetry.lock
  pyproject.toml
  tbx/settings/base.py
  tbx/settings/production.py
  tbx/settings/test.py
Due: none

Adjust horizontal footer logos style
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Adjust image crop for landscape images only
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
Due: none

Linting
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
Due: none

Fine-tune CSS to match designs
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Fine-tune styles for horizontal logos on wider screens
  tbx/static_src/sass/components/_footer.scss
Due: lint:css, lint:format

Apply latest wagtail patch release (bump 6.2.2 -> 6.2.3)
  poetry.lock
Due: none

Style newsletter signup
  tbx/project_styleguide/templates/patterns/atoms/newsletter-signup-form/newsletter-signup-form.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/static_src/sass/components/_footer-cta.scss
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
