Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Bump django to 5.1.8
  poetry.lock
  pyproject.toml
Due: none

TWE-54 - Make link columns block available on DivisionPage
  tbx/divisions/blocks.py
Due: none

Bump django to 5.2.0
  poetry.lock
  pyproject.toml
Due: none

Update code syntax for Django 5.2
  tbx/core/utils/models.py
Due: none

Add small heading variant to feature services cards
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

Update torchbox public logo height
  tbx/static_src/sass/components/_logo.scss
Due: lint:css, lint:format

Lazy load footer CTA avatar
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
Due: none

Lazy load contact CTA
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
Due: none

Fix desktop submenu layout
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

Add BlogPage.related_posts
  tbx/blog/migrations/0029_relatedblogpage.py
  tbx/blog/models.py
  tbx/blog/tests/test_models.py
Due: none

Update torchbox public logo svg
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/static_src/sass/components/_logo.scss
Due: lint:css, lint:format

Update featured services heading size
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

General frontend tweaks (lazy load CTA images and styling updates) (#389)
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/static_src/sass/components/_featured-services.scss
  tbx/static_src/sass/components/_logo.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
Due: lint:css, lint:format

TWE-58 Remove tags from BlogPage and BlogIndexPage
  tbx/blog/models.py
  tbx/blog/tests/test_models.py
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/taxonomy/tests/test_models.py
Due: lint:format

Fix broken pages in pattern library
  tbx/project_styleguide/templatetags/navigation_tags.py
Due: none

TWE-62: Add PromoBlock to ServiceAreaPage (with link optional)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/services/blocks.py
  tbx/services/tests/__init__.py
  tbx/services/tests/test_blocks.py
Due: none

TWE-63: Switch PromoBlock.description to RichTextBlock
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/promo_block.yaml
Due: lint:format

Updates to runbook
  docs/support-runbook.md
Due: lint:format

Add partners_block to ServiceAreaStoryBlock
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_area_story_container.yaml
  tbx/services/blocks.py
Due: lint:format

Add ServiceAreaFeaturedServicesBlock
  tbx/core/blocks.py
  tbx/services/blocks.py
Due: none

Make card images optional for featured services
  tbx/core/blocks.py
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
Due: none

Refactor card grid to flex to enable card wrap
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

Fix linting
  tbx/core/blocks.py
  tbx/services/blocks.py
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

Replace template tag with better card image validation
  tbx/core/blocks.py
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
Due: none

Refactor sccs selector to use variable interpolation
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

Upgrade wagtail to 7.0 and django to 5.2.1
  poetry.lock
  pyproject.toml
Due: none

Upgrade development dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lint:format

Remove temporary preview flicker fix
  tbx/project_styleguide/templates/patterns/base.html
Due: none

Update upgrading doc
  docs/upgrading.md
Due: lint:format

Add a CHANGELOG
  CHANGELOG.md
Due: lint:format

Bump Django to 5.2.2
  poetry.lock
Due: none

Update changelog
  CHANGELOG.md
Due: lint:format

Bump requests (2.32.4) dependency
  poetry.lock
Due: none

Allow 404 pages to be cached
  cloudflare/workers.js
  tbx/core/tests/test_views.py
  tbx/core/utils/views.py
  tbx/settings/base.py
  tbx/settings/test.py
  tbx/urls.py
Due: lint:js, lint:format

Serve simple error pages if HTML isn't required
  tbx/core/tests/test_views.py
  tbx/core/utils/views.py
  tbx/urls.py
Due: none

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
