Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 7.0.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml

Add documentation about divisions
  docs/custom-features/divisions.md
  mkdocs.yml
Due: lint:format

Update comment on FourPhotoCollageBlock
  tbx/core/blocks.py
Due: none

Add PARAGRAPH_RICH_TEXT_FEATURES
  tbx/settings/base.py
Due: none

Update stats block heading to variable
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/numeric_stats_group_block.html
Due: none

Add optional description field to CTA block
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.yaml
Due: lint:format

Add intro to BlogChooserBlock
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
Due: lint:format

Add intro to WorkChooserBlock
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
Due: lint:format

Comment out intro from pattern library for now
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
Due: lint:format

Remove gettext from tbx/core/blocks.py
  tbx/core/blocks.py
Due: none

Rename small_caption to description
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.yaml
Due: lint:format

Remove empty line
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.html
Due: none

Remove stream_block_division.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_division.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_division.yaml
  tbx/project_styleguide/templates/patterns/pages/divisions/division_page.yaml
Due: lint:format

Add other blocks to the Division page story container
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/division_story_container.yaml
Due: lint:format

Add division to ServiceAreaPage promote tab
  tbx/services/models.py
Due: none

Draft featured services FE
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_featured-services.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add tests for the DivisionMixin
  tbx/core/tests/test_division_mixin.py
Due: none

Featured services block FE
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

Style for high contrast mode and linting
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.yaml
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

Fix aspect ratio for mobile, alt text, and rich-text styles
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/four_photo_collage_block.yaml
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_photo-collage.scss
Due: lint:css, lint:format

Use setUpTestData instead of setUp
  tbx/core/tests/test_division_mixin.py
Due: none

From get_division method to final_division cached property
  docs/custom-features/divisions.md
  tbx/core/tests/test_division_mixin.py
  tbx/core/utils/models.py
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.html
  tbx/project_styleguide/templates/patterns/pages/service/service_area_page.yaml
Due: lint:format

Filter out Root & Homepage, defer streamfields
  tbx/core/utils/models.py
Due: none

Add a page_description
  tbx/services/models.py
Due: none

Only allow creation of DivisionPage under HomePage
  tbx/core/models.py
  tbx/divisions/models.py
Due: none

Only allow ServiceAreaPages under a DivisionPage
  tbx/services/models.py
Due: none

Bump Python to 3.12
  .github/workflows/flightpath.yml
  .github/workflows/flightpath_status_check.yml
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: lint:format

Bump various package versions
  poetry.lock
  pyproject.toml
Due: none

Bump Wagtail to 6.3
  poetry.lock
  pyproject.toml
  tbx/images/migrations/0002_customimage_description.py
Due: none

Gunicorn is not an extra
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

Bump Django to 5.1.x
  poetry.lock
  pyproject.toml
  tbx/core/tests/test_views.py
  tbx/core/wagtail_hooks.py
  tbx/settings/base.py
Due: none

Increase card padding, add button-link compact variant
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
  tbx/static_src/sass/components/_button-link.scss
  tbx/static_src/sass/components/_featured-services.scss
Due: lint:css, lint:format

Run pypgrade with py312-plus
  fabfile.py
  tbx/blog/feeds.py
  tbx/core/blocks.py
  tbx/core/fields.py
  tbx/core/tests/test_views.py
  tbx/core/utils/cache.py
  tbx/people/models.py
Due: none

Bump Python to 3.13
  .github/workflows/flightpath.yml
  .github/workflows/flightpath_status_check.yml
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: lint:format

Use filetype instead of imghdr
  tbx/blog/feeds.py
Due: none

Use psycopg3
  poetry.lock
  pyproject.toml
Due: none

linting
  tbx/blog/models.py
  tbx/work/models.py
Due: none

Make gunicorn non-optional
  poetry.lock
  pyproject.toml
Due: none

Filter listings by whether the page is public
  tbx/blog/models.py
  tbx/work/models.py
Due: none

Replace deprecated method assertQuerysetEqual
  tbx/blog/tests/test_models.py
  tbx/work/tests/test_models.py
Due: none

Linting
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_services_block.html
Due: none
