Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Update image block and work image to ensure alt text and lazy loading are correct
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Make featured case study image cropped and use srcset_image
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Update docs
  docs/front-end/responsive-images.md
  docs/front-end/sustainability.md
  mkdocs.yml
Due: lint:format

Update PersonIndexPage
  tbx/people/models.py
Due: none

Initial templates & pattern library config for the team listing
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--team.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--team.yaml
  tbx/project_styleguide/templates/patterns/molecules/team-member/team-member.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
Due: lint:format

Cleanup
  tbx/people/models.py
Due: none

Mark strapline as safe
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
Due: none

Revert "Mark strapline as safe"
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
Due: none

Fix footer_logos StreamField, remove max_num limit
  tbx/navigation/migrations/0003_alter_navigationsettings_footer_logos.py
  tbx/navigation/models.py
Due: none

Footer logos should not have links
  tbx/navigation/migrations/0003_alter_navigationsettings_footer_logos.py
  tbx/navigation/models.py
Due: none

Refactor the Contact model & define a ContactMixin
  tbx/people/blocks.py
  tbx/people/forms.py
  tbx/people/models.py
Due: none

Fix circular imports
  tbx/people/models.py
Due: none

Use ContactMixin on all Page models
  docs/page-models.md
  tbx/blog/migrations/0018_add_contact_mixin_to_all_page_models.py
  tbx/blog/models.py
  tbx/core/migrations/0018_add_contact_mixin_to_all_page_models.py
  tbx/core/models.py
  tbx/events/models.py
  tbx/people/migrations/0005_add_contact_mixin_to_all_page_models.py
  tbx/services/migrations/0008_add_contact_mixin_to_all_page_models.py
  tbx/services/models.py
  tbx/work/migrations/0022_add_contact_mixin_to_all_page_models.py
  tbx/work/models.py
Due: lint:format

Update footer templates and pattern library
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.html
  tbx/project_styleguide/templates/patterns/molecules/footer-cta/footer-cta.yaml
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
Due: lint:format

Test the Contact feature
  tbx/people/tests/test_contact.py
Due: none

Update the ContactFactory and associated tests
  tbx/people/factories.py
  tbx/people/tests/test_factories.py
Due: none

Update the docs with some more details on custom features
  docs/custom-features/contact.md
  docs/custom-features/theme.md
  docs/page-models.md
  mkdocs.yml
Due: lint:format

Help text should give guidance rather than examples
  tbx/people/models.py
Due: none

Reduce number of queries in footer_contact
  tbx/people/models.py
Due: none

Recreate migrations after updating Contact Model
  tbx/blog/migrations/0018_add_contact_mixin_to_all_page_models.py
  tbx/core/migrations/0018_add_contact_mixin_to_all_page_models.py
  tbx/people/migrations/0005_add_contact_mixin_to_all_page_models.py
  tbx/services/migrations/0008_add_contact_mixin_to_all_page_models.py
  tbx/work/migrations/0022_add_contact_mixin_to_all_page_models.py
Due: none

Fix bug in logic to determine which contact to use
  tbx/people/models.py
Due: none

Use more meaningful link titles
  docs/page-models.md
Due: lint:format

Recreate migrations after rebasing
  tbx/blog/migrations/0019_add_contact_mixin_to_all_page_models.py
  tbx/events/migrations/0003_add_contact_mixin_to_all_page_models.py
  tbx/people/migrations/0006_add_contact_mixin_to_all_page_models.py
  tbx/services/migrations/0008_add_contact_mixin_to_all_page_models.py
  tbx/work/migrations/0023_add_contact_mixin_to_all_page_models.py
Due: none

Styling for the team listing page
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--team.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--team.yaml
  tbx/project_styleguide/templates/patterns/molecules/team-member/team-member.html
  tbx/project_styleguide/templates/patterns/molecules/team-member/team-member.yaml
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--team.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--team.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/images/map.png
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_tag.scss
  tbx/static_src/sass/components/_team-listing.scss
  tbx/static_src/sass/components/_title-filters.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Refactor footer logos so links are required
  tbx/navigation/blocks.py
  tbx/navigation/migrations/0004_alter_navigationsettings_footer_logos.py
  tbx/navigation/models.py
Due: none

Update footer template and pattern library
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.html
  tbx/project_styleguide/templates/patterns/organisms/footer/footer.yaml
Due: lint:format

Separate out markup for mobile and desktop menus to fix bug with subnav items at desktop
  tbx/navigation/templatetags/navigation_tags.py
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
Due: none

Add pattern library data for the new components
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
Due: lint:format

Create separate styles for the mobile and desktop navigation to make the CSS easier to maintain
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.yaml
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_primary-nav.scss
  tbx/static_src/sass/components/navigation/_secondary-nav.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Update docs
  docs/navigation.md
Due: lint:format

Make related_sectors optional and fix works property on WorkIndexPage
  tbx/blog/migrations/0020_alter_blogpage_related_sectors.py
  tbx/blog/models.py
  tbx/events/migrations/0004_alter_event_related_sectors.py
  tbx/events/models.py
  tbx/work/migrations/0024_alter_historicalworkpage_related_sectors_and_more.py
  tbx/work/models.py
Due: none

Cookie bar styling
  tbx/project_styleguide/templates/patterns/molecules/cookie-message/cookie-message.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/sass/components/_cookie-message.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Limit rich text options available
  tbx/settings/base.py
Due: none

run black
  tbx/settings/base.py
Due: none

We don't need `null=True` on a ParentalManyToManyField
  tbx/blog/migrations/0020_alter_blogpage_related_sectors.py
  tbx/blog/models.py
  tbx/events/migrations/0004_alter_event_related_sectors.py
  tbx/events/models.py
  tbx/work/migrations/0024_alter_historicalworkpage_related_sectors_and_more.py
  tbx/work/models.py
Due: none

Update the aspect ratio of various images and switch them to using srcset (#105)
  docs/front-end/responsive-images.md
  docs/front-end/sustainability.md
  mkdocs.yml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Resolves a bug in the navigation, and refactors to be more maintainable in the future (#109)
  docs/navigation.md
  tbx/navigation/templatetags/navigation_tags.py
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.md
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.html
  tbx/project_styleguide/templates/patterns/organisms/header/header.yaml
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_primary-nav.scss
  tbx/static_src/sass/components/navigation/_secondary-nav.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

simplify the image aspect ratio so it is always square
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/static_src/sass/components/_team-listing.scss
Due: lint:css, lint:format

make map image a webp
  tbx/static_src/images/map.png
  tbx/static_src/images/map.webp
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

Styling for the team listing page (#107)
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--team.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--team.yaml
  tbx/project_styleguide/templates/patterns/molecules/team-member/team-member.html
  tbx/project_styleguide/templates/patterns/molecules/team-member/team-member.yaml
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--team.html
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters--team.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/static_src/images/map.webp
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_tag.scss
  tbx/static_src/sass/components/_team-listing.scss
  tbx/static_src/sass/components/_title-filters.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format
