Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Adds introduction field for blog index
  tbx/blog/migrations/0030_adds_introduction_field.py
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
Due: none

Add new styled page links blocks for blog index
  tbx/blog/migrations/0031_blogindexpage_page_links.py
  tbx/blog/models.py
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/styled_page_link_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/styled_page_link_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/static_src/sass/components/_styled-page-links.scss
Due: lint:css, lint:format

Revert "fix: reduce width of before content in grid layout"
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

fix: reduce width of before content in grid layout
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

refactor: correct relative paths in Sass @use statements
  tbx/static_src/sass/components/_styled-page-links.scss
Due: lint:css, lint:format

chore: fix pattern library style for styled_page_link_block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/styled_page_link_block.yaml
Due: lint:format

Squash blog migrations: combine introduction and page_links fields
  tbx/blog/migrations/0030_adds_introduction_field.py
  tbx/blog/migrations/0030_blogindexpage_introduction_and_page_links.py
Due: none

Add introductiona and styles page links FE
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

fixup! Adds introduction field for blog index
  tbx/blog/migrations/0030_adds_introduction_field.py
Due: none

Use existing color theme rather than creating a new one
  tbx/core/blocks.py
Due: none

Update styled page link block FE: update class names and clean up styles
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/styled_page_link_block.html
  tbx/static_src/sass/components/_styled-page-links.scss
Due: lint:css, lint:format

Add comprehensive Organization JSON-LD test coverage
  tbx/core/tests/test_jsonld.py
Due: none

Remove redundant test_multiple_jsonld_scripts test
  tbx/core/tests/test_jsonld.py
Due: none

Simplify JSON-LD tests with helper methods
  tbx/core/tests/test_jsonld.py
Due: none

chore: fix linting by removing unused code
  tbx/blog/models.py
Due: none

Remove redundant assertions
  tbx/core/tests/test_jsonld.py
Due: none

Test breadcrumb JSON-LD against parsed dict instead of raw HTML
  tbx/core/tests/test_jsonld.py
Due: none

add blogposting schema
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs-jsonld.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog-posting-jsonld.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

Test against actual blog page
  tbx/core/tests/test_jsonld.py
Due: none

add organisation schema to homepage
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

chore: use higher resolution logo for blog publisher org
  tbx/blog/models.py
Due: none

Remove redundant test
  tbx/core/tests/test_jsonld.py
Due: none

Clean up JSON-LD test imports
  tbx/core/tests/test_jsonld.py
Due: none

Use higher resolution logo for Organization schema
  tbx/core/tests/test_jsonld.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Fix blog JSON-LD tests to use direct template rendering
  tbx/blog/tests/test_models.py
Due: none

Use assertCountEqual to test social links list directly
  tbx/core/tests/test_jsonld.py
Due: none

Remove redundant template existence tests
  tbx/core/tests/test_jsonld.py
Due: none

Correct import style
  tbx/blog/tests/test_models.py
Due: none

add breadcrumb schema to base template
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs-jsonld.html
Due: none

fix: include homepage as root for breadcrumb schema on all pages
  tbx/blog/tests/test_models.py
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs-jsonld.html
Due: none

Build BlogPosting JSON-LD as Python dict instead of in template
  tbx/blog/models.py
  tbx/blog/templatetags/__init__.py
  tbx/blog/templatetags/blog_tags.py
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/pages/blog/blog-posting-jsonld.html
Due: none

use BeautifulSoup for JSON-LD parsing
  tbx/blog/tests/test_models.py
  tbx/core/tests/test_jsonld.py
Due: none

Use built-in test client instead of render_to_string in JSON-LD tests
  tbx/core/tests/test_jsonld.py
Due: none

Styling dropdowns
  docs/listing.md
  tbx/core/listing/filters.py
  tbx/core/listing/mixins.py
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-dropdown.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/listing_active_filters_inner.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--events.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--taxonomy.html
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/javascript/listing.js
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:js, lint:css, lint:format

Adding tests and documentation
  docs/navigation.md
  docs/upgrading.md
  mkdocs.yml
  tbx/core/listing/tests/test_filters.py
  tbx/core/listing/tests/test_listing_pages.py
Due: lint:format

Add filter dropdown transiition
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:js, lint:css, lint:format

Ensure paginated users are anchored to top after htmlx click
  tbx/project_styleguide/templates/patterns/molecules/pagination/pagination.html
  tbx/static_src/javascript/listing.js
  tbx/static_src/sass/components/_listing-filters.scss
Due: lint:js, lint:css, lint:format

Codex Code review
  docs/listing.md
  tbx/blog/models.py
  tbx/core/listing/__init__.py
  tbx/core/listing/events.py
  tbx/core/listing/filters.py
  tbx/core/listing/mixins.py
  tbx/core/listing/tests/test_filters.py
  tbx/core/listing/tests/test_listing_pages.py
  tbx/core/migrations/0045_alter_eventtype_options.py
  tbx/events/models.py
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/includes/filter-dropdown.html
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters--events.html
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/javascript/listing.js
  tbx/work/models.py
Due: lint:js, lint:format

making dropdowns span 100% width
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
