Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.8' # keep in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.5' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

Update listing results with HTMX when a filter changes
  tbx/core/listing/tests/test_blog_listing.py
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.html
Due: none

Improve dropdown keyboard UX and accessibility
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.html
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/javascript/components/listing-filters.test.js
Due: lint:js, lint:format

Fix lint issue
  tbx/static_src/javascript/components/listing-filters.test.js
Due: lint:js, lint:format

Improve the announcment message when results are loaded
  tbx/core/listing/tests/test_blog_listing.py
  tbx/core/listing/tests/test_events_listing.py
  tbx/core/listing/tests/test_work_listing.py
  tbx/project_styleguide/templates/patterns/molecules/listing-filters/listing-filters.html
  tbx/static_src/javascript/components/listing-filters.js
  tbx/static_src/javascript/components/listing-filters.test.js
Due: lint:js, lint:format

Make minor adjustments to main nav design
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-taxonomy-index.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/primary-nav-dropdown-teaser-grid.html
  tbx/static_src/sass/components/_mode-switcher.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Restore nav link underlines in forced colors mode
  tbx/static_src/sass/components/navigation/_primary-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_primary-nav-dropdown.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

TWE-730: Security update: Django 5.2.17 -> 5.2.18
  CHANGELOG.md
  poetry.lock
Due: lint:format

TWE-730: Trivy remediation: anyio 4.13.0->4.14.2, djangorestframework 3.16.1->3.18.1, pillow-heif 1.1.0->1.8.0, pip 26.1.2->26.2.1, sqlparse 0.5.5->0.6.0, wagtail 7.4.2->7.4.3
  CHANGELOG.md
  poetry.lock
Due: lint:format

TWE-730: Trivy remediation: raise urllib3 security floor ~2.7 -> ~2.8 (2.8.0)
  poetry.lock
  pyproject.toml
Due: none

Add 2025 impact report to carbon.txt and update to version 0.5
  public/carbon.txt
Due: none

Install the image optimisation libraries in the base image
  Dockerfile
Due: none

Extend homepage schema.org details
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Add search app
  tbx/search/__init__.py
  tbx/search/forms.py
  tbx/search/tests.py
  tbx/search/views.py
  tbx/settings/base.py
  tbx/urls.py
Due: none

Fix typos / spellings in README
  README.md
Due: lint:format

Add basic search page / results templates and styling
  tbx/project_styleguide/templates/patterns/molecules/search-result/search-result.html
  tbx/project_styleguide/templates/patterns/molecules/search-result/search-result.yml
  tbx/project_styleguide/templates/patterns/pages/search/search.html
  tbx/project_styleguide/templates/patterns/pages/search/search.yml
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_search-header.scss
  tbx/static_src/sass/components/_search-results.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Always mark search results as noindex
  tbx/project_styleguide/templates/patterns/pages/search/search.html
Due: none

Use the default per page setting in most paginators
  tbx/blog/models.py
  tbx/events/models.py
  tbx/static_src/sass/components/_search-header.scss
  tbx/work/models.py
Due: lint:css, lint:format
