Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

build(python-deps): update Faker 37.6.0 to 38.2.0
  poetry.lock
  pyproject.toml
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: lint:format

chore: fix typo on date for wagtail 7.1 upgrade
  CHANGELOG.md
Due: lint:format

chore: harmonize dates -- use iso format
  CHANGELOG.md
Due: lint:format

chore: update to reflect wagtail 7.2 upgrade
  docs/upgrading.md
Due: lint:format

Correct import style
  tbx/blog/tests/test_models.py
Due: none

use BeautifulSoup for JSON-LD parsing
  tbx/blog/tests/test_models.py
  tbx/core/tests/test_jsonld.py
Due: none

Use built-in test client instead of render_to_string in JSON-LD tests
  tbx/core/tests/test_jsonld.py
Due: none

Use assertCountEqual to test social links list directly
  tbx/core/tests/test_jsonld.py
Due: none

Remove redundant test
  tbx/core/tests/test_jsonld.py
Due: none

Remove redundant assertions
  tbx/core/tests/test_jsonld.py
Due: none

Test breadcrumb JSON-LD against parsed dict instead of raw HTML
  tbx/core/tests/test_jsonld.py
Due: none

Test against actual blog page
  tbx/core/tests/test_jsonld.py
Due: none

Remove redundant template existence tests
  tbx/core/tests/test_jsonld.py
Due: none

Remove redundant test_multiple_jsonld_scripts test
  tbx/core/tests/test_jsonld.py
Due: none

Build BlogPosting JSON-LD as Python dict instead of in template
  tbx/blog/models.py
  tbx/blog/templatetags/__init__.py
  tbx/blog/templatetags/blog_tags.py
  tbx/core/templatetags/util_tags.py
  tbx/project_styleguide/templates/patterns/pages/blog/blog-posting-jsonld.html
Due: none

updates carbon.txt to version 04
  public/carbon.txt
Due: none

Add support for screenshot images
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_image.scss
Due: lint:css, lint:format

Various fixes from code review
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/static_src/sass/components/_image.scss
Due: lint:css, lint:format

Add Policy to security.txt
  tbx/core/templates/security.txt
  tbx/core/views.py
Due: none

Avoid model call before model is created in the database
  tbx/core/views.py
Due: none

Fix typo
  tbx/core/views.py
Due: none

Properly catch unavailable security policy page
  tbx/core/views.py
Due: none

Nit: use Page.get_full_url(request)
  tbx/core/views.py
Due: none

Add alt text fields for the impact report hero image
  tbx/impact_reports/migrations/0007_add_alt_text_to_impact_report_hero_image.py
  tbx/impact_reports/models.py
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
Due: lint:format

Add alt text fields to instagram gallery block images
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.html
Due: none

Remove the 'is decorative' option for instagram images, as alt text is necessary to provide text for the link
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.html
Due: none

More reliably close the menu when focus moves away from the last item
  tbx/static_src/javascript/components/desktop-sub-menu.js
Due: lint:js, lint:format

Remove unused data attribute
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-child-menu.html
Due: none

Simplify alt text logic
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
Due: none

Fix layout shifts
  tbx/static_src/sass/components/_footer.scss
  tbx/static_src/sass/components/_pagination.scss
Due: lint:css, lint:format

Security upgrade: Wagtail 7.2.3, Django 5.2.12
  poetry.lock
Due: none

Update changelog
  CHANGELOG.md
Due: lint:format

Ensure links are styled correctly in the key points block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
  tbx/static_src/sass/components/_keypoints.scss
Due: lint:css, lint:format

Changelog: update for security release
  CHANGELOG.md
Due: lint:format

TWE-684 - wagtail upgrade (#420)
  CHANGELOG.md
  poetry.lock
Due: lint:format

Address colour contrast issues for cta and contact cta
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/components/_contact-cta.scss
Due: lint:css, lint:format

bump Wagtail to 7.3
  poetry.lock
  pyproject.toml
Due: none

bump insecure packages flagged by trivy
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: lint:format

update changelog
  CHANGELOG.md
Due: lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
