Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

build(node-deps): bump lite-youtube-embed 0.3.2 -> 0.3.4
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump prettier 2.8.8 -> 3.7.4
  docs/infrastructure.md
  package-lock.json
  package.json
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_link.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

build(node-deps): bump webpack-cli 5.1.4 -> 6.0.1 & webpack-dev-server 4.15.2 -> 5.2.2
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump postcss-custom-properties 13.3.7 ❯ 14.0.6
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump cssnano 6.1.2 ❯ 7.1.2
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump css-loader 6.11.0 -> 7.1.2 postcss-loader 7.3.4 -> 8.2.0 sass-loader 8.0.2 -> 16.0.6
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump ts-loader 8.4.0 ❯ 9.5.4, url-loader 3.0.0 ❯ 4.1.1
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump typescript 4.9.5 ❯ 5.9.3
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump jest and friends from 29.x to 30.x
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump copy-webpack-plugin 11.0.0 ❯ 13.0.1
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump stylelint from 13 to 16, also bump config and webpack plugin
  package-lock.json
  package.json
Due: lint:format

build: remove clean-webpack-plugin - no longer required in Webpack 5+
  package-lock.json
  package.json
Due: lint:format

build: update webpack config to bring in line with API changes
  webpack.config.js
Due: lint:js, lint:format

chore: stylelint
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

chore: fix sass deprecation warnings
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

build(node-deps): bump sass to 1.95.0
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump eslint-webpack-plugin to 5.0.2
  package-lock.json
  package.json
Due: lint:format

chore: npm audit fix
  package-lock.json
Due: lint:format

build(node-deps): bump swiper 11.2.1 -> 12.0.3
  package-lock.json
  package.json
Due: lint:format

build(python-deps): update beautifulsoup4 (4.13.5 -> 4.14.3)
  poetry.lock
Due: none

build(python-deps): update whitenoise (6.9.0 -> 6.11.0)
  poetry.lock
Due: none

build(python-deps): update wagtailmedia (0.17.0 -> 0.17.2)
  poetry.lock
Due: none

build(python-deps): update wagtail-markdown 0.12.1 -> 0.13.0
  poetry.lock
  pyproject.toml
Due: none

build(python-deps): update urllib3 (2.5.0 -> 2.6.1)
  poetry.lock
  pyproject.toml
Due: none

build(python-deps): update sentry-sdk (2.35.1 -> 2.47.0)
  poetry.lock
  pyproject.toml
Due: none

build(python-deps): update scout-apm (3.4.0 -> 3.5.0)
  poetry.lock
  pyproject.toml
Due: none

build(python-deps): update psycopg 3.2.9 -> 3.3.2
  poetry.lock
  pyproject.toml
Due: none

build(python-deps): update phonenumbers (9.0.12 -> 9.0.20)
  poetry.lock
Due: none

build(python-deps): update django-permissions-policy (4.26.0 -> 4.28.0)
  poetry.lock
Due: none

build(python-deps): update django-phonenumber-field (8.1.0 -> 8.4.0)
  poetry.lock
Due: none

build(python-deps): update django-redis (5.4.0 -> 6.0.0), redis (6.4.0 -> 7.1.0)
  poetry.lock
  pyproject.toml
Due: none

build(python-deps): update botocore (1.40.18 -> 1.42.5), s3transfer (0.13.1 -> 0.16.0), boto3 (1.40.18 -> 1.42.5)
  poetry.lock
  pyproject.toml
Due: none

build(python-deps): update Werkzeug 3.1.3 to 3.1.4
  poetry.lock
Due: none

build(python-deps): update pre-commit 4.3.0 to 4.5.0
  poetry.lock
  pyproject.toml
Due: none

build(python-deps): update pudb 2025.1 to 2025.1.5
  poetry.lock
Due: none

build(python-deps): update mkdocs-material 9.6.18 to 9.7.0
  poetry.lock
Due: none

build(python-deps): update pymdown-extensions 10.16.1 to 10.18
  poetry.lock
Due: none

build(python-deps): update tblib 3.1.0 to 3.2.2
  poetry.lock
Due: none

build(python-deps): update django-debug-toolbar 5.2.0 to 6.1.0
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
