Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.9.1' # keep in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml

add more upstream services and lint
  carbon.txt
Due: none

add digital emissions web page
  carbon.txt
Due: none

move carbon txt to public dir
  public/carbon.txt
Due: none

add organisation schema to homepage
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

add breadcrumb schema to base template
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs-jsonld.html
Due: none

add blogposting schema
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs-jsonld.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog-posting-jsonld.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
Due: none

Add cookie check for VWO script loading
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/javascript/components/vwo-loader.js
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

add missing comma to carbon txt
  public/carbon.txt
Due: none

Adds introduction field for blog index
  tbx/blog/migrations/0030_adds_introduction_field.py
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
Due: none

Add new styled page links blocks for blog index
  tbx/blog/migrations/0031_blogindexpage_page_links.py
  tbx/blog/models.py
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/styled_page_link_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/styled_page_link_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/static_src/sass/components/_four-photo-collage.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_styled-page-links.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Simplify VWO Cookie handling
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/javascript/components/cookie-message.js
  tbx/static_src/javascript/components/vwo-loader.js
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

lint fix
  tbx/static_src/javascript/components/cookie-message.js
Due: lint:js, lint:format

linting
  tbx/static_src/javascript/components/cookie-message.js
Due: lint:js, lint:format

Fix template tag
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

rename cookie to get around templating issues.
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/static_src/javascript/components/cookie-message.js
Due: lint:js, lint:format

Update tbx/static_src/javascript/components/cookie-message.js
  tbx/static_src/javascript/components/cookie-message.js
Due: lint:js, lint:format

fixup! Adds introduction field for blog index
  tbx/blog/migrations/0030_adds_introduction_field.py
Due: none

Use existing color theme rather than creating a new one
  tbx/core/blocks.py
Due: none

Fix blog JSON-LD tests to use direct template rendering
  tbx/blog/tests/test_models.py
Due: none

Add comprehensive Organization JSON-LD test coverage
  tbx/core/tests/test_jsonld.py
Due: none

Use higher resolution logo for Organization schema
  tbx/core/tests/test_jsonld.py
  tbx/project_styleguide/templates/patterns/pages/home/home_page.html
Due: none

Clean up JSON-LD test imports
  tbx/core/tests/test_jsonld.py
Due: none

Simplify JSON-LD tests with helper methods
  tbx/core/tests/test_jsonld.py
Due: none

Squash blog migrations: combine introduction and page_links fields
  tbx/blog/migrations/0030_adds_introduction_field.py
  tbx/blog/migrations/0030_blogindexpage_introduction_and_page_links.py
Due: none

Update styled page link block FE: update class names and clean up styles
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/styled_page_link_block.html
  tbx/static_src/sass/components/_styled-page-links.scss
Due: lint:css, lint:format

Add introductiona and styles page links FE
  tbx/project_styleguide/templates/patterns/molecules/title-filters/title-filters.html
  tbx/static_src/sass/components/_title-filters.scss
Due: lint:css, lint:format

chore: ensure 'as' and 'FROM' keywords' casing matches
  Dockerfile
Due: none

feat: upgrade wagtail from 7.1 to 7.2
  poetry.lock
  pyproject.toml
Due: none

build(deps): bump djhtml 3.0.8 -> 3.0.10
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lint:format

build(deps): bump ruff v0.11.13 -> v0.14.8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lint:format

build(deps): add django-upgrade and pyupgrade
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lint:format

build: update Node.js 20 -> 22
  .nvmrc
  Dockerfile
Due: none

build: update Node.js 20 -> 22 and nvm 0.39.5 -> 0.40.3
  .nvmrc
  Dockerfile
Due: none

build: update Node.js 22 -> 24
  .nvmrc
  Dockerfile
  package-lock.json
Due: lint:format

build(node-deps): bump autoprefixer 10.4.19 -> 10.4.22
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump webpack 5.91.0 -> 5.103.0
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump mini-css-extract-plugin 2.8.1 -> 2.9.4
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump ts-jest 29.1.2 -> 29.4.6
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump postcss 8.4.38 -> 8.5.6
  package-lock.json
  package.json
Due: lint:format

build(node-deps): bump sass 1.75.0 -> 1.94.2
  package-lock.json
  package.json
Due: lint:format
