Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Add to pattern library
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Update service page in the pattern library
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
Due: lint:format

Refactor PrimaryNavLinkBlock to have more options for displaying children
  tbx/navigation/blocks.py
  tbx/navigation/migrations/0005_navigationsettings_primary_navigation_child_display_behaviour.py
Due: none

Update primarynav templates to use value.child_display_behaviour
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
Due: lint:format

Make it easy to disable caching during development
  tbx/settings/local.py.example
Due: none

Recreate migration
  tbx/navigation/migrations/0005_navigationsettings_primary_navigation_child_display_behaviour.py
Due: none

Only allow distinct blog posts
  tbx/blog/models.py
Due: none

Fix failing test
  tbx/navigation/tests/test_link_block.py
Due: none

remove some unused templates that reference the homepage_image field
  tbx/project_styleguide/templates/patterns/molecules/related-item/related-item.html
  tbx/project_styleguide/templates/patterns/molecules/related-item/related-item.yaml
  tbx/project_styleguide/templates/patterns/organisms/related-content/related-content.html
  tbx/project_styleguide/templates/patterns/organisms/related-content/related-content.yaml
Due: lint:format

Remove unneeded fields on historical work page (#144)
  tbx/project_styleguide/templates/patterns/molecules/related-item/related-item.html
  tbx/project_styleguide/templates/patterns/molecules/related-item/related-item.yaml
  tbx/project_styleguide/templates/patterns/organisms/related-content/related-content.html
  tbx/project_styleguide/templates/patterns/organisms/related-content/related-content.yaml
  tbx/work/migrations/0028_remove_homepage_image_and_screenshot_fields.py
  tbx/work/models.py
Due: lint:format

Values block - BE and FE (#147)
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/values_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/values_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
  tbx/services/blocks.py
  tbx/services/migrations/0017_add_values_block.py
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_values.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Fixes an issue on the home page where it was using a default streamfield template instead of our custom one, and therefore messed up the layout
  tbx/core/blocks.py
Due: none

Update hover style for button in promo block
  tbx/static_src/sass/components/_promo.scss
Due: lint:css, lint:format

Fixes an issue on the home page where it was using a default streamfield template instead of our custom one, and therefore messed up the layout (#151)
  tbx/core/blocks.py
Due: none

So that we don't get 404s when a PersonPage is unpublished
  tbx/project_styleguide/templates/patterns/molecules/author/author.html
Due: none

Add unit tests for the Author model
  tbx/people/tests/test_author.py
Due: none

Navigation design review feedback
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_pagination.scss
  tbx/static_src/sass/components/_team-listing.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Change font weight
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

Update hover style for button in promo block (#152)
  tbx/static_src/sass/components/_promo.scss
Due: lint:css, lint:format

Update the help_text to include the show_in_menus requirement
  tbx/navigation/blocks.py
  tbx/navigation/migrations/0005_navigationsettings_primary_navigation_child_display_behaviour.py
Due: none

Fix bug in child_display condition
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
Due: none

Update PhotoCollageBlock link configuration
  tbx/core/blocks.py
  tbx/core/migrations/0029_update_button_link_on_photocollageblock.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.html
  tbx/services/migrations/0017_update_button_link_on_photocollageblock.py
Due: none

Update pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/photo_collage_block.yaml
Due: lint:format

Recreate migration after rebasing onto the integration branch
  tbx/services/migrations/0018_update_button_link_on_photocollageblock.py
Due: none

Define homepage below the treebeard root page
  tbx/people/tests/test_author.py
Due: none

Add factories for Author, PersonPage & PersonIndexPage
  tbx/people/factories.py
  tbx/people/tests/test_factories.py
Due: none

Update tests to use the factories created in 47578b4
  tbx/people/tests/test_author.py
Due: none

Update docstring to improve readability
  tbx/people/factories.py
Due: none

Navigation design review feedback (#154)
  tbx/static_src/sass/components/_button.scss
  tbx/static_src/sass/components/_pagination.scss
  tbx/static_src/sass/components/_team-listing.scss
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Remove some extra renditions that are no longer needed from the avatar template
  tbx/project_styleguide/templates/patterns/atoms/avatar/avatar.html
Due: none

Update navigation docs
  docs/navigation.md
Due: lint:format

Add comments explaining comments, remove stray css file, test level1 children option at mobile in the pattern library
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/static_src/sass/components/navigation/_showcase.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
Due: lint:css, lint:format

navigation new layout
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mini.html
  tbx/project_styleguide/templates/patterns/navigation/components/includes/subnav-menu-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav-mobile.yaml
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.yaml
  tbx/project_styleguide/templatetags/navigation_tags.py
  tbx/static_src/sass/components/navigation/_primary-nav-mobile.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop-mini.scss
  tbx/static_src/sass/components/navigation/_sub-nav-desktop.scss
  tbx/static_src/sass/components/navigation/_sub-nav-mobile.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

djhtml change
  tbx/project_styleguide/templates/patterns/navigation/components/primary-nav.html
Due: none

Add libmagickwand-dev
  Dockerfile
Due: none

Treat GIF images differently when creating renditions
  tbx/images/models.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
Due: none

Revert "Add libmagickwand-dev"
  Dockerfile
Due: none

Remove functionality to close mobile menu when clicking outside it as it was causing a bug, and there is little space to click on the mobile version when the menu is open anyway
  tbx/static_src/javascript/components/mobile-menu.js
Due: lint:js, lint:format

Amend work page markup so we can use heading level 2s on the page
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_section_block.html
Due: none

Modify breadcrumb by hardcoding homepage title and not displaying current page
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs.html
Due: none
