Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.9.1' # keep in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.6
    hooks:
      - id: djhtml

Revert django-csp to v3.8
  docs/upgrading.md
  poetry.lock
  pyproject.toml
Due: lint:format

Update dependencies to fix avif support
  poetry.lock
Due: none

Add micromodal package
  package-lock.json
  package.json
Due: lint:format

Add model component
  tbx/static_src/javascript/components/modal.js
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

Add pipedrive link block to cta
  tbx/core/blocks.py
Due: none

Add template and styling
  tbx/project_styleguide/templates/patterns/atoms/icon_buttons/icon_button--close.html
  tbx/project_styleguide/templates/patterns/atoms/icon_buttons/icon_button.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/static_src/sass/components/_modal.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add vwo script to base page for analytics use
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Add pipedrive_link type to CTAs and support for the modal it uses.
  package-lock.json
  package.json
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/atoms/icon_buttons/icon_button--close.html
  tbx/project_styleguide/templates/patterns/atoms/icon_buttons/icon_button.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/static_src/javascript/components/modal.js
  tbx/static_src/javascript/main.js
  tbx/static_src/sass/components/_modal.scss
  tbx/static_src/sass/config/_variables.scss
  tbx/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

lint changes
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Lint changes
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/static_src/javascript/components/modal.js
  tbx/static_src/sass/components/_modal.scss
Due: lint:js, lint:css, lint:format

[WIP] Sticky CTA block, currently fixing styling
  package-lock.json
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
  tbx/static_src/sass/components/_call-to-action.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

[WIP] Still playing with styling
  tbx/static_src/sass/components/_call-to-action.scss
Due: lint:css, lint:format

add yaml for pattern library
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.yaml
Due: lint:format

[WIP] continuing
  tbx/static_src/sass/components/_call-to-action.scss
Due: lint:css, lint:format

Exclue the tracking code in the preview panel.
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

lint fix
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Refactor to generalise usage.
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.yaml
  tbx/static_src/sass/components/_call-to-action.scss
Due: lint:css, lint:format

lint fixes
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.yaml
Due: lint:format

more lint fixes
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.yaml
Due: lint:format

white space problems
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.yaml
Due: lint:format

Finish styling work
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
  tbx/static_src/sass/components/_call-to-action.scss
Due: lint:css, lint:format

White space error (again)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
Due: none

lint fix
  tbx/static_src/sass/components/_call-to-action.scss
Due: lint:css, lint:format

Remove modal div when not necessary
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
Due: none

Hide modal when not in use
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
Due: none

Move sticky CTA to end of tab order in main
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
  tbx/static_src/javascript/main.js
Due: lint:js, lint:format

Restore focus trap in iframe modals
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
  tbx/static_src/javascript/components/modal.js
  tbx/static_src/sass/components/_modal.scss
Due: lint:js, lint:css, lint:format

Remove iframe_modal option for non-sticky CTAs
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/contact_call_to_action.html
Due: none

TWE-665: Restore tags on BlogPage and BlogIndexPage
  tbx/blog/models.py
  tbx/blog/tests/test_models.py
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/taxonomy/tests/test_models.py
Due: lint:format

Refactor modal: close icon, sr-only heading, transitions instead of animations. Clean code
  tbx/project_styleguide/templates/patterns/atoms/icon_buttons/icon_button--close.html
  tbx/project_styleguide/templates/patterns/atoms/icon_buttons/icon_button.html
  tbx/project_styleguide/templates/patterns/atoms/sprites/sprites.html
  tbx/project_styleguide/templates/patterns/molecules/iframe_modal/iframe_modal.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/sticky_call_to_action.yaml
  tbx/static_src/javascript/components/modal.js
  tbx/static_src/sass/components/_modal.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:js, lint:css, lint:format

upgrade wagtail to 7.1
  poetry.lock
  pyproject.toml
Due: none

update upgrade consideration packages
  docs/upgrading.md
  poetry.lock
  pyproject.toml
Due: lint:format

update changelog
  CHANGELOG.md
Due: lint:format

Bump wagtail to 7.1.1
  poetry.lock
Due: none

TWE-669: Make key point heading optional
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
Due: none

Move keypoint padding from bottom of heading to top of description
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.yaml
  tbx/static_src/sass/components/_keypoints.scss
Due: lint:css, lint:format

Restore tags on blog listing page too
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.html
Due: none

TWE-669: Make key point heading optional (#405)
  tbx/core/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/icon_keypoints_block.yaml
  tbx/static_src/sass/components/_keypoints.scss
Due: lint:css, lint:format

Pin python version as requested by support team
  Dockerfile
Due: none

add carbon.txt file
  carbon.txt
Due: none
