Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update work yaml files
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_index_page.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format

Include taxonomy doc-strings
  tbx/taxonomy/models.py
Due: none

Initialise TestFactories for the taxonomy models
  tbx/blog/factories.py
  tbx/taxonomy/factories.py
  tbx/taxonomy/tests/test_factories.py
Due: none

Test BlogIndexPage taxonomy context variables
  tbx/blog/tests/test_models.py
Due: none

Chain querysets instead of join with union
  tbx/work/models.py
Due: none

Instantiate tests
  tbx/blog/factories.py
  tbx/blog/tests/test_models.py
  tbx/taxonomy/tests/test_models.py
Due: none

Include event migrations
  tbx/events/migrations/0002_remove_eventindexpage_call_to_action_and_more.py
Due: none

Alter TitleFieldPanel name
  tbx/taxonomy/models.py
Due: none

Test BlogPage with sector taxonomy
  tbx/blog/tests/test_models.py
Due: none

Group taxonomies under MultiFieldPanel in editor
  tbx/events/models.py
  tbx/work/models.py
Due: none

Fix tests
  tbx/work/models.py
Due: none

Fix failing test
  tbx/taxonomy/tests/test_models.py
Due: none

Improve test name
  tbx/taxonomy/tests/test_models.py
Due: none

Improve tests
  tbx/blog/factories.py
  tbx/blog/tests/test_models.py
Due: none

Combine QuerySets using itertools.chain
  tbx/blog/models.py
  tbx/work/models.py
Due: none

Remove unnecessary context variables
  tbx/work/models.py
Due: none

Chain querysets not join with union
  tbx/blog/models.py
  tbx/events/models.py
Due: none

Trial chain
  tbx/blog/models.py
  tbx/work/models.py
Due: none

Include yaml changes
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/molecules/team-member/team-member.html
  tbx/project_styleguide/templates/patterns/molecules/team-member/team-member.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
Due: lint:format

Address code review comments
  tbx/people/migrations/0005_remove_personpage_is_senior_personpage_related_teams.py
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.yaml
Due: lint:format

Initialise PersonPage and PersonIndexPage with Team taxonomy filtering
  tbx/people/migrations/0005_remove_personpage_is_senior_personpage_related_teams.py
  tbx/people/models.py
  tbx/project_styleguide/templates/patterns/molecules/team-member/team-member.html
  tbx/project_styleguide/templates/patterns/pages/team/team_listing.html
Due: none

Fix retrieval of author_posts cached property
  tbx/people/models.py
Due: none

Enforce required fields
  tbx/people/migrations/0005_remove_personpage_is_senior_personpage_related_teams.py
  tbx/people/models.py
Due: none

Enforce required fields
  tbx/people/migrations/0005_remove_personpage_is_senior_personpage_related_teams_and_more.py
Due: none

Alter context output for related author_posts
  tbx/people/models.py
Due: none

Update the docs with some more details on custom features
  docs/custom-features/contact.md
  docs/custom-features/theme.md
  docs/page-models.md
  mkdocs.yml
Due: lint:format

Person page FE
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--simple.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--simple.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templatetags/wagtailimages_tags.py
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing-image.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/_team-page-meta.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add simple listing component to the styleguide
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
Due: none

serve a responsive image in the pattern library
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
Due: lint:format

Help text should give guidance rather than examples
  tbx/people/models.py
Due: none

Recreate migrations after updating Contact Model
  tbx/blog/migrations/0018_add_contact_mixin_to_all_page_models.py
  tbx/core/migrations/0018_add_contact_mixin_to_all_page_models.py
  tbx/people/migrations/0005_add_contact_mixin_to_all_page_models.py
  tbx/services/migrations/0008_add_contact_mixin_to_all_page_models.py
  tbx/work/migrations/0022_add_contact_mixin_to_all_page_models.py
Due: none

Fix bug in logic to determine which contact to use
  tbx/people/models.py
Due: none

Reduce number of queries in footer_contact
  tbx/people/models.py
Due: none

Performance assessment
  notes.md
  tbx/people/models.py
  tbx/people/tests/test_contact.py
Due: lint:format

Add tabulate package for testing
  poetry.lock
  pyproject.toml
Due: none

Remove superfluous div
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--simple.html
Due: none

Person page FE (#104)
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--simple.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--simple.yaml
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.html
  tbx/project_styleguide/templates/patterns/pages/team/team_detail.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templatetags/wagtailimages_tags.py
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing-image.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/_team-page-meta.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

convert work page to srcset image and use crop to get better aspect ratio by default
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.yaml
Due: lint:format

Update the image block to crop the image and use srcet_image
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/story_container.yaml
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/work_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
