Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: .+/migrations
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts, tsx]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [markdown, css, scss, javascript, ts, tsx, json, yaml, vue]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v0.14.3
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/rtts/djhtml
    rev: v1.4.11
    hooks:
      - id: djhtml

Install coverage
  poetry.lock
  pyproject.toml
Due: none

Add djcov alias for test coverage
  docker/bashrc.sh
Due: none

Update README with Test instructions
  README.md
Due: lint:format

poetry lock --no-update
  poetry.lock
Due: none

update dockerfile to ensure tailwind classes are generated
  Dockerfile
Due: none

Reinstate ExternalStoryEmbedBlock which early migrations depend on
  tbx/core/blocks.py
Due: none

Remove StreamFields and associated fields
  tbx/blog/models.py
  tbx/core/blocks.py
  tbx/core/models.py
  tbx/events/models.py
  tbx/people/models.py
  tbx/work/models.py
Due: none

Include migrations for deleted StreamFields
  tbx/blog/migrations/0002_remove_blogindexpage_call_to_action_and_more.py
  tbx/blog/migrations/0003_alter_blogpage_body.py
  tbx/core/migrations/0003_remove_standardpage_additional_content_and_more.py
  tbx/core/migrations/0004_alter_standardpage_body.py
  tbx/people/migrations/0003_remove_personindexpage_call_to_action_and_more.py
  tbx/work/migrations/0002_remove_workindexpage_call_to_action_and_more.py
  tbx/work/migrations/0003_alter_workpage_body.py
Due: none

Delete Advert and Particle snippets
  tbx/core/migrations/0005_remove_advert_page_remove_advertplacement_advert_and_more.py
  tbx/core/models.py
  tbx/core/templatetags/torchbox_tags.py
Due: none

Remove quote-slider and quote-slide templates
  tbx/project_styleguide/templates/patterns/atoms/quote-slide/quote-slide.html
  tbx/project_styleguide/templates/patterns/atoms/quote-slide/quote-slide.yaml
  tbx/project_styleguide/templates/patterns/molecules/quote-slider/quote-slider.html
  tbx/project_styleguide/templates/patterns/molecules/quote-slider/quote-slider.yaml
Due: lint:format

Improve doc-string for ExternalStoryEmbedBlock
  tbx/core/blocks.py
Due: none

Remove superfluous templates
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/bustout_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/bustout_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/client-logo-block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/client-logo-block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/cta.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/cta.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_plus_cta_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/embed_plus_cta_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/key_points_summary.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/key_points_summary.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/testimonials.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/testimonials.yaml
Due: lint:format

Streamline migrations
  tbx/blog/migrations/0002_remove_blogindexpage_call_to_action_and_more.py
  tbx/blog/migrations/0003_alter_blogpage_body.py
  tbx/work/migrations/0002_remove_workindexpage_call_to_action_and_more.py
  tbx/work/migrations/0003_alter_workpage_body.py
Due: none

Add body StreamField to search index
  tbx/core/models.py
Due: none

Add factories and tests
  tbx/core/factories.py
  tbx/core/tests/__init__.py
  tbx/core/tests/test_models.py
  tbx/core/tests/test_views.py
Due: none

Add UserFactory
  tbx/users/factories.py
  tbx/users/tests/__init__.py
  tbx/users/tests/test_models.py
Due: none

Fix invalid HTTP_HOST header
  tbx/settings/test.py
Due: none

Update ImageBlock with new fields
  tbx/core/blocks.py
Due: none

Update ImageBlock and remove what we don't need
  tbx/core/blocks.py
Due: none

Add template for ImageBlock and remove templates we no longer need
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/aligned_image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/wide_image_block.yaml
Due: lint:format

Add migration which adds a new `image` block to the `StoryBlock` StreamBlock
  tbx/blog/migrations/0003_add_new_image_block_to_body_streamfield.py
  tbx/core/migrations/0006_add_new_image_block_to_body_streamfield.py
  tbx/work/migrations/0003_add_new_image_block_to_body_streamfield.py
Due: none

Migrate aligned & wide image blocks to the new image block
  tbx/blog/migrations/0004_data_migration_aligned_and_wide_images.py
  tbx/core/migrations/0007_data_migration_aligned_and_wide_images.py
  tbx/work/migrations/0004_data_migration_aligned_and_wide_images.py
Due: none

Remove the Aligned & Wide Image blocks from the `StoryBlock` StreamBlock
  tbx/blog/migrations/0005_remove_aligned_and_wide_image_blocks_from_body_streamfield.py
  tbx/core/migrations/0008_remove_aligned_and_wide_image_blocks_from_body_streamfield.py
  tbx/work/migrations/0005_remove_aligned_and_wide_image_blocks_from_body_streamfield.py
Due: none

Improve DX via command extenstion such as `manage.py shell_plus`
  tbx/settings/dev.py
Due: none

Fix CI by running collectstatic
  .github/workflows/test.yml
Due: lint:format

Create cache table in test_python CI job
  .github/workflows/test.yml
Due: lint:format

Fix broken commands
  .github/workflows/test.yml
Due: lint:format

Fix typo in field name
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
Due: none

update data for standard page in PL
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
Due: lint:format

add space under image streamfield
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format

fix pullquote image not showing in PL
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

use more specific var names for the image to avoid clashes in the PL
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

add grid layout to standard page and align headings and paragraph streamfields
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading3_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading4_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/intro_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block.html
  tbx/project_styleguide/templates/patterns/pages/standard/standard_page.html
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

add streamfield image styles
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/image.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

align the breadcrumbs to the grid
  tbx/project_styleguide/templates/patterns/base_page.html
  tbx/project_styleguide/templates/patterns/navigation/components/breadcrumbs.html
  tbx/static_src/sass/components/navigation/_breadcrumbs-nav.scss
Due: lint:css, lint:format

fix image block in pattern lib and add to the components page
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

add rich text styles to paragraph block
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_block.html
Due: none

update mobile rendition size and add yaml for components and standard pages
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/streamfield-example-standard.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

remove the column gap and re-align components
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_streamfield.scss
  tbx/static_src/sass/components/navigation/_breadcrumbs-nav.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

align the quote to the grid
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.html
  tbx/static_src/sass/components/_streamfield.scss
Due: lint:css, lint:format
