Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

remove 'no-scroll' class after closing the nav by clicking outside of the nav element
  tbx/static_src/javascript/components/desktop-close-menus.js
Due: lint:js, lint:format

add missing this.body variable!
  tbx/static_src/javascript/components/desktop-close-menus.js
Due: lint:js, lint:format

Add template placeholders for impact reports
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
Due: none

Copy pattern library config for impact report from current build
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
Due: lint:format

add impact_reports app
  tbx/impact_reports/__init__.py
  tbx/impact_reports/apps.py
  tbx/impact_reports/blocks.py
  tbx/impact_reports/migrations/__init__.py
  tbx/impact_reports/models.py
  tbx/settings/base.py
Due: none

We don't need impact_reports.ImpactReportAuthor because it's covered by torchbox.PageAuthor
  tbx/impact_reports/models.py
Due: none

Remove ParagraphWithQuoteBlock
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_quote_block.yaml
Due: lint:format

Remove TwoColumnTextGridBlock
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/two_column_text_grid_block.yaml
Due: lint:format

Remove ParagraphWithImageBlock
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/paragraph_with_image_block.yaml
Due: lint:format

Remove ThreeColumnImageGridBlock
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/three_column_image_grid_block.yaml
Due: lint:format

Use tbx.core.utils.fields.StreamField on ImpactReportPage
  tbx/impact_reports/migrations/0001_initial.py
  tbx/impact_reports/models.py
Due: none

Add database migration
  tbx/impact_reports/migrations/0001_initial.py
Due: none

make the navigation sticky at desktop
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_report-in-page-nav.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Update impact report main image to match the work page one
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
Due: lint:format

Add template class to homepage
  tbx/project_styleguide/templates/patterns/pages/home/home_page.yaml
Due: lint:format

Set up impact report page with dummy blocks
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_impact_report.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/stream_block_impact_report.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
Due: lint:format

Remove impact report blocks that no longer exist from the impact report pattern library page
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.html
Due: none

isort
  tbx/impact_reports/models.py
Due: none

Update instagram block template path
  tbx/impact_reports/blocks.py
Due: none

Style impact report heading block
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Add instagram gallery markup and styling
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.yaml
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_instagram-gallery.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Rename instagram gallery block for consistency
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram-gallery.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/instagram_gallery_block.yaml
Due: lint:format

further updates to the impact report model to add the common page mixins
  tbx/impact_reports/migrations/0003_update_impact_report_page_mixins.py
  tbx/impact_reports/models.py
Due: none

page heading area and anchor links
  tbx/impact_reports/models.py
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_report-in-page-nav.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Updates to impact report page fields to be in line with design
  tbx/impact_reports/migrations/0002_impact_report_amend_fields.py
  tbx/impact_reports/models.py
Due: none

Update template fields and display the main image
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Don't lazy load the work page image as it is too near the top
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
Due: none

Styling for small image with text
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.html
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_report-section.scss
  tbx/static_src/sass/components/_small-image-with-text.scss
  tbx/static_src/sass/main.scss
Due: lint:css, lint:format

Correct anchor landing position and make nav sticky at mobile
  tbx/static_src/sass/components/_report-in-page-nav.scss
  tbx/static_src/sass/components/_report-section.scss
Due: lint:css, lint:format

accessibility fixes
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/static_src/sass/components/_instagram-gallery.scss
  tbx/static_src/sass/components/_report-in-page-nav.scss
Due: lint:css, lint:format

Make sure everything works in the pattern library and update the styleguide
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/impact_report_story_container.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/small_image_with_text_block.yaml
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.html
  tbx/project_styleguide/templates/patterns/pages/events/events_listing--empty.yaml
  tbx/project_styleguide/templates/patterns/pages/impact_reports/impact_report_page.yaml
  tbx/project_styleguide/templates/patterns/styleguide/components/components.html
  tbx/project_styleguide/templates/patterns/styleguide/components/components.yaml
Due: lint:format

fix class names
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
Due: none

Make the impact report heading image a required field
  tbx/impact_reports/blocks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/impact_report_heading_block.html
Due: none

Update docs
  docs/front-end/impact-report.md
  mkdocs.yml
Due: lint:format

don't animate arrow in nav for prefers reduced motion
  tbx/static_src/sass/components/_report-in-page-nav.scss
Due: lint:css, lint:format

typo fix
  docs/front-end/impact-report.md
Due: lint:format

[4287] Fix scroll remains disabled when closing navigation menu (#205)
  tbx/static_src/javascript/components/desktop-close-menus.js
Due: lint:js, lint:format

linting fix
  tbx/static_src/sass/components/_motif-heading.scss
Due: lint:css, lint:format

a few refinements following code review
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_motif-heading.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

refinements following internal design feedback and review
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/showcase_block.html
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_showcase.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
