Repository torchbox/torchbox.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint:js, lint:css, lint:format

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

amend context for work index page to match new properties
  tbx/work/models.py
Due: none

Add the new listing blocks to the service page in the pattern library
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
Due: lint:format

Convert the services blog and work pages to streamfield blocks, and style them (#81)
  tbx/blog/models.py
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.html
  tbx/project_styleguide/templates/patterns/_pattern_library_only/streamfield/service_story_container.yaml
  tbx/project_styleguide/templates/patterns/atoms/date_and_reading_time/date_and_reading_time.html
  tbx/project_styleguide/templates/patterns/atoms/date_and_reading_time/date_and_reading_time.yaml
  tbx/project_styleguide/templates/patterns/molecules/blog-item/blog-item.yaml
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/blog_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/work_chooser_block.yaml
  tbx/project_styleguide/templates/patterns/pages/blog/blog_detail.html
  tbx/project_styleguide/templates/patterns/pages/blog/blog_listing.yaml
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/services/blocks.py
  tbx/services/migrations/0006_move_blog_and_work_chooser_to_streamfields.py
  tbx/services/models.py
  tbx/static_src/sass/components/_blog-meta.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_section-title.scss
  tbx/static_src/sass/components/_work-hero.scss
  tbx/work/models.py
Due: lint:css, lint:format

Update filters so they are the same for all logos, and ensure for light high contrast mode they are not filtered (#82)
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/partners_block.md
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/pullquote_block.md
  tbx/project_styleguide/templates/patterns/pages/work/historical_work_page.md
  tbx/project_styleguide/templates/patterns/pages/work/work_page.md
  tbx/static_src/sass/components/_featured-case-study.scss
  tbx/static_src/sass/components/_pullquote.scss
Due: lint:css, lint:format

increase site width to 1800
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

extend the width of the stats at desktop
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

move underline to title text so there's no underlined spaces
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/static_src/sass/components/_listing.scss
Due: lint:css, lint:format

update heading sizes and add 2-b variant
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_block.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_rich-text.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

remove chunky border from main work image
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

make rich text headings 300 weight and reset bold tags within heading tags
  tbx/static_src/sass/components/_rich-text.scss
Due: lint:css, lint:format

set drop cap weight to 500
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

ensure work image is 100% width
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Update the link mixin to include an optional change to the underline offset and tweak the spacing on the lisitng links
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/config/_mixins.scss
Due: lint:css, lint:format

Allow Django locales to format dates according to user's preferences
  tbx/locales/README.md
  tbx/locales/__init__.py
  tbx/locales/formats.py
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page_base.html
  tbx/settings/base.py
Due: lint:format

Fix faulty image url output
  tbx/blog/feeds.py
Due: none

Design amends 1 (#84)
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--avatar.html
  tbx/project_styleguide/templates/patterns/molecules/listing/listing--image.html
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/heading2_block.html
  tbx/project_styleguide/templates/patterns/pages/work/work_page.html
  tbx/project_styleguide/templates/patterns/styleguide/typography/typography.html
  tbx/static_src/sass/base/_typography.scss
  tbx/static_src/sass/components/_grid.scss
  tbx/static_src/sass/components/_listing.scss
  tbx/static_src/sass/components/_rich-text.scss
  tbx/static_src/sass/config/_mixins.scss
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

Define ColourTheme and ColourThemeMixin
  tbx/core/utils/models.py
Due: none

Test the colour theme feature
  tbx/core/tests/test_colour_theme.py
  tbx/work/factories.py
  tbx/work/tests/__init__.py
  tbx/work/tests/test_models.py
Due: none

Update template to include page colour theme
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Update Page models so they inherit from ColourThemeMixin
  tbx/blog/migrations/0017_blogindexpage_theme_blogpage_theme.py
  tbx/blog/models.py
  tbx/core/migrations/0017_homepage_theme_standardpage_theme.py
  tbx/core/models.py
  tbx/events/models.py
  tbx/people/migrations/0004_personindexpage_theme_personpage_theme.py
  tbx/people/models.py
  tbx/services/migrations/0005_servicepage_theme.py
  tbx/services/models.py
  tbx/work/migrations/0020_historicalworkpage_theme_workindexpage_theme_and_more.py
  tbx/work/models.py
Due: none

Fix typo in theme field help text
  tbx/blog/migrations/0017_blogindexpage_theme_blogpage_theme.py
  tbx/core/migrations/0017_homepage_theme_standardpage_theme.py
  tbx/core/utils/models.py
  tbx/people/migrations/0004_personindexpage_theme_personpage_theme.py
  tbx/services/migrations/0006_servicepage_theme.py
  tbx/work/migrations/0021_historicalworkpage_theme_workindexpage_theme_and_more.py
Due: none

Run isort
  tbx/services/models.py
Due: none

Update the docs
  docs/page-models.md
Due: lint:format

Recreate migrations after rebasing
  tbx/blog/migrations/0017_blogindexpage_theme_blogpage_theme.py
  tbx/core/migrations/0017_homepage_theme_standardpage_theme.py
  tbx/people/migrations/0004_personindexpage_theme_personpage_theme.py
  tbx/services/migrations/0007_servicepage_theme.py
  tbx/work/migrations/0021_historicalworkpage_theme_workindexpage_theme_and_more.py
Due: none

Update WorkIndexPageFactory and TestColourTheme
  tbx/core/tests/test_colour_theme.py
  tbx/work/factories.py
Due: none

Make static assets available to test_python job
  .github/workflows/test.yml
Due: lint:format

Fix imports with isort
  tbx/work/models.py
Due: none

Set theme class in base template
  tbx/project_styleguide/templates/patterns/base.html
  tbx/project_styleguide/templates/patterns/base_page.html
Due: none

Check for the presence of specific CSS classes
  tbx/core/tests/test_colour_theme.py
Due: none

Use ColourTheme.NONE instead of an empty string
  tbx/core/tests/test_colour_theme.py
Due: none

Minimize queries
  tbx/core/utils/models.py
Due: none

try out custom image filters
  tbx/core/wagtail_hooks.py
  tbx/project_styleguide/templates/patterns/molecules/streamfield/blocks/featured_case_study.html
Due: none

some updates to the docs (#85)
  docs/data-import.md
  docs/front-end/fonts.md
  docs/front-end/sustainability.md
Due: lint:format

Fix faulty image url output (#86)
  tbx/blog/feeds.py
Due: none

Update CSS to match the be work on themes
  tbx/project_styleguide/templates/patterns/base.html
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

historical work page adjust margin
  tbx/static_src/sass/components/_grid.scss
Due: lint:css, lint:format

Add the banana theme, and move the common css vars for dark mode into a separate rule
  tbx/static_src/sass/config/_variables.scss
Due: lint:css, lint:format

djhtml change
  tbx/project_styleguide/templates/patterns/base.html
Due: none

Move ColourThemeMixin panels to promote tab
  tbx/blog/models.py
  tbx/core/models.py
  tbx/core/utils/models.py
  tbx/events/models.py
  tbx/people/models.py
  tbx/services/models.py
  tbx/work/models.py
Due: none

Path conditions:
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.(md|markdown|mdown)$, \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.vue$
